.profile-table {
  $columns-flex: (
    1: (
      xs: 1 1 100% !important,
      lg: 1 1 25% !important
    ),
    2: (
      xs: 1 1 100% !important,
      lg: 1 1 20% !important
    ),
    3: (
      xs: 1 1 100% !important,
      md: 0 0 0 !important,
      lg: 1 1 35% !important
    ),
    4: (
      xs: 1 1 100% !important,
      lg: 1 1 20% !important
    )
  );

  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-left: 1px solid map-get($gray, '9');
    border-right: 1px solid map-get($gray, '9');
    &__cell {
      @each $n-column, $flex  in $columns-flex {
        &:nth-child(#{$n-column}) {
          @include media-query((
            flex: $flex
          ));
        }
      }
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      @include media-query((
        padding: (
          sm: 7px 0 11px !important,
          md: 13px 0 12px !important,
          lg: 13px 0px 12px !important
        ),
        margin: (xs: 0 !important)
      ));
    }
    &__row {
      display: flex;
      flex-direction: row;
      flex: 1 1 100%;
    }
    &__columns {
      display: flex;
      flex-direction: row;
    }
  }
  &__content {
    &__row {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      @include media-query((
        padding-bottom: (sm: 17px, md: 14px, lg: 9px, xl: 20px)
      ));
      &--hidden {
        @include media-query((
          display: (md: none, lg: none, xl: none)
        ));
      }
      &-wrapper {
        &:hover {
          background: map_get($shades, 'transparent');
          @include media-query((
            background: (
              lg: map_get($shades, 'white'),
              xl: map_get($shades, 'white'))
          ));
        }
        & > .profile-table__content__row {
          &:hover {
            & > .profile-table__content__cell
              > .profile-table__content__cell__content
              > div
              > .accounts-section__table__cell
              > .d--flex
              > .er-icon.accounts-section__table__cell__icon {
              color: rgba(map_get($shades, 'black'), .5);
            }
          }
        }
        &--active {
          background: map_get($shades, 'white') !important;
          & > .profile-table__content__row__slot__separator {
            display: none !important;
          }
          & > .profile-table__content__row {
            @include media-query((
              padding: (xs: 0 12px 0 !important, sm: 0 20px 0 !important, md: 0 28px 0 !important, lg: 0 30px 14px, xl: 0 30px 15px)
            ));
          }
          & > .profile-table__content__row
            > .profile-table__content__cell
            > .profile-table__content__cell__content
            > div
            > .accounts-section__table__cell
            > .d--flex
            > .er-icon.accounts-section__table__cell__icon {
            color: rgba(map_get($shades, 'black'), .5) !important;
            svg {
              transform: rotate(180deg);
            }
          }
          & > .profile-table__content__row {
            &:hover {
              & > .profile-table__content__cell
                > .profile-table__content__cell__content
                > div
                > .accounts-section__table__cell
                > .d--flex
                > .er-icon.accounts-section__table__cell__icon {
                  color: map_get($yellow, 'base') !important;
              }
            }
          }
        }
      }
      &__slot {
        width: 100%;
        position: relative;
        display: flex;
        & > div {
          width: 100%;
        }
        &__separator {
          display: none;
        }
        &__separator::before {
          position: absolute;
          top: 0px;
          content: '';
          width: 100%;
          height: 1px;
          background: map_get($gray, '4');
          border-left: 24px solid map_get($gray, '9');
          border-right: 24px solid map_get($gray, '9');
        }
      }
    }
    &__cell {
      flex: 1 1 100%;
      overflow: hidden;
      padding: 15px 0 0;
      @include media-query((
        padding: (
          md: 23px 0 0
        )
      ));
      @each $n-column, $flex  in $columns-flex {
        &:nth-child(#{$n-column}) {
          @include media-query((
            flex: $flex
          ));
        }
      }
    }
  }


  &__filter, &__filter.er-button {
    border-radius: 50%;
    background: transparent;
    height: 24px;
    width: 24px;
    @include media-query((
      margin: (sm: 0 7px, md: 0 18px)
    ));
    flex: 0 0 auto;
    transition: transform 0.1s ease;
    box-shadow: none !important;
    & svg { color: map_get($gray, '6') }
    &--active {
      background: map_get($yellow, 'base');
      & svg { color: map_get($shades, 'black') }
    }
    &--reverse {
      transform: rotate(-180deg);
    }
    &__icon {
      &.er-icon svg {
        width: 16px;
      }
    }
    &:active, &:focus {
      outline: none;
      & svg { color: map_get($shades, 'black') }
    }
    &:hover svg { color: map_get($shades, 'black') }
  }
}
