.list-component {
  &__toggle {
    &--desktop {
      display: block;
      align-items: center;
      cursor: pointer;
      margin-left: 12px;
      @include media-query((
        display: (sm: flex),
        margin-top: (md: 7px)
      ));
      svg {
        color: rgba(map_get($shades, 'black'), 0.2);
        width: 16px !important;
      }
      a {
        font: 10px/12px $fedra-demi;
        letter-spacing: 0.5px;
        color: rgba(map_get($shades, 'black'), 0.5);
        text-decoration: none;
        border-bottom: 1px dashed rgba(map_get($shades, 'black'), 0.5);
        cursor: pointer;
        @include media-query((
          font-size: (lg: 13px),
          line-height: (lg: 16px),
          margin-left: (sm: 4px, lg: 8px)
        ))
      }
    }
    &--mobile {
      color: rgba(map_get($shades, 'black'), 0.5);
      @include media-query((
        display: (sm: block)
      ));
      svg {
        width: 16px !important;
      }
    }
  }
  &__value {
    font: 15px/20px $fedra-book;
    color: rgba(map_get($shades, 'black'), 0.8);
    letter-spacing: -0.35px;
    @include media-query((
      font-size: (
        md: 18px,
        xxl: 20px
      ),
      line-height: (
        md: 23px,
        xxl: 26px
      ),
      letter-spacing: (
        md: -1px
      )
    ))
  }
  &__price {
    margin-left: auto;
    @include media-query((
      margin-left: (
        xs: auto,
      )
    ));
    &__unit {
      font: 13px/20px $fedra-book;
      color: rgba(map_get($shades, 'black'), 0.3);
      margin-top: 6px !important;
      @include media-query((
        font-size: (
          md: 14px,
          xl: 16px,
        ),
        line-height: (
          md: 19px,
          xl: 21px,
        ),
        margin-top: (
          md: 2px !important,
          lg: 10px !important,
          xl: 7px !important,
          xxl: 9px !important,
        ),
      ))
    }
    &__caption {
      white-space: nowrap;
    }
    &__group {
      display: flex;
      align-items: flex-end;
      @include media-query((
        flex-direction: (sm: column)
      ))
    }
    &__value {
      font: 26px/24px $fedra-demi;
      color: map_get($red, 'base');
      margin-right: 5px;
      @include media-query((
        font-size: (lg: 30px, xl: 32px),
        line-height: (lg: 35px, xl: 36px),
        letter-spacing: (lg: -1.5px)
      ))
    }
  }
  &__item {
    cursor: pointer;
    background: map_get($gray, '2');
    border-radius: 0;
    margin-bottom: -20px;
    @include media-query((
      border-radius: (
        lg: 12px,
      ),
      margin-bottom: (
        sm: -32px
      ),
      margin-top: (
        sm: 0,
        md: 0
      ),
    ));
  }
  &__title-row {
    position: relative;
    align-items: center;
    border-radius: 12px;
    padding: 16px 28px 16px 29px;
    margin-left: 11px;
    border-left: 4px solid map_get($gray, '2');
    height: 56px;
    @include media-query((
      padding: (
        xs: 16px 28px 16px 14px,
        sm: 16px 44px 16px 22px,
        md: 16px 38px 16px 18px,
        lg: 16px 46px 16px 25px,
        xl: 16px 43px 16px 29px,
      ),
      margin-left: (sm: 0),
      height: (
        sm: 57px,
        md: 64px,
        lg: 70px,
        xl: 68px
      )
    ));
  }
  &__title-row-active {
    position: relative;
    align-items: center;
    background: map_get($shades, 'white');
    padding: 16px 28px 16px 29px;
    margin-left: 11px;
    border-left: 4px solid map_get($yellow, 'base');
    height: 56px;
    @include media-query((
      padding: (
        xs: 16px 28px 16px 14px,
        sm: 16px 44px 16px 22px,
        md: 16px 38px 16px 18px,
        lg: 16px 46px 16px 25px,
        xl: 16px 43px 16px 29px,
      ),
      margin-left: (sm: 0),
      height: (
        sm: 56px,
        md: 64px,
        lg: 70px,
        xl: 68px
      )
    ));
  }
  &__active-mobile {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 16px 0;
    border-left: 4px solid map_get($yellow, 'base');
    height: 56px;
    display: block;
    @include media-query((
      display: (sm: none),
    ));
  }
  &__geo {
    color: rgba(map_get($shades, 'black'), 0.2);
  }
  &__geo-active {
    color: map_get($yellow, 'base');
  }
  &__icon {
    color: rgba(map_get($shades, 'black'), 0.2);
    margin-right: 9px;
  }
  &__title {
    font: 13px/18px $fedra-book;
    letter-spacing: 0.25px;
    color: rgba(map_get($shades, 'black'), 0.8);
    padding-right: 34px;
    @include media-query((
      font-size: (
        sm: 13px,
        md: 14px,
        xl: 16px,
      ),
      line-height: (
        sm: 18px,
        md: 19px,
        xl: 21px,
  ),
      letter-spacing: (
        sm: 0.25px,
        md: 0,
        xl: -0.5px,
      ),
      margin-top: (
        md: 5px !important,
        xxl: 0 !important,
      )
    ));
    &__value {
      font: 18px $fedra-demi !important;
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        font-size: (
          lg: 30px,
          xl: 32px
        ),
        line-height: (lg: 35px, xl: 36px),
        letter-spacing: (lg: -1.5px)
      ))
    }
  }
  &__top {
    height: 10px;
  }
  &__delimiter {
    position: relative;
    margin-left: 30px;
    margin-right: 33px;
    height: 10px;
    &__bottl {
      border-bottom: 1px solid rgba(map_get($gray, '30'), 0.4);
      @include media-query((
        height: (sm: 30px)
      ))
    }
    &__bott {
      @include media-query((
        height: (sm: 30px)
      ))
    }
  }
}
