.vc-product-page
  template(v-if="isVideocontrolPlugged")
    .vc-product-page__content
      er-page-header(
        title="Видеонаблюдение"
      )

    .vc-product-page__list
      template(v-if="isDomainsLoaded")
        template(v-if="Object.keys(domains).length > 0")
          template( v-for="(item, key, idx) in domains" )
            product-folder(
              :key="key"
              class="product"
              :name="key"
              :price="getDomainPrice(key).toFixed(2)"
              :date="$moment(item.offer.availableFrom).format('DD.MM.YYYY')"
              :stopped="isDomainActive(item)"
            )
              vc-domain(
                :dkey="key"
                :domain="item"
                :user-count="getDomainUserCount(key)"
                :user-price="getDomainUserPrice(key)"
                @change="onChangeDomain"
              )

          .total-block
            .total-block__label Итого
            .total-block__sum
              er-price
                | {{ totalPrice.toFixed(2) }}

        template(v-else)
          er-empty-message(text="Видеонаблюдение не подключено")

      template(v-else)
        product-folder(:loading="true")

    .vc-product-page__footer(v-if="isPlugVideocontrolPossible")
      er-container.container--no-padding.full
        er-row
          er-flex.xs12.sm8.md6.lg4
            er-button(:color="'blue'")
              | Подключить видеонаблюдение

  template(v-else)
    VCPromo
