.wifi-analytics-choice-page {

  &.main-content {
    position: relative;
    padding: 40px 16px 0 16px;
    @include media-query((
      padding: (sm: 40px 24px 0, md: 48px 24px 0, lg: 48px 32px 0, xl: 32px 24px 0 45px),
      width: (xl: 860px),
      box-sizing: (xl: content-box),
    ));
  }

  &__banner {
    position: absolute;
    top: 0;
    right: -56px;
    width: 200px;
    @include media-query((
      right: (sm: 0),
      width: (md: 240px),
      display: (lg: none)
    ));
  }

  .page-header {
    margin-bottom: 32px;
    @include media-query((
      margin-bottom: (md: 40px, xl: 48px)
    ));

    .er-icon svg {
      height: 20px;
      @include media-query((
        height: (xl: 16px)
      ));
    }
  }

  &__points-title {
    @extend %body;
    max-width: 360px;
    margin-bottom: 24px;
    @include media-query((
      max-width: (xl: 100%),
      margin-bottom: (md: 32px)
    ));
  }

  &__points {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 -17px 28px;
    @include media-query((
      margin: (sm: 0 -25px 28px, md: 0 0 36px),
      width: (xl: 860px)
    ));
  }

  &__point {
    display: flex;
    flex-direction: row;
    background: map_get($shades, 'white');
    box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1),
                0 2px 2px rgba(map_get($shades, 'black'), 0.05);
    margin-bottom: 4px;
    max-width: 322px;
    padding: 8px 16px;
    @include media-query((
      border-radius: (md: 12px),
      max-width: (sm: 482px, md: 592px, lg: 896px, xl: 860px),
      padding: (sm: 8px 24px, md: 8px, xl: 12px 8px)
    ));

    &:last-child {
      margin-bottom: 0;
    }

    .er-input {
      align-items: center;

      &__slot {
        margin-bottom: 0;
        @include media-query((
          min-height: (md: 24px !important) // замена important в .er-input__slot
        ));
      }

      &__append-outer {
        @extend %body;
      }
    }

    .er-input > .er-input__control {
      flex: 0 1 24px;
      width: 24px;
      margin-right: 8px;

      svg {
        height: 16px;
      }
    }
  }

  &__buttons {
    text-align: center;
    @include media-query((
      display: (sm: flex)
    ));

    .er-button {
      margin: 0 0 8px 0;
      @include media-query((
        margin: (sm: 0 16px 0 0, md: 0 24px 0 0),
        width: (sm: 208px, md: 284px, lg: 283px, xl: 275px),
        height: (md: 40px, xl: 48px)
      ));

      &.er-button--blue {
        color: map_get($shades, 'white');
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__modal-caption {
    @extend %caption2;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    b {
      @extend %h4;
    }
  }

  &__modal-text {
    @extend %body;
    margin-bottom: 8px;
  }
}
