.telephony-blacklist-page {
  &__content {
    @extend %main-content-padding-top;
    @extend %main-content-width;
    @extend %main-content-padding-h;
  }

  &__phones {
    @extend %main-content-width;
  }

  &__button {
    @extend %main-content-padding-top;
    @extend %main-content-padding-h;

    @include min-breakpoint("sm") {
      width: 60%;
    }

    @include min-breakpoint("lg") {
      width: 33%;
    }
  }

  &__list {
    margin-left: -16px;
    margin-right: -16px;

    @include min-breakpoint("sm") {
      margin-left: -24px;
      margin-right: -24px;
      margin-bottom: 24px;
    }

    @include min-breakpoint("md") {
      margin-bottom: 32px;
      margin-left: 0px;
      margin-right: 0px;
    }
    @include min-breakpoint("lg") {
      margin-top: 16px;
    }

    &__item {
      padding: 12px 16px;
      display: flex;

      @include min-breakpoint("sm") {
        padding: 12px 24px;
      }

      @include min-breakpoint("md") {
        margin-left: 0px;
        margin-right: 0px;
      }
      

      justify-content: space-between;
      align-items: center;

      .er-icon {
        cursor: pointer;
        @include color-black(.2);

      }

      &:nth-child(even) {
        background-color: map-get($gray, '9');
      }
    }
  }

  &__add-wrapper {
    display: grid;

    @include min-breakpoint("sm") {
      align-items: center;
      grid-column-gap: 16px;
    }

    @include min-breakpoint("md") {
      grid-template-columns: 40% 40%;
    }

    .button {
      @include min-breakpoint("sm") {
        grid-column: 2/3;
        grid-row: 1;
      }
    }

  }

  &__number-selector {
    margin-top: 16px;
    margin-bottom: 24px;

    @include min-breakpoint("md") {
      margin-top: 24px;
      margin-bottom: 32px;
      width: 40%;
    }
    @include min-breakpoint("lg") {
      margin-bottom: 48px;

    }
  }

  &__number-input {
    margin-top: 16px;
    margin-bottom: 16px;

    @include min-breakpoint("sm") {
      margin: 0;
      grid-column: 1/2;
      grid-row: 1;
    }

  }

  &__plug {
    margin-top: 16px;

    &__item {
      margin-bottom: 8px;
    }

    &__button {
      margin-top: 32px;
      display: grid;
      grid-gap: 8px;

      @include min-breakpoint("sm") {
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr;
      }

      @include min-breakpoint("md") {
        grid-template-columns: 40% 40%;
        margin-top: 40px;
      }

      @include min-breakpoint("lg") {
        grid-gap: 24px;
      }
    }
  }
}
