.operations {
  width: 100%;
  background: linear-gradient(to top right, map_get($gray, '26') 28.65%, map_get($shades, 'white') 90.63%);
  padding: 1px;
  overflow: hidden;
  margin-top: 4px;
  box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1), 0 2px 2px rgba(map_get($shades, 'black'), 0.05);
  position: relative;
  z-index: 1;
  @include media-query((
    border-radius: (
      md: 0,
      lg: 12px
    ),
  ));
  &__content {
    height: 100%;
    width: 100%;
    background-color: map_get($shades, 'white');
    border-radius: inherit;
    border-right: 4px solid map_get($shades, 'transparent');
    display: flex;
  }
  &__date {
    position: absolute;
    &__dm {
      @extend %h4-font;
      display: block;
      @include media-query((
        display: (md: inline-block)
      ));
    }
    &__yy {
      position: absolute;
      display: block;
      opacity: 0.3;
      top: 20px;
      left: 0;
      @extend %caption1-font;
      @include media-query((
        display: (md: none)
      ));
    }
    &__yy-str {
      display: none;
      opacity: 0.3;
      @extend %h4-font;
      @include media-query((
        display: (md: inline-block)
      ));
    }
  }
  &__icon {
    background: map_get($gray, '4');
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    svg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 64px !important;
      color: map_get($gray, '3');
      @include media-query((
        width: (
          md: 90px !important,
          xl: 96px !important
        )
      ));
    }
    @include media-query((
      min-width: (
        sm: 94px,
        md: 110px,
      ),
      flex-direction: (sm: row)
    ))
  }
  &__wrapper {
    display: flex;
    width: 100%;
    z-index: 0;
    padding-left: 16px;
    background: map_get($shades, 'white');
    margin-top: 1px;
    @include media-query((
      padding-left: (
        md: 24px
      ),
    ));
    &__red {
      border-left: 4px solid map_get($red, 'base');
    }
    &__green {
      border-left: 4px solid map_get($green, 'base');
    }
  }
  &__info {
    width: inherit;
  }
  &__title {
    @extend %h4-font;
    margin-top: 17px;
    margin-bottom: 0;
    @include media-query((
      margin-top: (
        sm: 20px,
        md: 24px,
        lg: 24px
      ),
      margin-bottom: (
        sm: 16px,
        md: 23px,
        lg: 28px
      )
    ));
  }
  &__type-charge {
    @extend %caption2-font;
    color: rgba(map_get($shades, 'black'), 0.3);
    align-items: center;
    @include media-query((
      margin-top: (
        sm: 9px,
        md: 7px,
        lg: 3px
      )
    ));
    &--mobile {
      color: rgba(map_get($shades, 'black'), 0.5);
      position: relative;
      display: block;
      top: 24px;
      @include media-query((
        top: (sm: -72px),
        left: (sm: 129px),
        display: (sm: block)
      ));
      svg {
        width: 16px !important;
      }
    }
  }
  &__price {
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    justify-content: flex-start;
    padding-right: 24px !important;
    @extend %h2-font;
    @include media-query((
      border-radius: (md: 0),
      justify-content: (sm: flex-end),
    ));
    &__value {
      margin-left: 0;
      white-space: nowrap;
      @include media-query((
      margin-left: (sm: 16px),
    ));
      &__red {
        color: map_get($red, 'base');
      }
      &__green {
        color: map_get($green, 'base');
      }
    }
    &__unit {
      position: relative;
      opacity: 0.3;
      @extend %body-font;
    }
  }
  & i.er-icon--rouble {
    position: absolute;
    left: 22px;
    @include media-query((
      left: (
        sm: 48px,
        md: 44px,
      ),
    ));

  }
}
