er-card-products(
  icon="cloud_telephone"
  date="false"
  :price="price"
  :priceText="'₽/мес'"
  :loading="loading"
  :stopped="isStopped"
).oats-point
  .oats-point__title
    span.body-font {{ name }}
    template(v-if="isStopped")
      .oats-point__subtitle Приостановлена с: {{ stopDate }}

  template(v-slot:count-connection)
    span.service-plugged-count-label Подключено
    span.service-count-label {{ serviceCount }} сервис{{ serviceCountPlural }}

  template(v-slot:stopped-block)
    .stopped-message
      .stopped-message__title Услуга приостановлена, вы можете её
      .link-wrap
        a.stopped-message__link(:href="restoreLink") восстановить

  template(v-slot:middle-block)
    .middle-block
      .oats-point__portal-link
        er-icon(name="cloud_telephone")
        .link-wrap
          router-link.link(:to="oatsPortalLink") Настроить ОАТС

  template(v-if="!isStopped" v-slot:slider-content)
    slot
