.payment-history-item {
  width: 100%;
  background: $border-gradient;
  padding: 1px;
  border-radius: 12px;

  .wrapper {
    width: 100%;
    height: 100%;
    background-color: map-get($gray, '9');
    border-radius: inherit;
    display: flex;
    align-items: stretch;
  }

  .left-side {
    width: 94px;
    background-color: map-get($gray, '4');
    border-radius: 12px 0 0 12px;
    position: relative;
    overflow: hidden;
    padding: 0 $padding-x6;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    @include min-breakpoint('sm') {
      width: 100px;
    }

    @include min-breakpoint('md') {
      width: 116px;
      flex-direction: row;
      align-items: center;
    }

    .date-month,
    .year {
      @extend %h4;
      position: relative;
      z-index: 1;
    }

    .date-month {
      @include color-black(0.8);
    }

    .year {
      color: rgba(map-get($gray, '41'), 0.8);
    }

    .icon {
      position: absolute;
      right: -27px;
      top: 50%;
      transform: translateY(-50%);
      @include color-white(0.5);

      svg {
        width: 77px;

        @include min-breakpoint('sm') {
          width: 64px;
        }

        @include min-breakpoint('md') {
          width: 94px;
        }
      }
    }

    .loading {
      width: 100%;
    }
  }

  .right-side {
    border-left: 4px solid map-get($shades, 'transparent');
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;

    @include min-breakpoint('sm') {
      padding: 22px 16px;
      flex-direction: row;
      align-items: center;
    }

    @include min-breakpoint('md') {
      padding: 27px 24px 24px;
    }

    .info {
      width: 100%;
    }

    .red_description {
      color: map-get($red, 'base');
    }

    .info .title {
      @extend %h4-font;
      @include color-black(0.8);
    }

    .info .description {
      @extend %caption1-font;
      @include color-black(0.3)
    }

    .info .fiscal {
      @extend %caption2-font;
    }

    .amount {
      @extend %h2-font;
      text-align: right;
      white-space: nowrap;

      span {
        @extend %body-font;
        @include color-black(0.3);
      }
    }

    .loading {
      width: 100%;
    }
  }

  &.write_off {
    .right-side {
      border-left-color: map-get($red, 'base');
    }

    .amount {
      color: map-get($red, 'base');
    }
  }

  &.replenishment {
    .right-side {
      border-left-color: map-get($green, 'base');
    }

    .amount {
      color: map-get($green, 'base');
    }
  }
}
