.vc-addon-list-page
  .vc-addon-list-page__header
    er-page-header(
      title="Видеоаналитика"
      link-text="Назад в видеонаблюдение"
      :backlink="{name: 'vc-index', type: 'forpost'}"
    )
      template(#info) Стоимость указана с НДС

  .vc-addon-list-page__content
    template(v-if="isLoaded")
      template(v-if="isEmpty")
        er-empty-message(text="У вас нет подключенных камер для видеоаналитики")

      template(v-else v-for="(addon,idx) in availableAnalyticsList")
        addon-card(
          :key="addon.id"
          :tomsId="addon.tomsId"
          :title="addon.name"
          :price="addon.prices.find(price => price.type === 'Monthly Fee').amount"
        )
    template(v-else)
      addon-card(
        :isLoaded="isLoaded"
      )
      addon-card(
        :isLoaded="isLoaded"
      )
      addon-card(
        :isLoaded="isLoaded"
      )

  .vc-addon-list-page__footer(v-if="isLoaded && !isEmpty")
    er-button(
      color="yellow"
      @click="$router.push({name: 'vc-index', type: 'forpost'})"
    ) Видеонаблюдение
