$pre: ".vc-addon-list-page";

#{$pre} {
  @extend %main-content;

  &__content,
  &__footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: $padding-x4;

    @include min-breakpoint("sm") {
      grid-template-columns: 1fr 1fr;
    }

    @include min-breakpoint("lg") {
      gap: $padding-x6;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include min-breakpoint("xl") {
      gap: $padding-x4;
    }
  }

  &__content {
    margin-top: $padding-x8;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }

    @include min-breakpoint("xs") {
      margin-top: $padding-x12;
    }
  }

  &__footer {
    margin-top: $padding-x8;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }
  }
}
