.payments-on {
  position: relative;
  background: map_get($gray, '3');
  z-index: 2;
  left: -300px;
  top: 47px;
  min-height: 381px;
  &__container {
    width: 100% !important;
    margin-left: 300px !important;
    margin-top: -43px;
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 0;
    top: 0;
    color: map_get($gray, 'base');
    @include media-query((
      width: (
        md: 80px !important,
      ),
    ));
  }
  &__pos {
    position: relative;
    margin-left: 30px;
    top: 0;
    @include media-query((
      margin-left: (md: -10px),
      top: (md: 16px),
    ));
  }
  &__info {
    color: map_get($green, 'base');
    position: absolute;
    font-family: $fedra-demi;
    &__icon svg{
      width: 16px !important;
      margin-right: 5px;
    }
    &__span {
      font-family: $fedra-demi !important;
      color: map_get($green, 'base') !important;
    }
  }
  &__butt {
    position: relative;
    top: 36px;
    left: -55px;
    max-width: 127% !important;
    width: 360px !important;
    @include media-query((
      max-width: (sm: 100% !important),
      width: (
        sm: 241px !important
      ),
      left: (
        sm: -81px
      ),
      top: (sm: 86px),
    ));
  }
  &__email {
    font: 13px/18px $fedra-book;
    color: rgba(map_get($shades, 'black'), 0.8);
    letter-spacing: -0.25px;
    @include media-query((
      font-size: (
        md: 14px,
      ),
      line-height: (
        md: 19px,
      ),
      letter-spacing: (
        md: -1px
      )
    ))

  }
}
