.payments-on {
  &__icon {
    svg {
      width: 64px !important;

      @include min-breakpoint('md') {
        width: 80px !important;
      }

      @include min-breakpoint('lg') {
        width: 96px !important;
      }

      @include min-breakpoint('xl') {
        width: 128px !important;
      }
    }

    &--green {
      color: map-get($green, 'base');
    }

    &--red {
      color: map-get($red, 'base');
    }

    &--yellow {
      color: map-get($yellow, 'base');
    }
  }

  &__status {
    &__title {
      @extend %h2;
    }

    &__description {
      margin-left: #{64 + 16}px;

      @include min-breakpoint('md') {
        margin-left: #{80 + 16}px;
      }

      @include min-breakpoint('lg') {
        margin-left: #{96 + 16}px;
      }

      @include min-breakpoint('xl') {
        margin-left: #{128 + 16}px;
      }
    }
  }

  &__button-chat {
    text-align: center;

    @include min-breakpoint('sm') {
      text-align: left;
    }

    > i > svg {
      width: 32px;
      color: map-get($yellow, 'base');
    }

    a {
      cursor: pointer;
    }
  }

  &__action {
    width: 100%;
  }

  &__action.success,
  &__action.error {
    @include min-breakpoint('sm') {
      max-width: 208px;
    }
  }
}
