$pre: '.er-corner-button';

#{$pre} {
  cursor: pointer;
  @include color-black(.2);
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  &:hover {
    @include color-black(.5);

    #{$pre}__label {
      @include color-black(.5);
    }
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  &--active {
    .er-icon {
      transform: rotate(180deg);
    }
  }

  .er-icon {
    transition: all $primary-transition;

    svg {
      width: $padding-x4;
    }
  }

  &__label {
    @extend %caption2;
    transition: all $primary-transition;
    border-bottom: 1px dashed;
    user-select: none;

    &:empty {
      display: none;
    }
  }
}
