.er-corner-button(
  @click="onClick"
  v-class-mod="{active: value, reversed}"
)
  er-icon(name="corner_down")
  span(:class="isLinkDashedYellow ? `${pre}__border-yellow` : `${pre}__label`")
    slot

