@import "./variables";

.card-payment-page {
  &__block {
    @extend %block-background;
  }

  &__red {
    color:  map_get($red, 'base') !important;
  }

  &__card-slider-block,
  &__actions-block {
    width: 100%;
    flex-basis: 100%;
  }

  &__card-slider-block {
    .swiper-container {
      height: 272px;

      @include min-breakpoint('sm') {
        height: 252px;
      }

      @include min-breakpoint('md') {
        height: 404px;
      }
    }

    @include min-breakpoint('lg') {
      order: 2;

      flex-basis: 60%;
      max-width: 60%;
    }
  }

  &__actions-block {
    @include min-breakpoint('lg') {
      order: 1;

      flex-basis: 40%;
      max-width: 40%;
    }
  }

  &__amount-input .ert-text-field {
    > .ert-input__control > .ert-input__slot > .ert-text-field__slot {
      > .ert-text-field__suffix {
        @include color-black(0.2);
      }
    }

    > .ert-input__control > .ert-text-field__details > .ert-messages a {
      color: inherit;
    }
  }

  &__offer-terms {
    @extend %caption1-font;
    @include color-black(0.5);

    a {
      color: inherit;
    }
  }

  &__confirm-dialog,
  &__success-dialog,
  &__error-dialog {
    background-color: map-get($shades, 'white');
    padding: $padding-x6;

    @include min-breakpoint('xl') {
      padding: $padding-x8;
    }

    &__icon > i > svg {
      width: 64px !important;
    }

    &__title {
      @extend %h4-font;
      @include color-black(0.8);

      .amount .penny {
        @include color-black(0.3);
      }
    }

    &__actions {
      display: flex;
      margin-top: 220px;

      @include min-breakpoint('sm') {
        margin-top: 129px;
      }

      @include min-breakpoint('md') {
        margin-top: 99px;
      }

      @include min-breakpoint('xl') {
        margin-top: 114px;
      }
    }

    &__action {
      width: 100%;
    }

    &__warning,
    &__description,
    &__error-text {
      @extend %caption1-font;
    }

    &__description {
      @include color-black(0.5);
    }
  }

  &__confirm-dialog {
    &__icon {
      color: map-get($red, 'base');
    }

    &__warning {
      color: map-get($red, 'base');
    }
  }

  &__success-dialog {
    &__icon {
      color: map-get($green, 'base');
    }
  }

  &__error-dialog {
    &__icon {
      color: map-get($red, 'base');
    }
  }
}
