.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  @include media-query((
    margin-bottom: (md: 48px, xl: 64px)
  ));
  @include min-breakpoint('xl') {
    display: block;
  }
  .title {
    @include min-breakpoint('xl') {
      pointer-events: none;
    }
  }
}
