.slider-content {
  &__h4 {
    @extend %h4;
  }

  &__caption2 {
    @extend %caption2;
  }

  &__caption {
    @extend %caption1;
  }

  &__units {
    @extend %caption2;
    @include color-black(0.5);
  }

  &__infolist {
    grid-area: infolist;
  }
  &__slider {
    .infolist-link {
      @extend %link-behaviour;
      text-decoration: none;
      border-bottom: 0;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      gap: $padding-x2;
      color: map-get($gray, '5');

      .infolist-link__label {
        border-bottom: 1px dashed;
      }
    }

    &__tariff-wrapper,
    &__date-wrapper {
      display: flex;

      @include max-breakpoint("lg") {
        flex-basis: 50%;
      }

      &::v-deep  svg {
        @include color-black(0.2);
      }
    }

    &__tariff-wrapper {
      grid-area: tariff;
      justify-self: baseline;

      @include max-breakpoint("sm") {
        padding-bottom: 24px;
      }
    }

    &__date-wrapper {
      grid-area: date;
      @include max-breakpoint("sm") {
        padding-bottom: 24px;
      }
    }
    &__channels-wrapper {
      grid-area: channels;
      display: flex;
      flex-direction: column;

    }
    &__channels-e1-wrapper {
      display: grid;
      column-gap: 8px;
      row-gap: 4px;
      grid-template-areas:
        "icon caption2"
        "icon count";
      .er-icon {
        grid-area: icon;
        @include color-black(0.2);
      }
      .h4 {
        grid-area: count;
      }
      .caption2 {
        grid-area: caption2;
      }
    }
    &__channels {
      max-width: 140px;
      margin-right: 20px;
      &-select {
        display: flex;
        margin-top: 8px;
        align-items: center;
      }
      &-price {
        width: 110px;
      }
    }

    &__tariff,
    &__date {
      padding-left: 8px;
      @include min-breakpoint("md") {
        padding-left: 16px;
      }
    }

    &__info-wrapper {
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "date tariff"
      "channels channels";
      @include min-breakpoint("sm") {
        grid-gap: 24px;
      }

      @include min-breakpoint("md") {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
          "date tariff infolist"
          "channels channels .";
        margin-bottom: 40px;
      }
      @include min-breakpoint("lg") {
        grid-template-columns: 3fr 4fr 3fr;
        align-items: center;
        justify-items: center;
        grid-template-areas:
          "tariff channels date infolist";
      }
    }

    .add-button {
      svg {
        @include color-black(.2)
      }
    }
    &-buttons {
      display: grid;
      grid-gap: 8px;
      padding-top: $padding-x6;

      @include min-breakpoint("sm") {
        grid-template-columns: repeat(1, 264px);
      }

      @include min-breakpoint("md") {
        grid-template-columns: repeat(2, 264px);
        grid-gap: 16px;
      }

      @include min-breakpoint("lg") {
        grid-template-columns: repeat(3, 1fr);
        padding-top: $padding-x8;
      }

      @include min-breakpoint("xl") {
        grid-template-columns: repeat(2, 287px);
        grid-gap: 32px;
      }

      .er-button {
        @include color-black(0.8);
      }
    }
  }

  &__packages {
    @include min-breakpoint("sm") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
    }

    @include min-breakpoint("md") {
      grid-template-columns: repeat(2, 264px);
    }

    @include min-breakpoint("lg") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include min-breakpoint("xl") {
      grid-template-columns: repeat(2, 287px);
      grid-gap: 32px;
    }

    @include min-breakpoint("sm") {
      .er-card {
        height: 100%;

        &__content {
          height: 100%;
        }
      }
    }

    &-title {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }



  &__plug-package {
    height: 100%;
    .er-card__content {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include min-breakpoint("md") {
        padding: 24px;
      }

      @include min-breakpoint("xl") {
        padding: 32px;
      }
    }

    &__title {
      width: 50%;
      @extend %h3;

      @include min-breakpoint("sm") {
        width: 70%;
      }
    }

    &__footer {
      margin-top: 73px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      .er-icon {
        transition: $primary-transition;
        position: absolute;
        bottom: 0;
        right: 0;

        svg {
          transition: $primary-transition;
          width: 48px;
          color: map-get($yellow, "base");
        }
      }
    }

    &:hover {
      cursor: pointer;

      .er-card__content {
        background: radial-gradient(50% 50% at 50% 50%, #ffdd00 55.5%, #fcd300 100%);
      }

      .er-icon {
        bottom: -80px;
        right: -80px;

        svg {
          color: rgba(map-get($shades, "white"), 0.8);
          width: 200px;
        }
      }
    }
  }

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
