.reverce-zone-item-component
  .content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .reverce-zone
      PuSkeleton
    .delete
      PuSkeleton
.reverce-zone-item-component
  .content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .reverce-zone
      PuSkeleton
    .delete
      PuSkeleton
.reverce-zone-item-component
  .content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .reverce-zone
      PuSkeleton
    .delete
      PuSkeleton
