.dmp-form-page {
  &__input-inn {
    width: 100%;
    max-width: 320px;
  }
  &__description-inn {
    width: 100%;
    max-width: 512px;
    font: 16px/21px $fedra-book;
    letter-spacing: -0.5px;
    color: rgba(map_get($shades, 'black'), 0.5);
    a {
      color: inherit;
    }
  }
  &__submit-inn {
    width: 100%;
    max-width: 256px;
  }
  &__check-text {
    font: 16px/21px $fedra-book;
    letter-spacing: -0.5px;
    color: rgba(map_get($shades, 'black'), 0.8);
  }
  .container {
    max-width: 1440px;
    margin-left: 0;
    .flex {
      margin-bottom: 18px;
    }
  }
  .file-input {
    .top {
      @extend %h4;
      @include color-black(0.5);
    }
    label {
      input { display: none }
      @extend %h4;
      @include color-black(0.8);
      border-bottom: 1px dashed map-get($red, 'base');
      transition: color $primary-transition;
      cursor: pointer;
      &:hover {
        @include color-black(1);
      }
      &.success {
        color: map-get($green, 'base');
        border-bottom-color: map-get($green, 'base');
      }
      &.error {
        color: map-get($red, 'base');
        border-bottom-color: map-get($red, 'base');
      }
    }
    .description {
      font: 14px/19px $fedra-book;
      @include color-black(0.5);
      margin-top: 20px;
    }
  }
  .loading-client-info {
    @extend %h3;
    &::after {
      content: '';
      display: inline-block;
      animation: waitDots 1s;
      animation-iteration-count: infinite;
    }
  }
}
