*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: map_get($red, 'lighten-2');
}

*::-moz-selection {
  background: map_get($red, 'lighten-2');
}

html:not(.auto),
body:not(.auto) {
  height: 100%;
}

// Запрещаем поворот
//@media screen and (orientation: landscape) and (max-device-width: map_get($grid-breakpoint, lg)) {
//  html {
//    transform: rotate(-90deg);
//    transform-origin: left top;
//    height: 100vw;
//    position: absolute;
//    top: 100%;
//    left: 0;
//  }
//}

body {
  font-family: $fedra-book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: map_get($shades, 'transparent');
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

$color-of-dragger: map_get($red, 'base');

.vb > .vb-dragger {
  z-index: 5;
  width: 4px;
  right: 0;
  cursor: pointer;
}

.vb > .vb-dragger > .vb-dragger-styler {
  backface-visibility: hidden;
  transform: rotate3d(0, 0, 0, 0);
  transition: background-color 100ms ease-out,
              margin 100ms ease-out,
              height 100ms ease-out;
  background-color: rgba($color-of-dragger, 1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
  width: 4px;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-of-dragger, 1);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba($color-of-dragger, 1);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-of-dragger, 1);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-of-dragger, 1);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.error-block {
  width: 100%;
  padding: 16px;
  border: 1px solid map_get($shades, 'black');
  overflow: auto;
}
