$pre: '.ddos-plug-page';


#{$pre} {

  &__check-ip-title {
    padding-bottom: 16px;
    @extend %h3;

    @include min-breakpoint("md") {
      padding-bottom: 24px;
    }
  }

  &__ip-item {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    @include min-breakpoint("md") {
      margin-bottom: -12px;
    }

    >>> .er-input {
      flex: none
    }
  }

  &__ip-text {
    @extend %h4;
    padding-left: 4px;
    padding-bottom: 4px;

    @include min-breakpoint("sm") {
      padding-left: 8px;
    }

    @include min-breakpoint("md") {
      padding-left: 12px;
    }
  }

  &__unit {
    padding-left: 4px;
    @extend %caption1;
  }

  &__buttons {
    margin-top: 32px;

    @include min-breakpoint("sm") {
      display: flex;
    }

    @include min-breakpoint("lg") {
      width: 60%;
    }
  }

  &__connect-button {
    @include max-breakpoint("sm") {
      margin-bottom: 8px;
    }

    @include min-breakpoint("sm") {
      margin-right: 16px;
      flex-basis: 66%;
    }
  }

  &__cancel-button {
    @include min-breakpoint("sm") {
      flex-basis: 33%;
    }
  }

  &__price-title {
    margin-top: 40px;
    margin-bottom: 16px;

    @include min-breakpoint("sm") {
      margin-bottom: 24px;
    }
  }

  &__prices-table {
    @include min-breakpoint("sm") {
      margin: 0 -48px;
    }
    @include min-breakpoint("lg") {
      margin: 0;
    }
    .row {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 16px;

      @include min-breakpoint("sm") {
        padding-left: 32px;
      }
      @include min-breakpoint("md") {
        padding-left: 40px;
      }
    }

    .row:nth-child(2n) {
      background-color: map-get($gray, '9');
    }

    .position {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
    }

    .head {
      padding-bottom: 8px;
      @extend %caption2;
      @include min-breakpoint("sm") {
        padding-left: 16px;
      }
      @include min-breakpoint("md") {
        padding-left: 24px;
      }
    }

    .price-cel {
      display: flex;
      align-items: flex-end;
    }
  }
}
