.contacts-section{
  $gap: (
    'xs': 16px,
    'sm': 24px,
    'md': 24px,
    'lg': 24px,
    'xl': 32px
  );

  $root: #{&};
  @extend %body-font;
  background: map_get($gray, '9');
  color: rgba(map_get($shades, 'black'), 0.8);

  &__search{
    .er-input__slot{
      margin-bottom: 0;
      border-color: transparent !important;

      @include media-query((
        border-color: (md: rgba(map_get($shades, 'black'), 0.2) !important)
      ));

      label{
        right: $padding-x1;
        left: auto;

        @include media-query((
          right: (md: auto),
          left: (md: 0)
        ));
      }
    }

    width: 55%;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    z-index: 2;

    @include media-query((
      width: (md: auto),
      position: (md: static),
      top: (sm: calc(100% + 17px))
    ));
  }

  &__total-num{
    @extend %caption2;
    width: 100%;
    display: block;
    text-align: right;
  }

  &__header,
  &__footer{
    padding: 24px 16px 16px;
    @include media-query((
      padding: (
        sm: 24px 24px 16px,
        md: 24px 24px 30px,
        lg: 32px 30px 17px
      )
    ));
  }

  &__header{
    &__aside{
      display: inline-flex;
      align-items: flex-end;
      position: relative;

      @include media-query((
        align-items: (
          lg: center
        )
      ));
    }
  }

  &__title-wrap{
    display: inline-flex;
    align-items: center;
  }

  &__title{
    @extend %h2;
  }

  &__title-hint{
    &--inline {
      margin-left: $padding-x3;

      @include media-query((
        margin-left: (
          md: $padding-x4
        )
      ));

      #{$root}__title-hint__ico{
        color: map_get($gray, '24');
      }
    }

    &--popup{
      #{$root}__title-hint__ico{
        margin-bottom: $padding-x2;
        color: map_get($red, 'base');
        width: 52px;
        height: 52px;

        svg {
          width: inherit !important;
          height: inherit !important;
        }
      }

      #{$root}__title-hint__title{
        margin-bottom: $padding-x3;
      }
    }

    &__title{
      @extend %h3;
      margin-bottom: $padding-x2;
    }
  }

  &__dialog{
    @extend %body-font;
    padding: $padding-x8;
    background-color: map_get($shades, 'white');

    &__ico{
      margin-bottom: $padding-x2;
      color: map_get($red, 'base');
      width: 52px;
      height: 52px;

      @at-root #{$root}__dialog--error &{
        color: map_get($red, 'base');
      }

      svg {
        width: inherit !important;
        height: inherit !important;
      }
    }

    &__title{
      @extend %h3;
      margin-bottom: $padding-x3;
    }

    &__close-wrap{
      margin-top: $padding-x8;
      text-align: right;
    }

    &__close{
      color: map_get($green, 'base');
      border-bottom: 1px dashed;
      cursor: pointer;
    }
  }

  &__footer{
    flex-direction: column;
    padding-top: $padding-x4;
    @include media-query((
      padding-top: (
        md: $padding-x8,
        lg: $padding-x10
      )
    ));

    #{$root}__paginator {
      margin-bottom: $padding-x6;
      order: -1;

      @include media-query((
        order: (md: initial),
        text-align: (md: right),
        margin-bottom: (md: 0)
      ));
    }

    @include media-query((
      flex-direction: (
        md: row
      )
    ));

    .er-button {
      @extend %small-icon;

      .er-icon {
        @include color-black(.3)
      }
    }
  }
}
