.contacts-section{
  $gap: (
    'xs': 16px,
    'sm': 24px,
    'md': 24px,
    'lg': 24px,
    'xl': 32px
  );

  $root: #{&};
  @extend %body-font;
  background: map_get($gray, '9');
  color: rgba(map_get($shades, 'black'), 0.8);

  &__header,
  &__footer{
    padding: 22px 16px 16px;
    @include media-query((
      padding: (
        sm: 20px 24px 16px,
        md: 20px 16px 30px,
        lg: 27px 30px 17px
      )
    ));
  }

  &__title-wrap{
    display: inline-flex;
    align-items: center;
  }

  &__title{
    @extend %h2;
  }

  &__title-hint{

    &--inline {
      margin-left: $padding-x3;

      @include media-query((
        margin-left: (
          md: $padding-x4
        )
      ));

      #{$root}__title-hint__ico{
        color: map_get($gray, '24');
      }
    }

    &--popup{
      #{$root}__title-hint__ico{
        margin-bottom: $padding-x2;
        color: map_get($yellow, 'base');
        width: 52px;
        height: 52px;

        svg {
          width: inherit !important;
          height: inherit !important;
        }
      }

      #{$root}__title-hint__title{
        margin-bottom: $padding-x3;
      }
    }

    &__title{
      @extend %h3;
      margin-bottom: $padding-x2;
    }
  }

  &__dialog{
    @extend %body-font;
    padding: $padding-x8;
    background-color: map_get($shades, 'white');

    &__ico{
      margin-bottom: $padding-x2;
      color: map_get($yellow, 'base');
      width: 52px;
      height: 52px;

      @at-root #{$root}__dialog--error &{
        color: map_get($red, 'base');
      }

      svg {
        width: inherit !important;
        height: inherit !important;
      }
    }

    &__title{
      @extend %h3;
      margin-bottom: $padding-x3;
    }

    &__close-wrap{
      margin-top: $padding-x8;
      text-align: right;
    }

    &__close{
      color: map_get($green, 'base');
      border-bottom: 1px dashed;
      cursor: pointer;
    }
  }

  &__footer{
    flex-direction: column;

    #{$root}__paginator {
      margin-bottom: $padding-x6;
      order: -1;

      @include media-query((
        order: (md: initial),
        text-align: (md: right),
        margin-bottom: (md: 0)
      ));
    }

    @include media-query((
      flex-direction: (
        md: row
      )
    ));
  }

  &__add-btn{
    &.er-button{
      padding: 0 $padding-x4;

      .er-button__content{
        justify-content: center;
        position: relative;

        .er-button__icon{
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .er-icon{
        svg {
          width: 12px !important;
          height: 12px;
        }
      }
    }
  }
}
