common-document(
  :class="{'er-document--signed': documentIsSigned}"
).er-document--userlist.er-document--big-doc
  template(v-slot:header)
    .er-document__title(v-if="documentIsSigned") Список пользователей
    div(v-else)
      .er-document__title {{ document.type.name }}
      .er-document__title--upload(@click="") Загрузить список пользователей

    .question-button(
      @click="onClickQuestion()"
    )
      er-icon(
        name="question"
      ).er-icon--question

    component(
      :is="currentDialog"
      :active="openDialog"
      @close="onCloseQuestion()"
    )

    .er-document__subtitle(v-if="documentIsSigned")
      .er-document__update-label
        | Обновить с
      .er-document__update-period
        .date {{ document.updatePeriodFrom|formatDate("DD.MM") }}-{{ document.updatePeriodTo|formatDate("DD.MM") }}
          span.date__year .{{ document.updatePeriodTo|formatDate("YYYY") }}

  template(v-slot:body)
    .just-wrap(v-if="documentIsSigned")
      .er-document__text.d-sm--none
        div.caption1 Вы обязаны обновлять каждый квартал список пользователей во исполнение требований
          a(href="#").link Правил оказания услуг связи по передаче данных

    .er-document__text(v-else)
      div.caption1 Вы обязаны предоставить список пользователей во исполнение требований
        a(href="#").link Правил оказания услуг связи по передаче данных

  template(v-slot:footer)
    .signed(v-if="documentIsSigned")
      er-attach(:url="document.fileName")
      er-button(:color="'blue'") Обновить
    .not-signed(v-else)
      .er-document__download-template
        a(href="#download-user-list-template").link.link--dashed--black
          | Скачать шаблон
      er-button(:color="'blue'") Загрузить
