.history-pay {
  @extend %main-content-padding-top;
  &__filter {
    margin-left: 0;
    @include media-query((
      margin-left: (xl: 20px),
    ));
  }
  &__content {
    @extend %main-content-width;
    @extend %main-content-padding-h;
    @extend %margin-left--menu-width;
  }
  &__container-main {
    min-width: 320px;
    margin-left: -16px;
    margin-bottom: -7px;
    @include media-query((
      margin-left: (
        sm: -24px,
        md: 0,
        xl: 20px
      ),
    ));
  }
  &__container-operation {
    padding: 0;
    position: relative;
    margin-top: -21px;
    @include media-query((
      margin-top: (
        sm: -32px,
        md: -41px,
      ),
      padding: (
        lg: 0 32px,
        xl: 0 0 0 48px,
      ),
    ));
  }
  &__text-empty {
    margin-top: 90px;
    margin-bottom: 64px;
    margin-left: 20px;
    @extend %h4-font;
  }
  &__back-arr {
    display: flex;
    margin-left: 10px;
    margin-bottom: -7px;
    @include media-query((
      margin-bottom: (
        sm: 16px,
        md: -10px,
        lg: -7px,
        xl: -24px,
      ),
      margin-left: (
        sm: 16px,
        md: -10px,
        lg: -17px,
        xl: 0
      ),
      padding-left: (
        xl: 0
      )
    ));
  }
  &__back-main {
    display: none;
    &__text {
      text-decoration: none;
      &:hover {
        color: map_get($shades, 'black');
      }
    }
    @include media-query((
      margin-top: (
        xl: 4px
      ),
      margin-bottom: (lg: 14px),
      display: (xl: block),
      padding-right: (lg: 16px !important)
    ));
    &:hover {
      color: map_get($yellow, 'base');
    }
  }
  &__back-main-xs svg {
    display: block;
    height: 12px;
    cursor: pointer;
    margin-top: 26px;
    color: rgba(map_get($yellow, 'base'), 0.8);
    @include media-query((
      display: (xl: none),
    ));
  }
  &__icon-height svg {
    height: 16px;
    margin-left: -7px;
  }
  &__welcome-title {
    width: 256px;
    margin-bottom: 22px;
    margin-top: 15px;
    letter-spacing: -1px;
    @include media-query((
      margin-top: (
        xl: -2px,
        xxl: -4px
      ),
      width: (
        sm: 530px
      ),
      margin-bottom: (sm: 24px, lg: 29px, xl: 42px)
    ))
  }
}
#preloaderPaymentsHistory {
  position: absolute;
  text-align: start;
  left: 144px;
  top: 31px;
  width: 0;
  @include media-query((
    left: (
      sm: 151px,
      md: 163px,
      lg: 168px,
      xl: 187px
    ),
  ));
}
