.product-item-component {
  width: calc(100% + 64px);
  margin: 0 -32px;
  @include min-breakpoint('sm') {
    width: 100%;
    margin: 0;
  }
  &__card {
    width: 100%;
    background: linear-gradient(to top right, map_get($gray, '26') 28.65%, map_get($shades, 'white') 90.63%);
    padding: 1px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1),
                0 2px 2px rgba(map_get($shades, 'black'), 0.05);
    position: relative;
    z-index: 2;
    .content {
      width: 100%;
      height: 100%;
      background-color: map_get($shades, 'white');
      border-radius: inherit;
      padding: 0 32px;
      overflow: hidden;
      @include min-breakpoint('sm') {
        padding: 0 16px;
      }
      @include min-breakpoint('md') {
        padding: 0 24px;
      }
      @include min-breakpoint('xl') {
        padding: 0 32px;
      }
    }
    .icon,
    .title,
    .price {
      transition: color 0.15s ease-in-out;
    }
    .icon {
      margin: 8px 4px 0 -34px;
      @include color-black(0.2);
      @include min-breakpoint('sm') {
        margin-left: -45px;
      }
      @include min-breakpoint('md') {
        margin-left: -58px;
        margin-top: 0;
      }
      @include min-breakpoint('xl') {
        margin-left: -64px;
      }
      svg {
        width: 64px;
        @include min-breakpoint('sm') {
          width: 80px;
        }
        @include min-breakpoint('md') {
          width: 106px;
        }
        @include min-breakpoint('xl') {
          width: 116px;
        }
      }
    }
    .info {
      @include min-breakpoint('sm') {
        width: 100%;
      }
    }
    .title {
      @extend %h4;
      @include color-black(0.8);
      @include min-breakpoint('sm') {
        width: 100%;
        max-width: 50%;
        flex-basis: 50%;
      }
      @include min-breakpoint('md') {
        max-width: 60%;
        flex-basis: 60%;
      }
    }
    .price {
      @include min-breakpoint('sm') {
        text-align: right;
      }
      .caption {
        @extend %caption2;
        @include color-black(0.3);
        transition: inherit;
      }
      .value {
        @extend %caption2;
        @include color-black(0.5);
        span {
          @extend %h2;
          transition: color 0.15s ease-in-out;
          @include min-breakpoint('sm') {
            display: block;
          }
        }
      }
    }
    .toggle {
      &--mobile {
        @include min-breakpoint('sm') {
          display: none;
        }
        button {
          border: none;
          outline: none;
          background-color: map_get($shades, 'transparent');
          cursor: pointer;
          @include color-black(0.2);
          svg {
            width: 16px;
            transition: transform 0.15s ease-in-out;
          }
        }
      }
      &--desktop {
        @include max-breakpoint('sm') {
          display: none;
        }
        button {
          border: none;
          outline: none;
          background-color: map_get($shades, 'transparent');
          @include color-black(0.3);
          cursor: pointer;
          @extend %caption2;
          svg {
            width: 16px;
            transition: transform 0.15s ease-in-out;
          }
          span {
            border-bottom: 1px dashed;
          }
        }
      }
    }
    &.open {
      .icon {
        color: map_get($yellow, 'base');
      }
      .title {
        @include color-black(1);
      }
      .price {
        .caption {
          @include color-black(0.5);
        }
        .value {
          span {
            @include color-black(1);
          }
        }
      }
      .toggle {
        &--mobile,
        &--desktop {
          button svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &__detail {
    position: relative;
    z-index: 1;
    .content {
      background-color: map_get($gray, '1');
      padding: 12px 16px 0;
      border-radius: 0 0 12px 12px;
      margin-top: -12px;
      @include min-breakpoint('md') {
        padding: 12px 24px 0;
      }
      @include min-breakpoint('xl') {
        padding: 12px 32px 0;
      }
    }
    .item {
      padding: 16px 16px 32px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(map_get($shades, 'black'), 0.2);
      }
      @include min-breakpoint('sm') {
        padding: 16px 0 32px;
      }
    }
    .icon {
      @include color-black(0.2);
    }
    .info {
      @include min-breakpoint('sm') {
        width: 100%;
      }
      > div:not(.price) {
        @include min-breakpoint('xl') {
          width: 100%;
        }
      }
    }
    .title {
      @extend %h4;
    }
    .offer-name {
      .caption {
        @extend %caption2;
      }
    }
    .price {
      @include min-breakpoint('sm') {
        text-align: right;
      }
      .caption {
        @extend %caption2;
        @include color-black(0.3);
        white-space: nowrap;
      }
      .value {
        @extend %caption2;
        @include color-black(0.5);
        span {
          @extend %h2;
          @include color-black(0.8);
          white-space: nowrap;
          @include min-breakpoint('sm') {
            display: block;
          }
        }
      }
    }
  }
}
