$pre: ".vc-product-page";

#{$pre} {
  .wiki {
    display: inline-flex;
    gap: $padding-x1;
    align-items: center;
    @extend %caption1;
    @extend %link-behaviour;
    border: none;

    &__link {
      text-decoration: none;
      border-bottom: 1px dashed;
      @extend %link-behaviour;
      @include color-black(.5);
      white-space: nowrap;
    }

    &__icon {
      opacity: .2;
    }
  }

  &--promo {
    .page-header {
      margin-bottom: 0;
    }
  }

  &__head-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    @include min-breakpoint(sm) {
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    @include min-breakpoint(lg) {
      flex-wrap: nowrap;

      .page-header {
        white-space: nowrap;
      }
    }

    .page-header {
      margin-bottom: 0;
    }
  }

  &__content {
    @extend %main-content-width;
    @extend %margin-left--menu-width;
    @extend %main-content-padding-top;
    @extend %main-content-padding-h;
  }

  &__list {
    @extend %main-content-width;
    @extend %margin-left--menu-width;
    @extend %main-content-padding-h;

    @include max-breakpoint("md") {
      padding-left: 0;
      padding-right: 0;
    }

    .total-block {
      border-radius: $padding-x3;
      align-items: center;

      height: $padding-x12;
      @include max-breakpoint("md") {
        border-radius: 0;
      }

      @include content-padding-breakpoint("left", "md");
      @include content-padding-breakpoint("right", "md");
    }
  }

  &__wiki {
    @extend %main-content-width;
    @extend %margin-left--menu-width;
    @extend %main-content-padding-h;

    display: flex;
    gap: $padding-x4;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: $padding-x8;
    margin-bottom: $padding-x4;
  }

  &__footer {
    @extend %main-content-width;
    @extend %margin-left--menu-width;
    @extend %main-content-padding-h;

    @extend %action-buttons-block;
    @extend %action-buttons-block--3-cols;

    margin-top: $padding-x8;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }

    .button-keeper {
      @extend %action-buttons-block;

      @include min-breakpoint(sm) {
        grid-template-columns: 1fr; // потому что всего одна кнопка
      }
    }
  }
}
