$footer-menu-border-color: map_get($named_colors, 'footer-menu-border');

.er-footer-menu {
  flex-grow: 1;
  border-bottom: 1px solid $footer-menu-border-color;

  .er-icon {
    opacity: .5;
  }

  &__expander {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;

    @include min-breakpoint('md') {
      display: none;
    }
  }

  &__title {
    @extend %menu-head-font;
    @include color-white(.8);
    display: block;
    position: relative;
  }

  &__list {
    transition: all .2s ease;
    max-height: 1000px;
    overflow: hidden;
    margin-top: 8px;

    &.is-force-expanded {
      max-height: 1000px;
    }

    .expander {
      @include min-breakpoint('md') {
        height: inherit !important;
      }
    }

    @include min-breakpoint('md') {
      margin-top: 16px;
    }
  }

  &__item {
    @extend %menu-item-font;
    @include color-white(.5);
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:hover {
      @include color-white(1);
      text-decoration: underline;
    }
  }

  @include min-breakpoint('md') {
    border-bottom: none;
  }
}
