.vc-config-page {
  @extend %main-content;

  &__edit-form {
    margin-top: $padding-x8;

    @include min-breakpoint(md) {
      margin-top: $padding-x10;
    }

    @include min-breakpoint(xl) {
      margin-top: $padding-x12;
    }

    .watch {
      @extend %caption1;

      .er-icon {
        @include color-black(0.2);
        margin-right: $padding-x1;
      }
    }

    .er-select__slot label.er-text-field--active,
    .er-select__slot label.er-textarea--active {
      @include max-breakpoint(xl) {
        transform: scale(0.85) translateY(-36px);
      }
    }
  }

  .camera-device {
    $border-color: rgba(map-get($shades, 'black'), 0.2);
    margin-top: $padding-x6;
    display: grid;
    gap: $padding-x4;
    grid-template-areas:
      //"name name name"
      "cameraName cameraName cameraName"
      "model model model"
      "price price price";

    padding: $padding-x4 $padding-x2;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    @include min-breakpoint(md) {
      padding-bottom: $padding-x4;
      grid-template-areas:
        //"name name"
        "cameraName price"
        "model model";
    }

    .col-name {
      grid-area: name;
      // вернуть когда Дизайнеру захочется снова отображать название камеры
      display: none;
    }

    .col-camera-name {
      grid-area: cameraName;
    }

    .col-model {
      grid-area: model;

      .model-name {
        @extend %body-font;
      }
    }

    .col-sale-type {
      grid-area: sale-type;
    }

    .col-price {
      grid-area: price;
      display: flex;
      @include min-breakpoint("md") {
        justify-content: flex-end;
      }
      gap: $padding-x8;
    }
  }

  &__analitycs {
    margin-top: $padding-x10;

    @include min-breakpoint("md") {
      margin-top: $padding-x12;
    }
  }

  &__actions {
    margin-top: $padding-x6;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }

    .action-buttons {
      margin-top: $padding-x6;

      display: grid;
      grid-template-columns: 1fr;
      gap: $padding-x2;

      @include min-breakpoint("sm") {
        grid-template-columns: 1fr 1fr;
        gap: $padding-x4;
      }

      @include min-breakpoint("lg") {
        grid-template-columns: 0.33fr 0.33fr;
        gap: $padding-x6;
      }
    }
  }
}

.total-info {
  &__label {
    display: inline-block;
    @extend %caption2;
  }

  &__price {
    display: inline-block;
    margin-left: $padding-x1;

    .price__sum {
      color: map_get($green, "base");
    }
  }

  &__status {
    @extend %caption2;
    color: map_get($green, "base");
    display: inline-block;
    margin-left: $padding-x4;

    .er-icon {
      svg {
        width: $padding-x4;
      }
    }
  }
}

.analytics {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include min-breakpoint("sm") {
      justify-content: flex-start;
    }
  }

  &__subtitle {
    @extend %caption2;
    margin-bottom: $padding-x1 + 1px;

    @include min-breakpoint("sm") {
      margin-left: $padding-x8;
    }

    @include min-breakpoint("md") {
      margin-left: $padding-x10;
    }
  }

  &__content {
    margin-top: $padding-x6;
  }
}

.camera-edit-form {
  &__head {
    display: flex;
    flex-direction: column-reverse;

    @include min-breakpoint("sm") {
      flex-direction: row;
      justify-content: space-between;
    }

    .caption1 {
      margin-top: $padding-x2;
    }

    .col--point {
      margin-top: $padding-x4;

      @include min-breakpoint("sm") {
        margin-top: 0;
        flex-grow: 1;
        max-width: 70%;
      }

      @include min-breakpoint("md") {
        margin-right: $padding-x10;
        max-width: 100%;
      }

      .value {
        white-space: initial;
      }
    }

    .col--watch {
      .watch {
        .title {
          @extend %link-behaviour;
          &:hover {
            @include color-black(0.8);
            border-bottom-color: map_get($shades, "transparent");
          }
        }

        display: inline-flex;
        align-items: center;
      }
    }
  }

  &__body {
    margin-top: $padding-x8;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }

    .license-pay {
      .price {
        margin-top: $padding-x1;
      }
    }
  }
}

.included-in-price {
  white-space: break-spaces;
  color: map-get($green, 'base');
  @extend %caption2;
}

.vc-camera-edit-form {
  .camera-main-fields {
    $camera-config-input-width: 250px;

    display: grid;
    gap: $padding-x8 0;

    grid-template-columns: 1fr;
    grid-template-areas:
      //"col1"
      "col2"
      "col3"
      "col4";

    @include min-breakpoint(md) {
      gap: $padding-x10 $padding-x4;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        //"col1"
        "col2"
        "col3"
        "col4";
    }

    .camera__archive-record-select {
      max-width: $camera-config-input-width;
    }

    .col-1 {
      grid-area: col1;
    }

    .col-2 {
      grid-area: col2;
    }

    .col-3 {
      grid-area: col3;
    }

    .col-4 {
      grid-area: col4;
    }

    .er-input {
      min-width: $camera-config-input-width;
    }

    .name-field {
    }

    label.er-text-field--active {
      left: -$padding-x3;
    }

    .er-select__toggle {
      pointer-events: none;
    }

    &__field {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      @include max-breakpoint("sm") {
        flex-direction: column;
        align-items: flex-start;

      }

      .price,
      .er-price {
        margin-left: $padding-x4;
      }
    }
  }

  .addon {
    &:not(.addon--active) {
      .price__sum {
        @include color-black(0.5);
      }
    }

    &--active {
      .addon__text {
        @include color-black(0.5);
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: $padding-x6;
      margin-top: $padding-x6;

      @include min-breakpoint("md") {
        margin-top: $padding-x8;
        grid-template-columns: 1fr 1fr;
      }
    }

    &__title {
      @extend %h4;
    }

    &__text {
      @extend %body;
      margin-top: $padding-x2;
      transition: color $primary-transition;
    }

    &__config {
      display: inline-flex;
      margin-top: $padding-x2;
      align-items: center;

      @include min-breakpoint("md") {
        margin-top: $padding-x4;
      }

      .er-price,
      .price {
        margin-left: $padding-x4;
      }

      .price__sum {
        transition: color $primary-transition;
      }
    }

    .er-input {
      input:disabled + label {
        @extend %disabled-input;
      }
    }
  }

  .er-activation-modal__description {
    overflow-y: auto;
  }
}

.vc-config-page {
  .vc-camera-edit-form {
    .ert-input.ert-input--switch {
      .ert-input__slot {
        margin: 0;
      }

      .ert-messages {
        display: none;
      }
    }
  }
}


.er-activation-modal__offer .text span {
  border-bottom: none;
}
