.toast(
  @click="onClick"
  :class="`toast--${type}`"
)
  .toast__icon
    er-icon(:name="iconName")
  .toast__content
    .toast__title {{ title }}
    .toast__text
      template(v-if="isCustomCampaignMessage")
        | Уведомление о смене платежных реквизитов для договора
        span &nbsp;{{ offerNumber }}!

      template(v-else)
        | {{ text|cutText(61) }}
