:root {
  --scrollbarBg: rgb(227 227 227);
  --scrollbarThumb: rgba(197, 31, 31, 1);
  --scrollbarWidth: 6px;
  --scrollbarBorder: 1px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth)/2);
}

.index-page {
  @extend %main-content;

  &__sections-mb {
    margin-bottom: $padding-x8;

    @include min-breakpoint('md') {
      margin-bottom: $padding-x10;
    }

    @include min-breakpoint('xl') {
      margin-bottom: $padding-x12;
    }
  }

  &__opinion-mb {
    margin-bottom: $padding-x4;

    @include min-breakpoint('xl') {
      margin-bottom: $padding-x6;
    }
  }

  &__impression-button {
    max-width: 227px;
    margin-bottom: $padding-x12;

    @include min-breakpoint('md') {
      margin-bottom: $padding-x14;
    }
  }

  &__welcome-title {
    @extend %h1;

    margin-bottom: $padding-x6;

    @include min-breakpoint('md') {
      margin-bottom: $padding-x8;
    }

    @include min-breakpoint('xl') {
      margin-bottom: $padding-x12;
      display: block;
    }
  }

  &__organisation-name {
    @extend %body-font;
    color: rgba(map_get($shades, 'black'), 0.5);
    margin-bottom: 5px;
  }

  &__balance {
    &--mobile {
      margin-bottom: 34px;
      @include media-query((
        display: (xl: none),
        margin-bottom: (sm: 26px, md: 37px, lg: 48px)
      ));

      .icon {
        color: map_get($green, 'base');
        margin-right: 7px;
      }

      a {
        font: 22px/22px $fedra-demi;
        letter-spacing: -1px;
        margin-right: 43px;
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          margin-left: 9px;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.25px;
          color: rgba(map_get($shades, 'black'), 0.5);
        }
      }

      span {
        font: 10px/12px $fedra-demi;
        letter-spacing: 0.5px;
        color: map_get($green, 'base');
        text-decoration: underline;
      }
    }
  }

  &__fast-links {
  }

  &__fast-link {
    display: block;
    width: 100%;
    height: 128px;
    border-radius: 12px;
    background: linear-gradient(to top right, map_get($gray, '26') 28.65%, map_get($shades, 'white') 90.63%);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding: 1px;
    box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1),
    0 2px 2px rgba(map_get($shades, 'black'), 0.05);
    @include min-breakpoint('md') {
      height: 144px;
    }
    @include min-breakpoint('lg') {
      height: 168px;
    }
    @include min-breakpoint('xl') {
      height: 160px;
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 17px;
      background: map_get($gray, '9');
      border-radius: inherit;
      transition: background 0.15s ease-in-out;
      @include min-breakpoint('sm') {
        padding: 24px;
      }
    }

    .title {
      @extend %h4;
      font-weight: 600;
      @include color-black(0.8);
      transition: color 0.15s ease-in-out;
    }

    .footer {
      .caption {
        @extend %caption2;
        transition: color 0.15s ease-in-out;
      }

      .value {
        font: 13px/18px $fedra-demi;
        color: map_get($green, 'base');
        text-decoration: underline;
        font-weight: 600;
        transition: color 0.15s ease-in-out;
        @include min-breakpoint('xl') {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -2px;
        }
      }

      .icon {
        color: map_get($red, 'base');
        //transition: color 0.15s ease-in-out;

        svg {
          transition: all 0.15s ease-in-out;
        }
      }

      .promised-payment-left {
        font: 22px/32px $fedra-book;
        letter-spacing: -1px;

        span {
          &:nth-child(1) {
            color: rgba(map_get($shades, 'black'), 0.8);
          }

          &:nth-child(2) {
            color: rgba(map_get($shades, 'black'), 0.6);
          }

          &:nth-child(3) {
            color: rgba(map_get($shades, 'black'), 0.4);
          }
        }

        &__line {
          width: 100%;
          height: 4px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(to right, map_get($red, 'base') 0%, map_get($yellow, 'base') 50%, map_get($green, 'base') 100%);
        }

        &__passed {
          height: 100%;
          position: absolute;
          right: 0;
          background: map_get($gray, '27');
        }
      }
    }

    .promised-payment-left {
      font: 22px/32px $fedra-book;
      letter-spacing: -1px;

      span {
        &:nth-child(1) {
          color: rgba(map_get($shades, 'black'), 0.8);
        }

        &:nth-child(2) {
          color: rgba(map_get($shades, 'black'), 0.6);
        }

        &:nth-child(3) {
          color: rgba(map_get($shades, 'black'), 0.4);
        }
      }

      &__line {
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, map_get($red, 'base') 0%, map_get($yellow, 'base') 50%, map_get($green, 'base') 100%);
      }

      &__passed {
        height: 100%;
        position: absolute;
        right: 0;
        background: map_get($gray, '27');
      }
    }

    &:hover {
      .content {
        //background: radial-gradient(50% 50% at 50% 50%, map_get($yellow, 'base') 55.5%, map_get($yellow, 'other-4') 100%);
        background: map-get($red, 'lighten-2');
      }

      .title {
        @include color-white(1);
      }

      .caption {
        @include color-white(0.5);
      }

      .footer {
        .value {
          color: map_get($shades, 'white');
        }

        .icon {
          color: rgba(map_get($shades, 'white'), 0.5);

          svg {
            transform: scale(3);
            filter: drop-shadow(-4px 4px 4px rgba(map_get($shades, 'black'), 0.08));
          }
        }
      }
    }
  }

  &__carousel {
    &__item {
      position: relative;

      picture {
        img {
          width: 100%;
          border-radius: 12px;
          box-shadow: -0 2px 2px rgba(map_get($shades, 'black'), 0.03), 0 2px 12px rgba(map_get($shades, 'black'), 0.04);
          @include media-query((
            width: (lg: auto)
          ))
        }
      }

      .er-button {
        position: absolute;
        width: 160px;
        bottom: 30px;
        left: 24px;
      }
    }
  }

  &__service {
    &__title {
      margin-bottom: $padding-x2;

      @include min-breakpoint(md) {
        margin-bottom: $padding-x6;
      }
    }
  }

  &__filters {
    .filter-list {
      &__label {
        @extend %caption2;
        text-align: left;
        margin-bottom: $padding-x2;

        //@include min-breakpoint(sm) {
        //  text-align: right;
        //}
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: $padding-x4;
        justify-content: flex-end;

        @include min-breakpoint(sm) {
          flex-direction: row;
        }
        @include min-breakpoint(lg) {
          gap: $padding-x6;
        }
      }

      &__item {
        @include min-breakpoint(md) {
          display: flex;
          align-items: center;
        }
      }
    }

    &--mobile {
      @include media-query((
        display: (md: none)
      ));

      &__result {
        cursor: pointer;

        i {
          color: map_get($gray, '7');
        }

        a {
          font: 15px/19px $fedra-demi;
          color: rgba(map_get($shades, 'black'), 0.5);
          text-decoration: none;
          border-bottom: 1px dashed rgba(map_get($shades, 'black'), 0.5);
        }
      }

      &__form {
        width: 100%;
        padding: 24px;
        background-color: map_get($shades, 'white');
        border-radius: 12px;

        &__input,
        &__switch {
          width: 100%;
          max-width: 70%;
        }

        &__input {
          .er-input__append-inner {
            svg {
              width: 16px;
            }
          }
        }

        &__switch {
          max-width: 100%;
          @include media-query((
            max-width: (sm: 70%)
          ))
        }

        &__close {
          color: rgba(map_get($shades, 'black'), 0.5);
          cursor: pointer;

          svg {
            width: 16px !important;
          }
        }
      }
    }

    &--desktop {
      display: none;
      @include min-breakpoint(md) {
        display: flex;
        gap: $padding-x2;
      }

      &__input {
        width: 100%;
        max-width: 288px;

        @include min-breakpoint(md) {
          width: 25%;
        }
      }

      &__input {
        .er-input__append-inner {
          cursor: pointer;

          svg {
            width: 16px;
          }
        }
      }
    }
  }

  &__products {
    &__loading,
    &__empty {
      width: 100%;
      height: 129px;
      background: linear-gradient(to top right, map_get($gray, '26') 28.65%, map_get($shades, 'white') 90.63%);
      padding: 1px;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 4px;
      box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1),
      0 2px 2px rgba(map_get($shades, 'black'), 0.05);
      position: relative;
      z-index: 1;
      @include min-breakpoint('sm') {
        height: 96px;
      }
      @include min-breakpoint('md') {
        height: 108px;
      }
      @include min-breakpoint('xl') {
        height: 117px;
      }

      .content {
        width: 100%;
        height: 100%;
        background-color: map_get($shades, 'white');
        border-radius: inherit;
        border-right: 4px solid map_get($shades, 'transparent');
        display: flex;
        align-items: center;
        padding-left: 44px;
      }
    }

    &__empty {
      .content {
        padding-left: 32px;
        @extend %caption2;
        @include color-black(0.5);

        i {
          @include color-black(0.2);
          margin-right: 8px;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__value {
      font-weight: bold;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include color-black(1);
      text-decoration: none;

      &.balance span::after {
        content: ' ₽';
        font-weight: normal;
        @include color-black(0.2);
      }

      .ert-icon {
        @include color-black(0.2);
      }
    }
  }

  &__info-loading {
    width: 200px;
  }

  &__info-dialog {
    padding: 32px;
    background: map-get($shades, 'white');

    &__body {
      // todo Убрать ненужное
      display: flex;
      flex-direction: column;
      background: map_get($shades, 'white');
      border-radius: inherit;
      padding: 32px 0 16px;
      overflow: auto;
      max-height: 437px;
      margin: 15px 5px;
      .caption,
      .organization,
      .caption-choise,
      .agreement {
        margin: {
          left: 26px;
        };
      }
      .organization {
        width: 100%;
        max-width: 230px;
        font: 16px/22px $fedra-book;
        letter-spacing: -0.5px;
        color: rgba(map_get($shades, 'black'), 0.8);
      }
      .caption-init {
        color: rgba(map_get($shades, 'black'), 0.8);
      }
      .caption-choise {
        @extend .caption-init;
        font: 18px/23px $fact-bold;
        margin-left: 24px;
        width: calc(100% - 48px);
      }
      .border {
        border: {
          bottom: 1px solid map_get($gray, '20');
        }
        margin-bottom: 8px;
      }
      .caption-balance {
        @extend .caption-init;
        margin: {
          left: 26px;
        };
        font: 24px $fact-bold;
      }
      .caption-autopay {
        @extend %caption2;
        margin: {
          left: 8px;
        };
      }
      .value-manager {
        @extend .caption-init;
        font: 18px/23px $fact-bold;
        margin: 0 22px;
      }
      .fill-foundation {
        position: absolute;
        bottom: 95px;
        left: 30px;
        right: 0;
        height: 45px;
        width: 345px;
      }
      .foundation-pouring {
        background-image: linear-gradient(#ffffff63, #ffffff, #ffffff);
      }
      .agreement {
        font: 18px/22px $fedra-book;
        letter-spacing: -1px;
        color: rgba(map_get($shades, 'black'), 0.8);
      }
      .wrapper-line {
        margin-left: 24px;
        width: calc(100% - 48px);
        border: {
          top: 1px solid map_get($gray, '20');
          bottom: 1px solid map_get($gray, '20');
        }
      }
      .personal-account {
        display: flex;
        height: 38px;
        flex-direction: column;
        justify-content: center;
        border-left: 6px solid map_get($shades, 'transparent');
        transition: $primary-transition;
        cursor: pointer;
        position: relative;
        left: -24px;
        > * {
          margin: { left: 0 };
        }
        .caption {
          height: 16px;
          margin: { left: -.1px };
        }
        .value {
          font: 20px/25px $fedra-book;
          height: 22px;
          letter-spacing: -1px;
          position: relative;
          i {
            display: none;
            position: absolute;
            left: -18px;
            margin: { top: 3px };
            color: map_get($green, 'base');
            svg {
              width: 16px;
            }
          }
        }
        &.active {
          .value i {
            display: block;
          }
        }

        &__flex {
          display: flex;
        }

        &__radio {
          display: flex;
          max-width: 24px;
          align-items: center;

        }
      }
      .rub {
        &::after {
          content: '₽';
          font: 13px/16px $fact-light;
          margin-left: 4px;
        }
      }
      .balance,
      .support {
        border-top: 1px solid map_get($gray, '20');
        display: flex;
        align-items: center;
        position: relative;
        top: 8px;
        padding: {
          left: 18px;
        };
        i {
          color: rgba(map_get($shades, 'black'), 0.2);
        }
        a {
          font: 14px/17px $fedra-demi;
          color: rgba(map_get($shades, 'black'), 0.5);
          text-decoration: none;
        }
      }
    }

    &__body {
      scrollbar-width: var(--scrollbarWidth);
      scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    }
    &__body::-webkit-scrollbar {
      width: var(--scrollbarWidth);
    }
    &__body::-webkit-scrollbar-track {
      background: var(--scrollbarBg);
      border-radius: var(--scrollbarBorderRadius);
    }
    &__body::-webkit-scrollbar-thumb {
      background-color: var(--scrollbarThumb);
      border-radius: var(--scrollbarBorderRadius);
      border: var(--scrollbarBorder);
    }
  }
}
