.index-page {
  &__organisation-name {
    color: rgba(map_get($shades, 'black'), 0.5);
    margin-bottom: 5px;
  }
  &__balance {
    &--mobile {
      margin-bottom: 34px;
      @include media-query((
              display: (xl: none),
              margin-bottom: (sm: 26px, md: 37px, lg: 48px)
      ));
      .icon {
        color: map_get($green, 'base');
        margin-right: 7px;
      }
      a {
        font: 22px/22px $fedra-demi;
        letter-spacing: -1px;
        margin-right: 43px;
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          margin-left: 9px;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.25px;
          color: rgba(map_get($shades, 'black'), 0.5);
        }
      }
      span {
        font: 10px/12px $fedra-demi;
        letter-spacing: 0.5px;
        color: map_get($green, 'base');
        text-decoration: underline;
      }
    }
  }
  &__fast-links {
    @include media-query((
      padding-right: (lg: 16px !important)
    ));
    a {
      display: flex;
      flex-direction: column;
      padding: 17px;
      text-decoration: none;
      height: 128px;
      position: relative;
      overflow: hidden;
      @include media-query((
        padding: (sm: 24px),
        height: (md: 144px, lg: 168px, xl: 160px)
      ));
      .title {
        width: 100%;
        font: 15px/20px $fedra-book;
        letter-spacing: -0.35px;
        color: rgba(map_get($shades, 'black'), 0.8);
        @include media-query((
                font-size: (md: 18px),
                line-height: (md: 30px),
        ));
      }
      .footer {
        .value {
          font: 13px/18px $fedra-demi;
          color: map_get($green, 'base');
          text-decoration: underline;
          @include media-query((
                  font-size: (xl: 16px),
                  line-height: (xl: 20px),
                  letter-spacing: (xl: -2px)
          ))
        }
        .icon {
          color: map_get($yellow, 'base');
        }
        .promised-payment-left {
          font: 22px/32px $fedra-book;
          letter-spacing: -1px;
          span {
            &:nth-child(1) {
              color: rgba(map_get($shades, 'black'), 0.8);
            }
            &:nth-child(2) {
              color: rgba(map_get($shades, 'black'), 0.6);
            }
            &:nth-child(3) {
              color: rgba(map_get($shades, 'black'), 0.4);
            }
          }
          &__line {
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to right, map_get($red, 'base') 0%, map_get($yellow, 'base') 50%, map_get($green, 'base') 100%);
          }
          &__passed {
            height: 100%;
            position: absolute;
            right: 0;
            background: map_get($gray, '27');
          }
        }
      }
    }
  }
  &__carousel {
    &__item {
      position: relative;

      picture {
        img {
          width: 100%;
          border-radius: 12px;
          box-shadow: -0 2px 2px rgba(map_get($shades, 'black'), 0.03), 0 2px 12px rgba(map_get($shades, 'black'), 0.04);
          @include media-query((
            width: (lg: auto)
          ))
        }
      }
      .er-button {
        position: absolute;
        width: 160px;
        bottom: 30px;
        left: 24px;
      }
    }
  }
  &__service {
    &__title {
      margin-bottom: 18px;
      @include media-query((
        margin-bottom: (lg: 25px)
      ))
    }
  }
  &__filters {
    &--mobile {
      @include media-query((
        display: (md: none)
      ));
      &__result {
        cursor: pointer;
        i {
          color: map_get($gray, '7');
        }
        a {
          font: 15px/19px $fedra-demi;
          color: rgba(map_get($shades, 'black'), 0.5);
          text-decoration: none;
          border-bottom: 1px dashed rgba(map_get($shades, 'black'), 0.5);
        }
      }
      &__form {
        width: 100%;
        padding: 24px;
        background-color: map_get($shades, 'white');
        border-radius: 12px;
        &__input,
        &__switch {
          width: 100%;
          max-width: 70%;
        }
        &__input {
          .er-input__append-inner {
            svg {
              width: 16px;
            }
          }
        }
        &__switch {
          max-width: 100%;
          @include media-query((
                  max-width: (sm: 70%)
          ))
        }
        &__close {
          color: rgba(map_get($shades, 'black'), 0.5);
          cursor: pointer;
          svg {
            width: 16px !important;
          }
        }
      }
    }
    &--desktop {
      display: none;
      @include media-query((
        display: (md: flex)
      ));
      &__input,
      &__toggle {
        width: 100%;
        max-width: 288px;
      }
      &__input {
        .er-input__append-inner {
          cursor: pointer;
          svg {
            width: 16px;
          }
        }
      }
    }
  }
  &__products {
    &__loading,
    &__empty {
      width: 100%;
      height: 129px;
      background: linear-gradient(to top right, map_get($gray, '26') 28.65%, map_get($shades, 'white') 90.63%);
      padding: 1px;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 4px;
      box-shadow: 0 2px 12px rgba(map_get($shades, 'black'), 0.1),
                  0 2px 2px rgba(map_get($shades, 'black'), 0.05);
      position: relative;
      z-index: 1;
      @include min-breakpoint('sm') {
        height: 96px;
      }
      @include min-breakpoint('md') {
        height: 108px;
      }
      @include min-breakpoint('xl') {
        height: 117px;
      }
      .content {
        width: 100%;
        height: 100%;
        background-color: map_get($shades, 'white');
        border-radius: inherit;
        border-right: 4px solid map_get($shades, 'transparent');
        display: flex;
        align-items: center;
        padding-left: 44px;
      }
    }
    &__empty {
      .content {
        padding-left: 32px;
        @extend %caption2;
        @include color-black(0.5);
        i {
          @include color-black(0.2);
          margin-right: 8px;
        }
      }
    }
  }
}
