:root {
  --scrollbarBg: rgb(227 227 227);
  --scrollbarThumb: rgba(255, 221, 0, 1);
  --scrollbarWidth: 6px;
  --scrollbarBorder: 1px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth)/2);
}

.change-init-button {
  margin-top: $padding-x2;
  @extend %button-font;
  @extend %link-color;
  cursor: pointer;
  display: block;
}

.green_description {
  color: map-get($green, 'base') !important;
}

.accountNumberOpacity {
  &:hover {
    opacity: 1;
  }
}

.activeAccountOpacity {
    opacity: 0.8;
}

.closeAccountOpacity {
    opacity: 0.5;
}

.change-org-button {
  @extend .change-init-button;
  border-bottom: 1px solid;
}
.change-pay-button {
  @extend .change-init-button;
  font: 16px/22px $fact-light;
}
.menu-component {
  position: fixed;
  z-index: map_get($z-index, 'left-menu');

  &__left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: $left-menu-width;
    min-height: 100vh;
    z-index: map_get($z-index, 'left-menu');
    transition: $primary-transition;
    transform: translateX(-$left-menu-width);
    @include media-query((
      box-shadow: (xl: 4px 4px 10px rgba(map_get($shades, 'black'), 0.1))
    ));
    &.open,
    &.desktop {
      transform: translateX(0);
    }
    &__head {
      width: 100%;
      height: 56px;
      background-color: map_get($shades, 'white');
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      @include media-query((
        height: (md: 64px, lg: 72px, xl: 96px)
      ));
      &__all-menu {
        font: 14px/19px $fedra-demi;
        color: rgba(map_get($shades, 'black'), 0.5);
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: $primary-transition;
        pointer-events: none;
        user-select: none;
        cursor: pointer;
        @include media-query((
          display: (xl: none)
        ));
        &.visible {
          opacity: 1;
          pointer-events: auto;
        }
        svg {
          width: 16px !important;
          color: map_get($yellow, 'base');
          transform: rotate(90deg);
          margin-right: 5px;
        }
      }
      &__close {
        width: 36px;
        color: rgba(map_get($shades, 'black'), 0.5);
        @include media-query((
                display: (xl: none)
        ));
        svg {
          width: 16px !important;
        }
      }
      &__logo {
        img {
          width: 64px;
          @include media-query((
            width: (xl: 96px)
          ))
        }
      }
    }
    &__body {
      width: 100%;
      background-color: map_get($gray, '7');
      height: calc(100vh - 56px);
      position: relative;
      overflow-y: auto;
      @include media-query((
              height: (
                      md: calc(100vh - 64px),
                      lg: calc(100vh - 72px),
                      xl: calc(100vh - 96px)
              )
      ));
      &__background-sub-menu {
        position: absolute;
        top: 0; right: 0; left: 56px;
        height: 0;
        background-color: map_get($shades, 'white');
        transition: $primary-transition;
        z-index: 1;
        &.open {
          height: calc(100vh - 56px);
          @include media-query((
                  //top: (
                  //        md: 64px,
                  //        lg: 72px,
                  //        xl: 96px
                  //),
                  height: (
                          md: calc(100vh - 64px),
                          lg: calc(100vh - 72px),
                          xl: calc(100vh - 96px)
                  )
          ));
        }
      }
    }
    &__body-item {
      height: 48px;
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      @include media-query((
        height: (xl: 56px)
      ));
      &__icon {
        width: 56px;
        height: 100%;
        line-height: 48px;
        text-align: center;
        color: map_get($yellow, 'base');
        cursor: pointer;
        @include media-query((
                line-height: (xl: 56px)
        ));
        i,
        svg {
          pointer-events: none;
        }
        i {
          vertical-align: middle;
        }
      }
      &__name {
        font: 18px/24px $fedra-demi;
        letter-spacing: -0.5px;
        color: rgba(map_get($shades, 'white'), 0.8);
        flex: 1;
      }
      &__toggle {
        margin-left: auto;
        margin-right: 16px;
        svg {
          color: map_get($gray, '21');
          width: 16px !important;
          transform: rotate(-90deg);
        }
      }
      &__sub-items {
        position: absolute;
        top: 0; right: 0; left: 56px;
        transition: $primary-transition;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        z-index: 2;
        &.open {
          pointer-events: auto;
          opacity: 1;
          transition-delay: 300ms;
        }
      }
      &__sub-item {
        $sub-item-border-width: $padding-x1;
        @extend %menu-item;
        width: 100%;
        padding-top: $padding-x2;
        padding-bottom: $padding-x2;
        padding-right: $padding-x6;
        padding-left: $padding-x6 - $sub-item-border-width;

        border-left: $sub-item-border-width solid map_get($shades, 'transparent');
        transition: $primary-transition;
        cursor: pointer;
        text-decoration: none;

        .subitem__name {
          &.main {
            @extend %menu-head-font;
          }
        }

        .subitem__subname {
          display: block;
          margin-top: $padding-x1;
          @extend %caption1;
        }

        &.main {
          @extend %menu-head-font;
        }

        &:hover {
          background-color: map_get($gray, '2');
          border-left-color: map_get($yellow, 'base');
          color: map_get($shades, 'black');
        }
      }
    }
    &__body.open-sub-menu & {
      &__body-item__icon {
        color: rgba(map_get($shades, 'white'), 0.5);
        &.active {
          color: rgba(map_get($shades, 'black'), 0.5);
          background-color: map_get($gray, '2');
        }
      }
    }
  }
  &__top {
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: map_get($shades, 'white');
    box-shadow: 0 4px 8px rgba(map_get($shades, 'black'), 0.08);
    display: flex;
    align-items: center;
    z-index: map_get($z-index, 'top-menu');

    @include media-query((
      height: (md: 64px, lg: 72px, xl: 96px),
      box-shadow: (xl: none),
      padding-left: (
        xs: map_get($main-content-padding, xs),
        sm: map_get($main-content-padding, sm),
        md: map_get($main-content-padding, md),
        lg: map_get($main-content-padding, lg),
        xl: map_get($main-content-padding, xl)
      ),
      padding-right: (
        xs: $padding-x4,
        sm: $padding-x6,
        lg: $padding-x8,
        xl: $padding-x6,
      ),
      margin-left: (
        xl: $left-menu-width
      )
    ));

    &__burger {
      cursor: pointer;
      color: rgba(map_get($shades, 'black'), 0.5);
      margin: {
        right: 37px
      };
      @include media-query((
              display: (xl: none),
              margin-right: (sm: 32px, md: 45px, lg: 59px)
      ))
    }
    &__logo {
      @include media-query((
        display: (xl: none)
      ));
      img {
        width: 64px;
      }
    }
    &__link {
      &--desktop {
        align-items: center;
        margin: { right: 54px };
        display: none;
        @include media-query((
          display: (xl: flex)
        ));
        .icon {
          color: rgba(map_get($shades, 'black'), 0.2);
        }
        .info {
          .manager-link {
            white-space: normal;
          }
          white-space: nowrap;
          span {
            margin: { bottom: 2px };
          }
          a {
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
    }
    &__balance {
      a {
        position: relative;
        font-size: 18px;
        margin: { bottom: 5px };
        display: inline-block;
        &::after {
          content: '₽';
          position: absolute;
          font: 16px/22px $fedra-light;
          letter-spacing: -0.5px;
          color: rgba(map_get($shades, 'black'), 0.2);
          margin: { left: 2px };
        }
      }
      span {
        display: block;
        @include color-black(0.5);
      }
      .info {
        margin: { top: 3px };
      }
      .autopay {
        text-decoration: underline;
        color: map_get($green, 'base');
      }
      &.autopay {
        .icon {
          color: map_get($green, 'base');
        }
      }
    }
    &__manager {
      .info {
        width: 100%;
        max-width: 155px;
        a {
          display: inline;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    &__personal-account {
      .er-preloader__preloader {
        pointer-events: none;
      }
    }

    &__dropdown {
      margin-top: 9px;
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(to top right, map_get($shades, 'white'));
      padding: 1px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(map_get($shades, 'black'), 0.1);
      &__content {
        display: flex;
        flex-direction: column;
        background: map_get($shades, 'white');
        border-radius: inherit;
        padding: 32px 0 16px;
        overflow: auto;
        max-height: 437px;
        margin: 15px 5px;
        .caption,
        .organization,
        .caption-choise,
        .agreement {
          margin: {
            left: 26px;
          };
        }
        .organization {
          width: 100%;
          max-width: 230px;
          font: 16px/22px $fedra-book;
          letter-spacing: -0.5px;
          color: rgba(map_get($shades, 'black'), 0.8);
        }
        .caption-init {
          color: rgba(map_get($shades, 'black'), 0.8);
        }
        .caption-choise {
          @extend .caption-init;
          font: 18px/23px $fact-bold;
          margin-left: 24px;
          width: calc(100% - 48px);
        }
        .border {
          border: {
            bottom: 1px solid map_get($gray, '20');
          }
          margin-bottom: 8px;
        }
        .caption-balance {
          @extend .caption-init;
          margin: {
            left: 26px;
          };
          font: 24px $fact-bold;
        }
        .caption-autopay {
          @extend %caption2;
          margin: {
            left: 8px;
          };
        }
        .value-manager {
          @extend .caption-init;
          font: 18px/23px $fact-bold;
          margin: 0 22px;
        }
        .fill-foundation {
          position: absolute;
          bottom: 95px;
          left: 30px;
          right: 0;
          height: 45px;
          width: 345px;
        }
        .foundation-pouring {
          background-image: linear-gradient(#ffffff63, #ffffff, #ffffff);
        }
        .agreement {
          font: 18px/22px $fedra-book;
          letter-spacing: -1px;
          color: rgba(map_get($shades, 'black'), 0.8);
        }
        .wrapper-line {
          margin-left: 24px;
          width: calc(100% - 48px);
          border: {
            top: 1px solid map_get($gray, '20');
            bottom: 1px solid map_get($gray, '20');
          }
        }
        .personal-account {
          display: flex;
          height: 38px;
          flex-direction: column;
          justify-content: center;
          border-left: 6px solid map_get($shades, 'transparent');
          transition: $primary-transition;
          cursor: pointer;
          position: relative;
          left: -24px;
          > * {
            margin: { left: 0 };
          }
          .caption {
            height: 16px;
            margin: { left: -.1px };
          }
          .value {
            font: 20px/25px $fedra-book;
            height: 22px;
            letter-spacing: -1px;
            position: relative;
            i {
              display: none;
              position: absolute;
              left: -18px;
              margin: { top: 3px };
              color: map_get($green, 'base');
              svg {
                width: 16px;
              }
            }
          }
          &.active {
            .value i {
              display: block;
            }
          }

          &__flex {
            display: flex;
          }

          &__radio {
            display: flex;
            max-width: 24px;
            align-items: center;

          }
        }
        .rub {
          &::after {
            content: '₽';
            font: 13px/16px $fact-light;
            margin-left: 4px;
          }
        }
        .balance,
        .support {
          border-top: 1px solid map_get($gray, '20');
          display: flex;
          align-items: center;
          position: relative;
          top: 8px;
          padding: {
            left: 18px;
          };
          i {
            color: rgba(map_get($shades, 'black'), 0.2);
          }
          a {
            font: 14px/17px $fedra-demi;
            color: rgba(map_get($shades, 'black'), 0.5);
            text-decoration: none;
          }
        }
      }
      .profile {
        border-top: 1px solid map_get($gray, '22');
        display: flex;
        align-items: center;
        padding: 30px;
        i {
          color: rgba(map_get($shades, 'black'), 0.2);
        }
        a {
          font: 16px/22px $fedra-demi;
          color: rgba(map_get($shades, 'black'), 0.5);
          text-decoration: none;
        }
      }
      &__content {
        scrollbar-width: var(--scrollbarWidth);
        scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
      }
      &__content::-webkit-scrollbar {
        width: var(--scrollbarWidth);
      }
      &__content::-webkit-scrollbar-track {
        background: var(--scrollbarBg);
        border-radius: var(--scrollbarBorderRadius);
      }
      &__content::-webkit-scrollbar-thumb {
        background-color: var(--scrollbarThumb);
        border-radius: var(--scrollbarBorderRadius);
        border: var(--scrollbarBorder);
      }
      &.manager {
        .caption,
        .value {
          margin: {
            left: 21px;
            right: 21px;
          };
        }
        .value {
          font: 16px/20px $fedra-book;
          letter-spacing: -1px;
          color: rgba(map_get($shades, 'black'), 0.8);
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
    &__badge,
    &__exit,
    &__profile--mobile {
      color: rgba(map_get($shades, 'black'), 0.5);
      cursor: pointer;
    }

    &__exit,
    &__profile--mobile {
      @include media-query((
        color: (xl: rgba(map_get($shades, 'black'), 0.2))
      ));
    }

    &__badge {
      position: relative;
      &::after {
        content: attr(data-count);
        display: none;
        width: 16px;
        height: 16px;
        background: map_get($yellow, 'base');
        border-radius: 50%;
        font: 8px $fedra-med;
        text-align: center;
        line-height: 16px;
        color: map_get($shades, 'black');
        position: absolute;
        top: -8px;
        right: -8px;
        transition: all $primary-transition;
        @include media-query((
          display: (sm: block),
          width: (md: 24px),
          height: (md: 24px),
          font-size: (md: 11px),
          line-height: (md: 24px),
          top: (md: -12px),
          right: (md: -12px)
        ))
      }

      &--empty {
        &::after {
          @include min-breakpoint('sm') {
            // вместо display:none уменьшаем индикатор
            // это нужно для плавности появления
            transform: scale(0);
            opacity: 0;
          }
        }
      }

      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: map_get($yellow, 'base');
        border-radius: 50%;
        position: absolute;
        left: -4px;
        top: -4px;
        @include media-query((
          display: (sm: none)
        ))
      }
    }
    &__chat {
      color: rgba(map_get($shades, 'black'), 0.5);
      cursor: pointer;
      @include media-query((
        display: (sm: block)
      ))
    }
    &__notification {
      margin: { left: auto };
      @include media-query((
        margin-left: (sm: 42px, md: 38px, lg: 47px, xl: 26px)
      ))
    }
    &__exit {
      display: none;
      @include media-query((
        display: (xl: block)
      ))
    }
    &__profile--mobile {
      margin: {
        left: 19px
      };
      @include media-query((
              display: (xl: none),
              margin-left: (sm: 42px, md: 34px, lg: 47px)
      ));
    }
    &__loader {
      height: 4px;
      background-color: map_get($yellow, 'base');
      position: absolute;
      bottom: -4px;
      transition: $primary-transition;
      margin-left: -16px;
      @include media-query((
              margin-left: (
                      sm: -24px,
                      xl: -45px
              )
      ))
    }
  }
}



