$change-org-popup-lg-height: 480px;
$change-org-popup-lg-max-width: 729px;

.change-org-popup {
  position: absolute;
  z-index: map_get($z-index, 'right-modal');

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: map_get($shades, 'white');
    padding: $padding-x4;
    border-radius: 12px;

    width: 100%;
    height: 100%;

    @include min-breakpoint('lg') {
      max-width: $change-org-popup-lg-max-width;
      height: $change-org-popup-lg-height;
    }

    @include min-breakpoint('sm') {
      padding: $padding-x6;
    }

    @include min-breakpoint('xl') {
      padding: $padding-x8;
    }

    .preloader-container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;

    .col {
      width: 100%;

      @include min-breakpoint('sm') {
        width: 33%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-bottom: $padding-x6;
  }

  &__close {
    position: absolute;
    z-index: 1;

    top: $padding-x4;
    right: $padding-x4;

    @include min-breakpoint('sm') {
      top: $padding-x6;
      right: $padding-x6;
    }

    @include min-breakpoint('lg') {
      top: $padding-x8;
      right: $padding-x8;
    }

    .er-icon {
      height: $padding-x4;
    }
  }
}
.change-org-dialog {
  // safari fix
  overflow: initial !important;
}
.change-org-frame {
  border: none;
  &--hidden {
    opacity: 0;
    position: fixed;
  }
}
