er-dialog(
  :value="active"
  @update:returnValue="onClose"
).change-org-popup
  .change-org-popup__content
    .change-org-popup__close
      er-close-button(@click="onClose")

    .change-org-popup__content-wrap
      div.flex-grow-1.d--flex
        iframe(
          :src="frameUrl"
          ref="iframe"
          width="100%"
          frameBorder="0"
        )

      div
        er-container.full.container--no-padding
          er-row
            er-flex.xs6.sm4
              er-button(
                color="gray"
                @click="onClose"
              ) Отмена
