div.main-content.main-content--padding.main-content--top-menu-fix
  er-page-header(title="Бизнес ТВ")
  
  .ip-tv__points
    template(v-if="isLoading")
        er-card-products(:loading="true")
        er-card-products(:loading="true")
        er-card-products(:loading="true")
    template(v-else)
      er-card-products(v-for="(item, index) in addressList" :key="index" :price="item.amount")
        | {{ item.fulladdress}}
        template(#date-title) &nbsp;
        template(#slider-content)
          tv-slider(:bpi="item.bpi" :fulladdress="item.fulladdress" :addressId="item.addressId")
      div(class="ip-tv__total")
        div(class="ip-tv__h4") Итого:
        div(class="price")
          div(class="h4") {{ amountPrice | price }}
          span(class="units") &nbsp₽/месяц
      .ip-tv__button
        er-button(color="blue" tag="a" href="https://b2b.domru.ru/products/tv" target="_blank") Подключить