.period-select(:class="{'period-select--active': active}")
  er-container.container--full.container--no-padding
    er-row
      er-flex.xs12.sm6.lg4
        er-button(
          @click="onOpen"
          color="white"
        ) Добавить период
