$filter-group-title-height--small: 32px;
$filter-group-title-height: 56px;

.flex {
  .er-filter-group {
    margin-right: 0;
  }
}

.er-filter-group {
  display: flex;
  flex-direction: column;

  margin-right: $padding-x8;

  &__title {
    @extend %caption1;

    margin-bottom: $padding-x1;

    // сохраняем высоту пустого заголовка, эмулируя текст с помощью ::before
    &:empty {
      &::before {
        content: '';
        display: inline-block;
      }
    }
  }

  &__body {
    flex-grow: 1;
  }

  .er-text-field__slot {
    // Прячем лейбл - в макете его нет
    label.er-text-field--active {
      opacity: 0;
    }
  }
}
