.statpage-header {
  margin-top: $padding-x8;
  margin-bottom: $padding-x6;
  padding-right: $padding-x4;
  padding-left: $padding-x4;

  @include media-query(
    (
      margin-top: (md: $padding-x12),
      margin-bottom: (md: $padding-x10),
      padding-right: (
        sm: $padding-x6,
        md: 0,
      ),
      padding-left: (
        sm: $padding-x6,
        md: 0,
      ),
    )
  );

  &__row {
    &:not(:last-child) {
      margin-bottom: $padding-x8;

      @include media-query((
        margin-bottom: (lg: $padding-x10)
      ));
    }
  }

  &__title {
    @extend %h2-font;
  }

  &__actions {
    text-align: right;

    &__item {
      @include color-black(0.5);
      display: inline-block;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: $padding-x6;
      }

      svg {
        opacity: 0.2;
      }

      &:hover{
        color: map_get($shades, 'black');

        svg {
          opacity: 1;
          color: map_get($yellow, 'base');
        }
      }

      &:active{
        color: map_get($yellow, 'base');

        svg {
          opacity: 1;
          color: map_get($yellow, 'base');
        }
      }

      &__label {
        @extend %caption1-font;
        display: none;
        border-bottom: 1px dotted;
        margin-left: $padding-x1;
        line-height: 1 !important;

        @include media-query(
          (
            display: (
              md: inline-block,
            ),
          )
        );

        &__ext {
          @extend %caption2;
          margin-left: $padding-x1;
          display: none;
          vertical-align: middle;

          @include media-query(
            (
              display: (
                lg: inline-block,
              ),
            )
          );
        }
      }
    }
  }
}
