.er-textarea {
  &.er-input {
    height: 100%;
  }
  .er-input {
    &__control,
    &__slot {
      height: 100%;
    }
  }
  &__slot {
    height: 100%;
    padding: 16px 0;
  }
  textarea {
    resize: none;
  }
}