.oats-point-content {
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $padding-x8;

    .tariff-name {
      white-space: initial;
    }

    .er-icon {
      @include color-black(0.2);
      svg {
        width: $padding-x6;
        height: $padding-x6;
      }

      @include min-breakpoint(md) {
        svg {
          width: $padding-x8;
          height: $padding-x8;
        }
      }
    }
  }

  &__uber-head {
    margin-bottom: $padding-x6;

    @include min-breakpoint(sm) {
      display: none;
    }
  }

  &__active-date {
    .active-date {
      @include color-black(0.8);
    }
  }

  &__h4 {
    @extend %h4;
  }

  &__units {
    @extend %caption2;
    @include color-black(0.5);
  }

  &__plug-package {
    height: 100%;

    .er-card__content {
      padding: 16px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include min-breakpoint("md") {
        padding: 24px;
      }

      @include min-breakpoint("xl") {
        padding: 32px;
      }
    }

    &__title {
      width: 50%;
      @extend %h3;

      @include min-breakpoint("sm") {
        width: 70%;
      }
    }

    &__footer {
      margin-top: 73px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      .er-icon {
        transition: $primary-transition;
        position: absolute;
        bottom: 0;
        right: 0;

        svg {
          transition: $primary-transition;
          width: 48px;
          color: map-get($yellow, "base");
        }
      }
    }

    &:hover {
      cursor: pointer;

      .er-card__content {
        background: radial-gradient(50% 50% at 50% 50%, #ffdd00 55.5%, #fcd300 100%);
      }

      .er-icon {
        bottom: -80px;
        right: -80px;

        svg {
          color: rgba(map-get($shades, "white"), 0.8);
          width: 200px;
        }
      }
    }
  }
  
  &__go-to-portal {
    display: flex;
    align-items: center;
  }

  &__portal-link {
    display: inline-flex;
    align-items: center;
    gap: $padding-x2;

    @include min-breakpoint(sm) {
      display: none;
    }

    .er-icon {
      @include color-black(0.2);

      svg {
        width: $padding-x6;
        height: $padding-x6;
      }

      @include min-breakpoint(md) {
        svg {
          width: $padding-x8;
          height: $padding-x8;
        }
      }
    }

    .link {
      @extend %button-font;
      @extend %link-behaviour;
      @include color-black(0.5);
    }
  }

  &__packages-minutes,
  &__phones,
  &__services,
  &__actions {
    margin-top: $padding-x8;

    @include min-breakpoint(md) {
      margin-top: $padding-x10;
    }
  }

  &__actions {
    @extend %action-buttons-block;

    @include min-breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    gap: 8px 16px !important;

    .er-button {
      position: relative;

      .er-icon {
        position: absolute;
        left: $padding-x4;
        top: 50%;
        transform: translateY(-50%);

        @include color-black(0.2);
      }
    }
  }

  .section {
    &__title {
      @extend %h3;
    }

    &__content {
      margin-top: $padding-x4;

      @include min-breakpoint(md) {
        margin-top: $padding-x6;
      }
    }
  }

  &__oats-packages {
    @include min-breakpoint("sm") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 16px;
    }

    @include min-breakpoint("xl") {
      grid-gap: 32px;
    }

    @include min-breakpoint("sm") {
      &::v-deep .er-card {
        height: 100%;

        &__content {
          height: 100%;
        }
      }
    }

    &-title {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  .oats-service,
  .oats-phone {
    display: flex;
    flex-direction: row;
    min-height: $padding-x12;
    border-top: 1px solid rgba(map-get($shades, "black"), 0.2);
    justify-content: space-between;
    align-items: center;
    padding: $padding-x2 0;

    @include min-breakpoint(sm) {
      padding: $padding-x2;
    }

    &:last-child {
      border-bottom: 1px solid rgba(map-get($shades, "black"), 0.2);
    }

    &__name {
      @extend %body;
    }

    &__description {
      @extend %caption2;
      margin-left: $padding-x4;

      &:empty {
        display: none;
      }
    }

    &__end{
      margin-left: $padding-x8;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      
      @include min-breakpoint("md") {
        display: initial;
      }
      
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    column-gap: $padding-x2;

    @include min-breakpoint(md) {
      column-gap: $padding-x4;
    }
  }
}