.oats-point-content
  .oats-point-content__uber-head
    .oats-point-content__portal-link
      er-icon(name="cloud_telephone")
      .link-wrap
        a.link(:href="oatsPortalLink") Перейти на портал

  .oats-point-content__head
    .oats-point-content__tariff
      .columns
        .col
          er-icon(name="cloud_telephone")
        .col
          .caption2 Тариф:
          .tariff-name.h4.mt-sm-8.mt-xs-4 {{ tariffName }}
          er-price.mt-8 {{ price }}

    .oats-point-content__active-date
      .columns
        .col
          er-icon(name="time")
        .col
          .caption2 Активна с:
          .active-date.body-font.mt-8 {{ activeFrom }}

  .oats-point-content__services(v-if="services")
    .section
      .section__title Сервисы

      .section__content
        .oats-service(v-for="service in services" :key="service.id")
          .oats-service__name {{ service.name | removeNumberFromTitle }}
          .oats-service__description {{ service.description }}
          .oats-service__price
            er-price(period="мес") {{ service.purchasedPrices.recurrentTotal.value }}

  .oats-point-content__phones(v-if="phones.length")
    .section
      .section__title Подключенные телефоны

      .section__content
        phone-row(
          v-for="phone in phones"
          v-bind="phone"
          :key="phone.id"
        )

  .oats-point-content__actions
    er-button(
      :to="{name: 'go-to-oats-portal'}"
      preIcon="cloud_telephone"
    ) Настроить ОАТС
    er-button(@click="onClickSuspend" flat) Приостановить услугу
