.oats-point-content
  .oats-point-content__uber-head
    .oats-point-content__portal-link
      er-icon(name="cloud_telephone")
      .link-wrap
        a.link(:href="oatsPortalLink") Перейти на портал

  .oats-point-content__head
    .oats-point-content__tariff
      .columns
        .col
          er-icon(name="cloud_telephone")
        .col
          .caption2 Тариф:
          .tariff-name.h4.mt-sm-8.mt-xs-4 {{ tariffName }}
          er-price.mt-8(v-if="!inTheProcessOfActivation") {{ price }}

    .oats-point-content__active-date(v-if="!inTheProcessOfActivation")
      .columns
        .col
          er-icon(name="time")
        .col
          .caption2 Активна с:
          .active-date.body-font.mt-8 {{ activeFrom }}
    
    .oats-point-content__go-to-portal(v-if="inTheProcessOfActivation")
      .columns
        .oats-point__portal-link
          er-icon(name="cloud_telephone")
          .link-wrap
            router-link.link(:to="oatsPortalLink") Настроить ОАТС

  .oats-point-content__phones(v-if="phones && phones.length")
    .section
      .section__title Подключенные телефоны

      .section__content
        phone-row(
          v-for="phone in phones"
          v-bind="phone"
          :key="phone.id"
        )
  
  .oats-point-content__packages-minutes(v-if="packagesMinutes && packagesMinutes.length")
    .section
      .section__title Пакеты минут

      .section__content
        .oats-point-content__oats-packages
          template(v-for="(_package, index) in packagesMinutes")
            PackageMinuteCard(
              :key='index'
              :slo="_package"
              :packageMinuteId="_package.id"
              :name="_package.chars['Имя в счете']"
              :phones="phones"
              :char="'Тип Пакета (Пакет Минут)'")

  .oats-point-content__services(v-if="listOfServices && listOfServices.length")
    .section
      .section__title Доп. сервисы

      .section__content
        .oats-service(v-for="service in listOfServices" :key="service.id")
          .oats-service__name {{ service.chars['Имя в счете'] }}
          .oats-service__description {{ service.description }}
          .oats-service__end 
            span.h4 {{ service.purchasedPrices.recurrentTotal.value | priceFormatted }} 
            span.caption2 ₽/мес

  .oats-point-content__actions
    er-button(
      :to="oatsLink"
      preIcon="cloud_telephone"
    ) Настроить ОАТС
    er-button(@click="onClickSuspend" flat) Приостановить услугу
