.user-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  &__col {
    text-align: center;
    white-space: pre;

    &.number .content {
      @extend %caption2;
    }

    &.phone {
      position: relative;

      .content {
        @extend %body;
        text-align: left;
        @include media-query((
          text-align: (sm: center)
        ));
      }
    }

    &.mac .content {
      @extend %body;
      text-align: left;
      @include media-query((
        text-align: (sm: center)
      ));

      &.small {
        @extend %caption2;
      }
    }

    &.authorization .content {
      @extend %body;
    }

    &.traffic .content {
      @extend %caption2;

      span {
        @extend %body;
      }
    }

    &.datetime {
      display: none;
      @include media-query((
        display: (md: block)
      ));

      .content {
        @extend %body;
        @include color-black(.5);

        span {
          @extend %body-color;
        }
      }
    }

    &.duration {
      display: none;
      @include media-query((
        display: (lg: block)
      ));

      .content {
        @extend %body;
        @include color-black(.3);
        text-align: right;

        span {
          @extend %body-color;
        }
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    @include min-breakpoint(sm) {
      flex-direction: row;
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 50%;
    width: 553px;
    height: 436px;
    margin: -210px 0 0 -24px;
    padding: 16px 24px 16px 35px;
    background-image: url('../../../../../../../assets/images/user-card.svg');
    background-repeat: no-repeat;
    text-align: left;
  }
}
