div.main-content.main-content--padding.main-content--top-menu-fix.wifi-analytics-promo-page
  er-page-header(title="Аналитика" linkText="Назад в кабинет")
  promo(
    banner="wifi-analytics-promo.png"
    :featureList="featureList"
    :cost="cost"
    :forward="forward"
  )
