.er-switch {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: map_get($gray, '13');
  border-radius: 12px;
  height: 40px;
  position: relative;
  label {
    padding-left: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    input {
      display: none;
    }
    &.is-disabled{
      cursor: default;
      opacity: .4;
    }
  }
  &__text {
    @extend %body-font;
    @include color-black(0.5);
    transition: color 0.15s ease-in-out;
    user-select: none;
  }
  &__toggle {
    &--outer {
      opacity: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      box-shadow: inset -4px 4px 4px rgba(map_get($shades, 'black'), 0.15);
      background: linear-gradient(to bottom left, map_get($green, 'darken-1') 0%, map_get($green, 'lighten-3') 100%);
      padding: 2px;
      margin-right: 8px;
      transition: opacity 0.15s ease-in-out;
    }
    &--inner {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: map_get($green, 'base');
      position: relative;
      svg {
        width: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: map_get($shades, 'white');
      }
    }
  }
  &__selection {
    display: block;
    //width: calc(50% - 3px);
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: map_get($gray, '9');
    border-radius: 12px;
    transition: transform 0.15s ease-in-out;
  }
  input:checked {
    + .er-switch__toggle--outer {
      opacity: 1;
    }
    + .er-switch__text {
      @include color-black(0.8);
    }
  }
}
