div.main-content.main-content--padding.main-content--top-menu-fix
  er-page-header(title="Сетевая инфраструктура")
  er-promo(
    banner="vpn-promo.png"
    :featureList="featureList"
    plug-text="Создать сеть"
    linkToConnect="https://perm.b2b.domru.ru/products/arc-gl"
    buttonId="createnetwork"
  )
