tr.blacklist-row
  td.col-phone
    template(v-if="editMode")
      er-text-field(
        :value="phone"
        @input="onPhoneChange"
      )
    template(v-else)
      | {{ phone }}

  td.col-comment
    template(v-if="editMode")
      er-text-field(
        :value="comment"
        @input="onCommentChange"
      )
    template(v-else)
      | {{ comment }}

  td.col-action
    er-delete-button(
      @click="onDelete"
    )
