@mixin content-padding-breakpoint($p-dir, $bp) {
  /*
  вставляет значение паддинга основного контента для точки останова

  Пример:
    @include content-padding-breakpoint('left', 'sm')

  Результат:
    @media screen and (min-width: 480px) {
      padding-left: 24px
    }
  */
  $padding: 'padding';

  @if $p-dir != '' {
    $padding: 'padding-#{$p-dir}';
  }

  @include min-breakpoint($bp) {
    #{$padding}: map_get($main-content-padding, $bp);
  }
}

@mixin content-padding($padding-direction: '') {
  $padding: 'padding';

  @if $padding-direction != '' {
    $padding: 'padding-#{$padding-direction}';
  }

  #{$padding}: map_get($main-content-padding, 'xs');

  @include min-breakpoint('xxl') {
    #{$padding}: map-get($main-content-padding, 'xxl')
  }

  @include min-breakpoint('sm') {
    #{$padding}: map_get($main-content-padding, 'sm');
  }

  @include min-breakpoint('md') {
    #{$padding}: map_get($main-content-padding, 'md');
  }

  @include min-breakpoint('lg') {
    #{$padding}: map_get($main-content-padding, 'lg');
  }

  @include min-breakpoint('xl') {
    #{$padding}: map_get($main-content-padding, 'xl');
  }
}
