.telephony-blacklist-form {
  .blacklist-form__input-hint {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .row {
    p {
      @extend %body;
    }

    margin-top: $padding-x8;

    @include min-breakpoint('md') {
      margin-top: $padding-x10;
    }
  }

  @include container-padding($padding-x2);
}
