common-document(
  :class="{'er-document--signed': documentIsSigned}"
).er-document--contract.er-document--big-doc
  template(v-slot:header)
    .er-document__title {{ documentName }}
    a(:href="document.file").er-document__link.er-document__subtitle
      | Текст документа
    er-icon(name="doc")

  template(v-slot:body)
    .document-number
      .document-number__sign №
      er-tooltip(top)
        template(v-slot:activator="{ on }")
          .document-number__number(v-on="on") {{ computedRelatedTo }}
        .document-number__number--tooltip {{ computedRelatedTo }}
    .document-date.caption2
      | от {{ computedModifiedWhen }}

    template(v-if="document.filePath")

  template(v-slot:footer)
    //er-attach(:url="document.fileName")
