.er-speed-component {
  .filter {
    stroke-width: 5;
    stroke-linejoin: round;
  }

  .main-text {
    user-select: none;

    .number {
      font: 45px/50px $fedra-demi;
      letter-spacing: -1px;
      @include color-black(0.8);
    }

    .unit {
      font: 14px/16px $fedra-demi;
      @include color-black(0.5);
    }
  }

  .scale-numbers {
    fill: rgba(map-get($shades, 'black'), 0.2);
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-anchor: middle;
    user-select: none;
  }

  .speed-toggle {
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 0.8;
    }
  }

  .main-cursor {
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    &.hidden {
      display: none;
    }
  }

  .main-cursor.active {
    opacity: 1;
  }
}
