.auth-type-chart {
  width: 100%;

  .chart-holder {
    width: calc(100% + 44px);
    min-height: 256px;
    margin-top: $padding-x4;
    margin-left: -14px;

    @include media-query((
      margin-top: (lg: $padding-x6)
    ));
  }

  .chart-legend{

    &__item{
      @extend %body-font;
      display: flex;
      justify-content: space-between;

      &:not(:last-child){
        margin-bottom: 7px;
      }

      &__ico{
        margin-right: $padding-x2;

        svg{
          width: 18px !important;
          height: 18px !important;

          @include media-query((
            width: (md: 24px !important, lg: 32px !important),
            height: (md: 24px !important, lg: 32px !important)
          ));
        }
      }
    }
  }
}
