%content-h-padding {
  padding: {
    left: $padding-x4;
    right: $padding-x4;
  }

  @include min-breakpoint('sm') {
    padding-left: $padding-x6;
    padding-right: $padding-x6;
  }

  @include min-breakpoint('lg') {
    padding: {
      left: $padding-x8;
      right: $padding-x8;
    }
  }

  @include min-breakpoint('xl') {
    padding: {
      left: $padding-x4;
      right: $padding-x4;
    }
  }
}


$xl-max-chat-width: 300px;

.chat {
  &__wrap {
    height: 70vh;
    display: flex;
    flex-direction: column;

    @include min-breakpoint('xl') {
      width: $xl-max-chat-width;
      max-width: $xl-max-chat-width;
      height: 100vh;
    }
  }

  &__header {
    @extend %content-h-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: map_get($gray, '1');
    border-bottom: 1px solid map_get($gray, '5');

    padding: {
      top: $padding-x2;
      bottom: $padding-x2;
    }

    @include min-breakpoint('sm') {
      padding: {
        top: $padding-x4;
        bottom: $padding-x4;
      }
    }

    @include min-breakpoint('xl') {
      padding: {
        top: $padding-x8;
        bottom: $padding-x8;
      }
    }
  }

  &__container {
    flex-grow: 1;
  }

  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;

    .er-icon {
      @include color-black(.3);

      svg {
        width: 16px;
      }
    }
  }
}

.chat-header {
  &__status {
    @extend %caption2;

    .indicator {
      margin-left: $padding-x1;
      color: map_get($red, 'base');
    }

    &--online {
      .indicator {
        color: map_get($green, 'base')
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    margin-right: $padding-x2;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include min-breakpoint('sm') {
      flex-direction: row;
    }

    @include min-breakpoint('xl') {
      flex-direction: column;
    }
  }

  &__operator-name {
    @extend %body-font;
    @include color-black(.8);
  }
}
