$xl-max-chat-width: 300px;

.chat {
  &__wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include min-breakpoint('xl') {
      width: $xl-max-chat-width;
      max-width: $xl-max-chat-width;
    }
  }

  &__error {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include min-breakpoint('xl') {
      width: $xl-max-chat-width;
      max-width: $xl-max-chat-width;
    }

    &__header {
      border-bottom: 1px solid map_get($gray, '5');
      height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .ert-icon {
        cursor: pointer;
        margin-right: 20px;
        opacity: 0.2;

        &::v-deep svg {
          width: 16px;
        }
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;
      width: 100%;

      .ert-icon {
        opacity: 0.2;

        &::v-deep svg {
          width: 100px;
        }
      }

      &__text {
        width: 70%;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  &__loading {
    height: 100vh;
    @include min-breakpoint('xl') {
      width: $xl-max-chat-width;
      max-width: $xl-max-chat-width;
    }

    &__header {
      border-bottom: 1px solid map_get($gray, '5');
      height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .ert-icon {
        cursor: pointer;
        margin-right: 20px;
        opacity: 0.2;

        &::v-deep svg {
          width: 16px;
        }
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;
      width: 100%;
    }
  }
}
