.create-filter
  p
    b «Режим фильтрации» — «Черный список».
    |  Здесь Вы можете заблокировать категории сайтов или самостоятельно ввести адреса сайтов, которые хотите заблокировать.
  p
    b «Режим фильтрации» — «Белый список».
    |  Здесь Вам нужно ввести адреса сайтов, к которым доступ будет открыт.
