.er-delete-button {
  cursor: pointer;
  display: inline-block;

  .er-icon {
    @include color-black(.2);
  }

  &__label {
    margin-left: $padding-x2;
    @extend %caption1;
    border-bottom: 1px dashed;
    display: none;

    @include min-breakpoint('md') {
      display: inherit;
    }
  }
}
