.payments-off {
  position: relative;
  background: map_get($gray, '3');
  z-index: 2;
  left: -300px;
  top: 47px;
  min-height: 381px;
  @include media-query((
    min-height: (
      sm: 247px,
    ),
  ));
  &__container {
    width: 100% !important;
    margin-left: 300px !important;
    margin-top: -43px;
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 0px;
    top: 0px;
    color: map_get($red, 'base');
    @include media-query((
      width: (
        md: 80px !important
      ),
      /*
      margin-top: (
        md: 64px,
        lg: 64px,
      ),
      margin-left: (
        md: 46px,
        lg: 16px,
      ),
      */
    ));

  }
  &__pos {
    position: relative;
    margin-left: 30px;
    top: 0;
    @include media-query((
      margin-left: (md: -10px),
      top: (md: 16px),
    ));

  }
  &__info {
    color: map_get($red, 'base');
    position: absolute;
    font-family: $fedra-demi;
    &__icon svg{
      width: 16px !important;
      margin-right: 5px;
    }
    &__span {
      font-family: $fedra-demi !important;
      color: map_get($red, 'base') !important;
    }
  }
  &__butt {
    &__left {
      position: relative;
      top: -51px;
      left: 10px;
      max-width: 127% !important;
      width: 360px !important;
      @include media-query((
        max-width: (sm: 100% !important),
        width: (sm: 179px !important),
        left: (
          sm: -81px
        ),
        top: (sm: 86px),
      ));
   //   max-width: 180px !important;
    }
    &__right {
      top: -30px;
      left: 35px;
      @include media-query((
        left: (
          sm: 109px,
          md: 202px
        ),
        top: (
          sm: 50px
        ),
      ));
    }
    &__text {
      font: 16px/20px $fedra-demi !important;
      color: rgba(map_get($shades, 'black'), 0.8) !important;
      letter-spacing: -0.5px;
      margin-top: 6px;
      margin-bottom: 9px;
    }
    &__icon svg {
      width: 32px !important;
      color:  map_get($yellow, 'base');
      margin-right: 16px;
    }
    &__container {
      position: relative;
      left: 0;
      top: 124px;
      padding-left: 0 !important;
      @include media-query((
        left: (
          sm: 81px,
          //md: -10px
        ),
        top: (
          sm: 0,
          lg: 6px
          //md: -10px
        ),
      ));

    }
  }
}
