div(class="iptv-slider")
  template(v-if="loading")
    er-preloader(:active="true" icon icon-type="2")
  template(v-else)
    template(v-if="moduleList.length")
      h2 Подключенные модули
      div(class="iptv-slider__modules")
        div(class="iptv-slider__modules__header").mt-8
          div(class="iptv-slider__modules__id").caption2 ID оборудования
        div(class="iptv-slider__modules__item" v-for="item in moduleList" :key="item.id" @click="openPackages(item)").pt-8
          div(class="iptv-slider__modules__item__mac") {{ item.stb.name }}
          div(class="iptv-slider__modules__item__package" )
            er-icon(name="tv-pack")
            div.count.ml-4 {{ item.packets.length }}
          div(class="iptv-slider__modules__item__price") 
            div(class="") {{ item.price }}
            div(class="iptv-slider__unit") &nbsp;₽/мес


    div(class="iptv-slider__buttons").mt-32.mb-24.mt-md-40
      er-button(@click="isConnection = true" :loading="isConnection") Добавить модуль
      er-button(flat @click="$router.push('/lk/support?form=suspension_of_a_contract_or_service')") Приостановить услугу
    ErPlugProduct(
      v-model="isConnection"
      :requestData="requestData"
      isSendManagerRequest
      )
