%local-content-padding {
  @mixin cp($bp) {
    $local-content-padding: (
      "xs": $padding-x4,
      "sm": $padding-x6,
      "md": $padding-x6,
      "lg": $padding-x6,
      "xl": $padding-x8
    );
    @include min-breakpoint($bp) {
      padding-left: map_get($local-content-padding, $bp);
      padding-right: map_get($local-content-padding, $bp);
    }
  }

  @include cp("xs");
  @include cp("sm");
  @include cp("md");
  @include cp("lg");
  @include cp("xl");
}

.er-price__sum {
  white-space: nowrap;
}

.product {
  $head-count-width: 154px;
  $head-title-input-width: 208px;

  &__head {
    @extend %local-content-padding;
  }

  &__head-count {
    display: flex;
    flex-direction: column-reverse;

    @include min-breakpoint("sm") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .product-top-head {
      display: flex;
      flex-direction: column;

      @include min-breakpoint("sm") {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
      }
    }

    .user-count {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: $padding-x4;

      @include min-breakpoint("lg") {
        grid-template-columns: 1fr 0.4fr 1fr;
      }

      &__label {
        @extend %caption2;
        position: absolute;

        white-space: nowrap;
        padding-bottom: $padding-x1;
        display: flex;
        align-items: flex-end;
        top: -20px;
      }

      &__price {
        display: flex;
        align-items: center;

        white-space: nowrap;
      }

      &__input {
        position: relative;
      }

      &__value {
        $md-width: 147px;
        $width: 136px;

        @extend %h3-font;
        height: $padding-x10;
        padding: 0 $padding-x1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $width;
        border-radius: $padding-x2;

        @include min-breakpoint(md) {
          width: $md-width;
        }
      }

      &__add-btn {
        @include min-breakpoint("lg") {
          max-height: $padding-x10;
        }
      }
    }

    .link-wrap {
      display: inline-flex;
      align-items: center;
      margin-bottom: $padding-x12;

      @include min-breakpoint("sm") {
        margin-bottom: 0;
      }

      transition: all $primary-transition;

      &:hover {
        .er-icon {
          color: map_get($red, "base");
        }
      }

      .er-icon {
        transition: all $primary-transition;
        @include color-black(0.2);
        margin-right: $padding-x2;
      }

      .link {
        cursor: pointer;
        white-space: nowrap;
        @extend %caption1;
        @include color-black(0.5);
        border-color: rgba(map_get($shades, "black"), 0.5);
      }
    }
  }

  &__head-title {
    display: flex;
    flex-direction: column;

    padding-top: $padding-x10;
    padding-bottom: $padding-x2;

    .er-input {
      margin-top: $padding-x4;
    }

    @include min-breakpoint("sm") {
      .er-input {
        width: $head-title-input-width;
      }
    }

    @include min-breakpoint("md") {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding-top: $padding-x12;
      padding-bottom: $padding-x4;

      .er-input {
        max-width: 212px;
        margin: 0;
      }
    }
  }

  &__body {
    .address-folder + .address-folder {
      margin-top: $padding-x1;
    }
  }

  &__footer {
    @extend %local-content-padding;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: $padding-x2 $padding-x4;

    padding: {
      top: $padding-x8;
      bottom: $padding-x6;
    }

    @include min-breakpoint("sm") {
      grid-template-columns: 1fr 1fr;
    }

    @include min-breakpoint("md") {
      padding: {
        top: $padding-x10;
        bottom: $padding-x8;
      }
    }

    @include min-breakpoint("lg") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .camera-list__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $padding-x8;

    padding: 0 $padding-x2;

    @include min-breakpoint(lg) {
      gap: $padding-x6;
    }

    .col {
      $actionsWidth: 135px;
      @extend %caption2;

      &:first-child {
        flex-grow: 1;
        min-width: 35%;
        max-width: 35%;
      }

      &:nth-child(2) {
        flex-grow: 1;
      }

      &--device-name {
        flex-grow: 1;
      }

      &--actions {
        width: $actionsWidth;
      }
    }
  }
}
