div(:class="`${pre}`")
  div(:class="`${pre}__header`")
    div(:class="`${pre}__header__title`") Организация
    div.caption.mb-4
      | Наименование:
    div.mb-16
      | ООО «Шуруповерт-Холдинг»
    div(:class="`${pre}__content`")
      | Чтобы заключить договор и пользоваться услугами нужно заполнить данные организации. Это не займёт много времени, регистрация автоматизирована и занимает 5–8 минут

    er-button(color="yellow") Заполнить данные
