.hint {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 288px;
  height: 480px;
  background: map_get($shades, 'white');
  box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  z-index: 13;
  margin: 65px auto;
  @include media-query((
    margin: (
      sm: 16px auto,
      md: 221px auto,
      lg: 258px auto,
      xl: 214px auto,
    ),
    height: (
      sm: 288px,
      md: 353px,
      xl: 416px,
    ),
    width: (
      sm: 448px,
      md: 384px,
      xl: 544px,
    ),
    top: (
      lg: 16px,
    ),
  ));
  &__content {
    position: absolute;
    left: 24px;
    top: 26px;
    width: 240px;
    @include media-query((
      left: (xl: 32px),
      width: (
        sm: 340px,
        xl: 470px
      ),
    ));
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 0;
    top: 0;
    color: map_get($yellow, 'base');
  }
  &__close svg {
    display: block;
    opacity: 0.2;
    width: 16px !important;
    position: absolute;
    right: 29px;
    top: 29px;
    cursor: pointer;
    @include media-query((
      display: (xl: block),
    ));
  }
  &__text {
    font: 13px/18px $fedra-book;
    letter-spacing: 0.25px;
    color: rgba(map_get($gray, '8'), 0.8);
    width: 240px;
    @include media-query((
      width: (
        sm: 323px,
        md: 336px
      ),
      position: ( sm: relative),
      top: (
        sm: -72px,
        md: -26px,
      ),
      left: (
        sm: 73px,
        md: 0,
      ),
      font-size: (
          md: 14px,
          xxl: 20px
        ),
      line-height: (
        md: 19px,
        xxl: 26px
      ),
      letter-spacing: (
        md: normal
      )
    ));
    &__header {
      @extend .hint__text;
      @include media-query((
        width: (sm: 240px !important),
        position: ( sm: relative),
        top: (
          sm: -20px,
          md: 10px
        ),
        left: (
          sm: 67px,
          md: -36px
        ),
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: nornal
        )
      ));
    }
    &__title {
      @include media-query((
        position: ( sm: relative),
        left: (
          sm: -34px
        ),
        top: (md: 6px),
      ));
      &__one-row {
        @extend .hint__text__title;
        @include media-query((
          position: ( sm: relative),
          left: (
            sm: -36px,
            md: -32px
          ),
          top: (
            md: 15px
          ),
        ));
      }
    }
  }
  &__header {
    padding-left: 0 !important;
  }
  &__err {
    position: absolute;
    font-family: $fedra-demi !important;
    color: rgba(map_get($red, 'base'), 1) !important;
    top: 350px;
    width: 242px;
    @include media-query((
      width: (
        sm: 381px,
        md: 343px,
        xl: 484px
      ),
      top: (
        sm: 182px,
        md: 235px
      ),
      left: (
        sm: 21px,
        md: 0,
        xl: 33px
      ),
    ));
  }
  &__container-button {
    position: absolute;
    text-align: right;
    padding-right: 26px;
    bottom: 32px;
    width: 100%;
    @include media-query((
      padding-right: ( sm: 24px )
    ));
  }
  &__yes {
    cursor: pointer;
    margin-left: 84px;
    @include media-query((
      margin-left: ( sm: 32px )
    ));
    &__one-row {
      @extend .hint__yes;
      margin-left: 32px;
    }
    &__text {
      font: 13px/120% $fedra-demi;
      letter-spacing: 0.35px;
      color: map_get($green, 'base');
      border-bottom: 1px dashed map_get($green, 'base');
      @include media-query((
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: normal
        ),
      ));
    }
  }
  &__no {
    cursor: pointer;
    &__text {
      font: 13px/120% $fedra-demi;
      letter-spacing: 0.35px;
      color: map_get($shades, 'black');
      border-bottom: 1px dashed map_get($green, 'base');
      opacity: 0.3;
      @include media-query((
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: normal
        ),
      ));
    }
  }
}
.er-hint__message {
  max-width: 410px !important;
}
