.wifi-analytics-choice-dialog {
  margin: 16px;
  @include media-query((
    margin: (md: 64px)
  ));

  &:not(.er-dialog--fullscreen) {
    max-height: calc(100% - 32px);
    @include media-query((
      max-height: (md: calc(100% - 128px)),
      max-width: (md: 512px, xl: 544px),
      margin-left: (xl: 336px),
    ));
  }
}
