.confirm {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 288px;
  height: 480px;
  background: map_get($shades, 'white');
  box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  z-index: 13;
  margin: 65px auto;
  @include media-query((
    margin: (
      sm: 16px auto,
      md: 221px auto,
      lg: 258px auto,
      xl: 214px auto,
    ),
    height: (
      sm: 288px,
      md: 353px,
      xl: 416px,
    ),
    width: (
      sm: 448px,
      md: 384px,
      xl: 544px,
    ),
    top: (
      lg: 16px,
    ),
  ));
  &__check {
    @extend .confirm;
    margin: 63px auto;
    @include media-query((
      margin: (
        sm: 73px auto,
        md: 221px auto,
        lg: 258px auto,
      ),
    ));
  }
  &__content {
    position: absolute;
    left: 24px;
    top: 26px;
    width: 240px;
    @include media-query((
      left: (xl: 32px),
      width: (
        sm: 340px,
        xl: 470px
      ),
    ));
    &__size {
      margin-bottom: 57px;
      @include media-query((
        margin-bottom: (
        sm: 48px,
        md: 57px
        ),
      ));
    }
    &__text {
      @include media-query((
        left: (
          sm: 22px
        ),
        top: (
          sm: 8px
        ),
      ));
    }
    &__pos {
      @include media-query((
        position: (
          sm: relative,
        ),
        top: (
          sm: -63px,
          md: 0,
        ),
        left: (
          sm: 71px,
          md: 0,
        ),
      ));
    }
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 0;
    top: 0;
    color: map_get($yellow, 'base');
  }
  &__container-button {
    position: absolute;
    padding: 0 24px 0 24px !important;
    bottom: 32px;
    width: 90%;
    @include media-query((
      width: (
        sm: 100%,
      ),
      padding: (
        sm: 0 10px 0 115px !important,
        md: 0 29px 0 62px !important,
        lg: 0 10px 0 24px !important,
      ),
    ));
    &__remcard {
      @extend .confirm__container-button;
      padding: 0 24px 0 24px !important;
      @include media-query((
        width: (
          sm: 100%,
        ),
        padding: (
          sm: 0 10px 0 131px !important,
        ),
      ));
    }
  }
  &__close svg {
    display: block;
    opacity: 0.2;
    width: 16px !important;
    position: absolute;
    right: 29px;
    top: 29px;
    cursor: pointer;
    @include media-query((
      display: (xl: block),
    ));
  }
  &__decimal {
    opacity: .3;
  }
  &__currency {
    margin-top: 6px;
    margin-left: 4px;
    opacity: .3;
  }
  &__no {
    cursor: pointer;
    /*
    &__remcard {
      position: relative;
      cursor: pointer;
      @include media-query((
        left: (
          sm: 10px,
          md: 30px,
        ),
      ));
    }
    &__payment {
      cursor: pointer;
      @include media-query((
        margin-left: (
          sm: 4px,
          md: -11px,
        ),
      ));
    }
    &__del {
      cursor: pointer;
      !*
      @include media-query((
        margin-left: (
          sm: 41px,
          md: 21px
        ),
      ));
      *!
    }
    &__pay {
      cursor: pointer;
      @include media-query((
        margin-left: (
          sm: 1px,
          md: 7px,
        ),
      ));
    }
    */

    &__text {
      cursor: pointer;
      font: 13px/120% $fedra-demi;
      letter-spacing: 0.35px;
      color: map_get($shades, 'black');
      border-bottom: 1px dashed map_get($green, 'base');
      opacity: 0.3;
      margin-left: -15px;
      text-align: left;
      @include media-query((
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: normal
        ),
      ));
    }
  }
  &__yes {
    &__payment {
      cursor: pointer;
      margin-left: -5px;
      @include media-query((
        margin-left: (
          sm: 1px,
          md: 4px,
        ),
      ));
    }
    &__remcard {
      cursor: pointer;
      margin-left: 24px;
      @include media-query((
        margin-left: (
          sm: 3px,
          md: 39px,
        ),
      ));
    }
    &__del {
      cursor: pointer;
      margin-left: 4px;
      @include media-query((
        margin-left: (
          sm: 25px,
          md: 22px,
        ),
      ));
    }
    &__pay {
      cursor: pointer;
      margin-left: 14px;
      @include media-query((
        margin-left: (
          sm: -17px,
          md: 12px,
        ),
      ));
    }
    &__check {
      cursor: pointer;
      margin-left: 8px;
      @include media-query((
        margin-left: (
          sm: 4px,
          md: 9px,
        ),
      ));
    }
    &__text {
      cursor: pointer;
      font: 13px/120% $fedra-demi;
      letter-spacing: 0.35px;
      color: map_get($green, 'base');
      border-bottom: 1px dashed map_get($green, 'base');
      @include media-query((
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: normal
        ),
      ));
    }
  }
  &__butt {
    display: flex !important;
    justify-content: space-between;
    position: relative;
    text-align: center;
    @include media-query((
      justify-content: (
        sm: space-around,
        md: space-between,
      ),
      text-align: (sm: end),
      display: (xl: none !important),
      /*
      left: (
        sm: 21px,
        //md: 52px
      ),
      justify-content: (
        sm: end,
        md: start
      ),
      */
    ));
    &__xl {
      display: none !important;
      @include media-query((
        display: (xl: flex !important),
      ));
    }
  }
  &__text {
    font: 13px/18px $fedra-book;
    letter-spacing: 0.25px;
    color: rgba(map_get($gray, '8'), 0.8);
    width: 240px;
    @include media-query((
      width: (
        sm: 340px,
        md: 336px
      ),
      position: ( sm: relative),
      top: (
        sm: -72px,
        md: -26px,
      ),
      left: (
        sm: 73px,
        md: 0,
      ),
      font-size: (
          md: 14px,
          xxl: 20px
        ),
      line-height: (
        md: 19px,
        xxl: 26px
      ),
      letter-spacing: (
        md: normal
      )
    ));
    &__header {
      @extend .confirm__text;
      @include media-query((
        width: (sm: 240px !important),
        position: ( sm: relative),
        top: (
          sm: -20px,
          md: 10px
        ),
        left: (
          sm: 54px,
          md: -49px
        ),
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 17px,
          xxl: 26px
        ),
        letter-spacing: (
          md: nornal
        )
      ));
    }
    &__title {
      @include media-query((
        position: ( sm: relative),
        left: (sm: -48px),
        top: (md: 6px),
      ));
      &__remcard {
        @include media-query((
          position: ( sm: relative),
          left: (
            sm: -49px,
            md: -45px,
          ),
          top: (md: 18px),
        ));
      }
    }
  }
  &__header {
    padding-left: 0 !important;
  }
  &__err {
    position: absolute;
    font-family: $fedra-demi !important;
    color: rgba(map_get($red, 'base'), 1) !important;
    width: 247px;
    left: 25px;
    top: 208px;
    @include media-query((
      width: (
        sm: 378px,
        md: 343px,
        xl: 484px
      ),
      top: (
        sm: 128px,
        md: 190px
      ),
      left: (
        sm: 38px,
        md: 25px,
        xl: 33px
      ),
    ));
  }
  /*
  &__err-autopay {
    @extend .confirm__err;
    left: 0;
    top: 70px;
    @include media-query((
      width: (
        //sm: -49px,
        lg: 340px,
      ),
      top: (
        lg: 90px
      ),
    ));
  }
  */
  /*
  &__err-autopay-hint {
    @extend .confirm__err;
    left: 0;
    top: 236px;
    width: 347px;
  }
  */
}
.er-hint__message {
  max-width: 410px !important;
}
