.er-report-filter {
  &__filter {
    margin-top: 11px;
    @include media-query((
      margin-top: (sm: 16px)
    ));
  }
  &__er-filter-mr {
    margin-right: 16px;
  }
  &__filterOpen {
    position: relative;
    @include media-query((
    ));
  }
  /*
  &__max-width-left {
    max-width: 250px !important;
  }
  &__max-width-right {
    max-width: 250px !important;
    @include media-query((
      max-width: (sm: 164px !important)
    ));
  }
  */
  &__list {
    margin-left: -43px;

    padding-top: $padding-x4;
    padding-bottom: $padding-x4;

    @include min-breakpoint('md') {
      background-color: map_get($shades, 'white');
    }
  }
  &__close svg {
    cursor: pointer;
    width: 16px !important;
    opacity: 0.3;
    margin-left: 8px;
  }
  &__active-filter {
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dashed;
  }
  &__wrap {
    @include min-breakpoint('md') {
      background-color: map_get($shades, 'white');
    }
  }
  .er-date-picker {
    @include max-breakpoint('sm') {
      max-width: inherit;
    }
  }
  .er-filter-group {
    margin-top: $padding-x4;
    @include min-breakpoint('md') {
      margin-top: 0;
    }
  }
  .er-filter-close {
    display: none;
    @include min-breakpoint('md') {
      display: inherit;
      order: -1;
    }
  }

  // reset component height
  .er-date-picker,
  .er-select,
  .er-toggle {
    .er-dialog__container {
      display: block !important;
    }
    .er-messages {
      display: none;
    }
  }
  .er-select__slot input {
    max-width: 0;
  }
}
