.container {
  width: 100%;
  padding: {
    right: $grid-gutter-width / 2;
    left: $grid-gutter-width / 2;
  };
  margin: {
    right: auto;
    left: auto;
  };
  &:not(.full) {
    @include media-query((
      max-width: (
        sm: map_get($breakpoint-max-width, sm),
        md: map_get($breakpoint-max-width, md),
        lg: map_get($breakpoint-max-width, lg),
        xl: map_get($breakpoint-max-width, xl),
        xxl: map_get($breakpoint-max-width, xxl),
      )
    ));
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: {
    right: -$grid-gutter-width / 2;
    left: -$grid-gutter-width / 2;
  };
  &.no-gutters {
    margin: {
      right: 0;
      left: 0;
    };
    > .flex {
      padding: {
        right: 0;
        left: 0;
      };
    }
  }
}

.flex {
  position: relative;
  width: 100%;
  padding: {
    right: $grid-gutter-width / 2;
    left: $grid-gutter-width / 2;
  };
  @each $breakpoint, $width in $grid-breakpoint {
    @media screen and (min-width: $width) {
      @for $i from 1 through $grid-columns {
        &.#{$breakpoint}#{$i} {
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
        }
      }
      @for $i from 1 to $grid-columns {
        &.offset-#{$breakpoint}#{$i} {
          margin: {
            left: percentage($i / $grid-columns);
          };
        }
      }
    }
  }
}
