h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}


//a.link {
//  text-decoration: none;
//  font-family: $fedra-demi;
//  color: map_get($blue, 'base');
//  transition: $primary-transition;
//  border-bottom: 1px solid map_get($blue, 'base');
//  &:hover {
//    border-bottom-color: map_get($shades, 'transparent');
//  }
//  &:active {
//    color: map_get($yellow, 'base');
//    border-bottom-color: map_get($yellow, 'base');
//  }
//  &--solid {
//    &--black-yellow {
//      text-decoration: none;
//      font-family: $fedra-book;
//      color: rgba(map_get($shades, 'black'), 0.8);
//      transition: $primary-transition;
//      border-bottom: 1px solid rgba(map_get($shades, 'black'), 0.8);
//      &:hover {
//        color: map_get($shades, 'black');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//      &:active {
//        color: map_get($yellow, 'base');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//    }
//    &--black {
//      text-decoration: none;
//      font-family: $fedra-book;
//      color: rgba(map_get($shades, 'black'), 0.5);
//      transition: $primary-transition;
//      border-bottom: 1px solid rgba(map_get($shades, 'black'), 0.5);
//      &:hover {
//        color: map_get($shades, 'black');
//        border-bottom-color: map_get($shades, 'black');
//      }
//      &:active {
//        color: map_get($yellow, 'base');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//    }
//    &--yellow {
//      text-decoration: none;
//      font-family: $fedra-book;
//      color: rgba(map_get($shades, 'black'), 0.5);
//      transition: $primary-transition;
//      border-bottom: 1px solid rgba(map_get($yellow, 'base'), 0.5);
//      &:hover {
//        color: map_get($shades, 'black');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//      &:active {
//        color: map_get($yellow, 'base');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//    }
//  }
//  &--dashed {
//    &--yellow {
//      text-decoration: none;
//      font-family: $fedra-book;
//      color: rgba(map_get($shades, 'black'), 0.5);
//      transition: $primary-transition;
//      border-bottom: 1px dashed rgba(map_get($yellow, 'base'), 0.5);
//      &:hover {
//        color: map_get($shades, 'black');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//      &:active {
//        color: map_get($yellow, 'base');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//    }
//    &--black {
//      text-decoration: none;
//      font-family: $fedra-book;
//      color: rgba(map_get($shades, 'black'), 0.5);
//      transition: $primary-transition;
//      border-bottom: 1px dashed rgba(map_get($shades, 'black'), 0.5);
//      &:hover {
//        color: map_get($shades, 'black');
//        border-bottom-color: map_get($shades, 'black');
//      }
//      &:active {
//        color: map_get($yellow, 'base');
//        border-bottom-color: map_get($yellow, 'base');
//      }
//    }
//  }
//}
.link {
  @extend %caption1-font;
  color: map-get($blue, 'base');
  text-decoration: none;
  border-bottom: 1px solid map-get($blue, 'base');
  transition: $primary-transition;

  &:hover,
  &:active {
    border-bottom-color: map-get($shades, 'transparent');
  }

  &:active {
    color: map-get($red, 'base');
  }

  &--solid,
  &--dashed {
    transition: $primary-transition;
    color: map-get($gray, '8');
    border-bottom-width: 1px;
    border-bottom-color: currentColor;

    &:hover {
      color: map-get($red, 'lighten-2');
    }

    &:active {
      color: map-get($red, 'base');
    }
  }

  &--solid {
    border-bottom-style: solid;
  }

  &--dashed {
    border-bottom-style: dashed;
  }
}

.caption {
  color: rgba(map_get($shades, 'black'), 0.3);
  @include media-query((
    font: (
      xs: map_get($text, 'xs'),
      lg: map_get($text, 'small')
    )
  ));
}

.caption1 {
  @extend %caption1;
}

.caption2 {
  @extend %caption2;
}

.body-font {
  @extend %body-font;
}

.rub {
  &::after {
    content: '₽';
    font-family: $fedra-demi;
  }
}

.error--text {
  color: map-get($red, 'base') !important;
  caret-color: map-get($red, 'base') !important;
}

.success--text {
  color: map-get($green, 'base') !important;
  caret-color: map-get($green, 'base') !important;
}
