.lk-template {
  background: map_get($gray, '3');
  min-height: 100vh;
  &__content {
    width: 100%;
    //max-width: 1208px;
    max-width: 1440px;
    padding: 89px 16px 0;
    //overflow: hidden;
    @include media-query((
            padding: (
                    sm: 100px 24px 0,
                    md: 115px 24px 0,
                    lg: 120px 32px 0,
                    xl: 146px 32px 0 316px,
                    xxl: 146px 152px 0 316px
            )
    ))
  }
}
