div(:class="`${pre}`")
  chat-button
  ErtNavigationComponent(
    @click-notifications="onOpenNotifications"
  )
  //- menu-component(
  //-  @click-chat="onOpenChat()"
  //-  @click-notifications="onOpenNotifications()"
  //- )
  router-view
  .space-before-footer
  er-right-modal(
    :active="showNotificationPanel"
    @click-outside="onCloseNotificationPanel()"
  ).er-notification-container
    notification-panel(
      @close="onCloseNotificationPanel()"
    )

  chat-wrap(
    :active="isOpenChat"
    @close="onCloseChat()"
  )

  er-footer
  er-error-modal
