div(:class="`${pre}`")
  menu-component(
    @click-chat="onOpenChat()"
    @click-notifications="onOpenNotifications()"
  )

  router-view

  er-right-modal(
    :active="showNotificationPanel"
    @click-outside="onCloseNotificationPanel()"
  ).er-notification-container
    notification-panel(
      @close="onCloseNotificationPanel()"
    )

  chat-wrap(
    :active="showChatPanel"
    @close="onCloseChat()"
  )

  er-footer
  er-error-modal
