.add-funds {
  width: 100%;
  background: map_get($gray, '3');
  &__line {
    left: 0;
    background: map_get($gray, '13');
    height: 274px;
    position: absolute;
    right: 0;
    @include media-query((
      height: (
        sm: 253px,
        md: 386px,
      ),
    ));
  }
  &__container-main {
    padding: 0 !important;
    min-width: 320px;
    margin-left: -16px;
    @include media-query((
      margin-top: (
        xs: -14px,
        sm: -25px,
        md: 71px !important,
        lg: -21px,
        xl: -23px,
      ),
      margin-left: (
        sm: 0,
        md: 0,
        lg: 0,
      ),
      margin-bottom: (
        xs: -7px,
      ),
      max-width: (
        xs: 480px !important,
        sm: 640px !important,
        md: 960px !important,
        lg: 1200px !important,
      )
    ));
  }
  &__back-arr {
    margin-left: 10px;
    @include media-query((
      margin-left: (
        sm: 16px,
        md: -10px,
        lg: -17px,
        xl: 0px,
      ),
      padding-left: (
        xl: 0px,
      )
    ));
  }
  &__back-main {
    display: none;
    &__text {
      text-decoration: none;
    }
    @include media-query((
      margin-top: (
        xl: 11px
      ),
      margin-bottom: (lg: 14px),
      display: (xl: block),
      padding-right: (lg: 16px !important)
    ));
  }
  &__back-main-xs svg {
    display: block;
    height: 12px;
    cursor: pointer;
    margin-top: 25px;
    color: rgba(map_get($yellow, 'base'), 0.8);
    &__text {
      text-decoration: none;
    }
    @include media-query((
      display: (xl: none),
      margin-top: (
        md: 27px,
      ),
    ));
  }
  &__icon-height svg {
    height: 16px;
    margin-left: -7px;
  }
  &__welcome-title {
    width: 256px;
    margin-bottom: 22px;
    margin-top: 15px;
    letter-spacing: -1px;
    @include media-query((
      margin-top: (
        xl: -5px,
        xxl: -4px
      ),
      width: (
        sm: 456px
      ),
      margin-bottom: (
        sm: 24px,
        lg: 29px,
        xl: 0px
      )
    ))
  }
  &__carousel {
    &__item {
      position: relative;

      picture {
        img {
          width: 100%;
          border-radius: 12px;
          box-shadow: -0 2px 2px rgba(map_get($shades, 'black'), 0.03), 0 2px 12px rgba(map_get($shades, 'black'), 0.04);
          @include media-query((
            width: (lg: auto)
          ))
        }
      }
      .er-button {
        position: absolute;
        width: 160px;
        bottom: 30px;
        left: 24px;
      }
    }
  }
  &__main {
    width: 108%;
    margin-top: 3px;
    background: map_get($gray, '13');
    box-shadow: inset 0 4px 16px rgba(0, 0, 0, .05);
    display: flex;
    overflow: hidden;
    height: 614px;
    @include media-query((
      margin-left: (
        sm: -24px,
        md: 0
      ),
      height: (
        sm: 600px,
        md: 700px,
        lg: 386px,
      ),
      width: (
        sm: 111%,
        md: 104%
      ),
      margin-top: (
        sm: 5px,
        md: 0,
        xl: 53px,
      )
    ));
  }
  &__sum {
    width: 100%;
    padding-top: 0;
    background: map_get($gray, '3');
    &__title {
      margin: 0;
      @include media-query((
        margin-top: (
          sm: -25px,
          md: 47px,
        )
      ));
    }
    &__input {
      width: 288px;
      margin-top: 19px;
      position: relative;
      @include media-query((
        width: (
          sm: 203px,
          md: 203px
        ),
        margin-top: (
          sm: 17px,
          md: 23px,
          lg: 18px,
        ),
      ));
      & input {
        position: relative;
        font: 17px/22px $fedra-demi !important;
        letter-spacing: -0.5px;
        color: map_get($shades, 'black') !important;
        @include media-query((
          font-size: (
            md: 18px,
            xxl: 20px
          ),
          line-height: (
            md: 23px,
            xxl: 26px
          ),
          letter-spacing: (
            md: -1px
          )
        ))

      }
      & .er-text-field .er-input__control .er-input__slot {
        min-height: 39px !important;
      }
    }
    &__remember {
      margin-top: 20px;
      display: flex;
      align-items: center;
      width: 280px;
      @include media-query((
        margin-top: (
          lg: 13px,
        ),
      ));
    }
    &__button {
      width: 288px;
      margin-top: 31px;
      @include media-query((
        margin-top: (
          sm: 44px,
          md: 34px,
          lg: 53px,
          xl: 40px,
        ),
        width: (
          sm: 203px,
          md: 203px
        ),
      ));
    }
    &__text {
      @extend .add-funds__sum__autopay;
      width: 288px;
      left: 0 !important;
      top: 18px !important;
      border-bottom: none !important;
      color: rgba(map_get($shades, 'black'), 0.5) !important;
      @include media-query((
        top: (
          sm: -37px !important,
          md: -41px !important,
          lg: 30px !important,
        ),
        left: (
          sm: 219px !important,
          md: 286px !important,
          lg: -11px !important,
        ),
        width: (
          sm: 249px,
          md: 270px
        ),
      ));
      & a {
        color: rgba(map_get($shades, 'black'), 0.5) !important;
      }
    }
    &__move-card {
      max-width: 519px;
      height: 307px;
      overflow: hidden;
      top: 16px;
      @include media-query((
        top: (
          sm: 32px,
          md: 0
        ),
        height: (
          sm: 313px,
          md: 383px
        ),
      ));
    }
    &__pos {
      padding-left: 31px !important;
      @include media-query((
        padding-left: (
          sm: 39px !important,
          md: 15px !important
        )
      ));
    }
    &__hint {
      position: relative;
      margin-left: 7px;
      top: -4px;
      @include media-query((
        margin-left: (
          md: 14px,
        ),
      ))
    }
    &__autopay {
      position: relative;
      margin-left: 11px;
      top: -3px;
      border-bottom: 1px dashed map_get($shades, 'black');
      font: 11px/16px $fedra-demi;
      letter-spacing: 0.35px;
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        font-size: (
          md: 13px,
          xl: 14px,
        ),
        line-height: (
          md: 16px,
          xl: 19px,
        ),
        letter-spacing: (
          md: normal
        )
      ))
    }
  }
  &__check {
    margin-top: 0;
    width: 313px;
    position: relative;
    z-index: 1;
    margin-left: -12px;
    @include media-query((
      width: (md: 420px),
      margin-top: (
        sm: -50px,
        md: 27px,
        lg: 58px,
      ),
      margin-left: (
        md: 46px,
        lg: 16px,
      ),
    ));
    &__question {
      margin-left: -25px;
      margin-top: 2px;
    }
    &__decoration {
      position: relative;
      width: 100%;
      height: 26px;
      background-color: map_get($gray, '10');
      border-radius: 12px;
    }
    &__decoration-line {
      position: absolute;
      top: 10px;
      left: 13px;
      width: calc(100% - 26px);
      height: 6px;
      background-color: map_get($gray, '35');
      box-shadow: inset -2px 2px 2px rgba(0, 0, 0, .3);
      border-radius: 4px;
    }
    &__get-check {
      width: 288px;
      height: 227px;
      padding: 50px 40px 37px 34px;
      margin-top: -13px;
      margin-left: 13px;
      margin-bottom: 47px;
      position: relative;
      background-image: url("../../../../../../static/get-check-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      filter: drop-shadow(-4px 6px 6px rgba(0, 0, 0, .15));
      background-size: 288px 100%;
      @include media-query((
        height: (md: 263px),
        width: (md: 392px),
        background-size: (md: 392px)
      ));
    }
    &__header {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 16px;
      border-bottom: 1px dashed map_get($gray, '36');
      margin-top: -7px;
    }
    &__title {
      margin-right: 32px;
    }
    &__body {
      margin-top: 27px;
    }
    &__input {
      position: relative;
      top: -13px;
      text-align: center;
    }
    &__email {
      margin-top: -3px;
    }
  }
  &__cards {
    margin-left: -14px;
    background: blue;
  }
  &__confirm {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 288px;
    height: 480px;
    background: map_get($shades, 'white');
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    z-index: 7;
    margin: 184px auto;
    @include media-query((
      margin: (
        sm: 247px auto,
        md: 282px auto,
        lg: 258px auto,
        xl: 289px auto,
      ),
      height: (
        sm: 288px,
        md: 353px,
        lg: 352px,
      ),
      width: (
        sm: 448px,
        md: 384px,
        lg: 384px,
      ),
      top: (
        lg: 16px,
      ),
    ));
    &__content {
      position: absolute;
      left: 31px;
      top: 26px;
    }
    &__icon-height svg {
      position: absolute;
      width: 52px !important;
      left: 0px;
      top: 0px;
      color: map_get($yellow, 'base');
    }
    &__container-button {
      position: absolute;
      padding: 0 32px 0 24px !important;
      bottom: 32px;
      width: 90%;
      @include media-query((
        width: (
          sm: 100%,
        ),
        padding: (
          md: 0 10px 0 32px !important,
        ),
      ))
    }
    &__close svg {
      opacity: 0.2;
      width: 16px !important;
      position: absolute;
      right: 29px;
      top: 29px;
      cursor: pointer;
    }
    &__decimal {
      opacity: .3;
    }
    &__currency {
      margin-top: 6px;
      margin-left: 4px;
      opacity: .3;
    }
    &__pay {
      cursor: pointer;
      &__text {
        font: 13px/120% $fedra-demi;
        letter-spacing: 0.35px;
        color: map_get($green, 'base');
        border-bottom: 1px dashed map_get($green, 'base');
        @include media-query((
          font-size: (
            md: 14px,
            xxl: 20px
          ),
          line-height: (
            md: 17px,
            xxl: 26px
          ),
          letter-spacing: (
            md: nornal
          )
        ))
      }
    }
    &__no {
      cursor: pointer;
      &__text {
        font: 13px/120% $fedra-demi;
        letter-spacing: 0.35px;
        color: map_get($shades, 'black');
        border-bottom: 1px dashed map_get($green, 'base');
        opacity: 0.3;
        @include media-query((
          font-size: (
            md: 14px,
            xxl: 20px
          ),
          line-height: (
            md: 17px,
            xxl: 26px
          ),
          letter-spacing: (
            md: normal
          ),
          margin-left: (
            md: -22px,
          )
        ))
      }
    }
    &__butt {
      justify-content: space-between;
      @include media-query((
        justify-content: (
          sm: end,
        ),
      ));
    }
  }
}
