tr.connection-row(
  :class="getCSSClass"
)
  td.col-type
    er-icon(:name="iconName")

  td.col-date
    .col-date__date 02.02.20
    .col-date__time 07:53

  td.col-phone
    .datetime
      .datetime__date 02.02.20
      .datetime__time 08:52
    .phone +7 922 1184320
    .region {{ region }}

  td.col-region {{ region }}

  td.col-duration 14:28

  td.col-price 0,20
  td.col-price2 0,22
