.edit-filter
  p После создания фильтра выберите логины/ ip&#8209;адреса, для которых Вы хотите применить созданный фильтр, и нажмите «Применить существующий фильтр». Далее выберите созданный Вами фильтр.
  p Если Вы решили отвязать фильтр от логина, то напротив логина вместо названия действующего фильтр поставьте «Нет фильтра».
  p Если Вы решили полностью удалить фильтр, то напротив названия фильтра нажмите кнопку «Удалить».
