.service-item
  .service-item__body
      .service-address(
        v-for="(service, index) in list" :key="index")
        .service-address__header
          .service-address__title-wrap
            .service-address__icon
              er-icon(name="geolocation")
            .service-address__title {{ service.fulladdress }}

        .service-address__footer
          .service-address__tariff-price-wrap
            .service-address__tariff
              .caption2.mb-4 Тариф
              a.service-address__tariff-name(:href="getServiceLink(name)") {{ service.offer.name }}

            .service-item__in_activation(v-if="service.status === 'Activation in Progress' && name === 'ОАТС'")
              div(:class="`service-item__activation-content`")
                er-icon(name="circle_ok" :class="`service-item__circle_ok service-item__green`" )
                div
                  .caption.service-item__green В процессе
                  .caption.service-item__green активации

            .service-address__price(v-if="!(service.status === 'Activation in Progress' && name === 'ОАТС')")
              .caption2 Абонентская плата
              .discount
                er-price(:sum="service.amount.value")

          .service-address__bundle
            template(v-if="service.bundle")
              er-bundle-info(
                :name="service.bundle.name"
                :id="service.bundle.id"
                :show-icon="true"
                :show-members="true"
                :show-info="true"
              )
