@mixin phone-category($categoryName) {
  &--#{$categoryName} {
    .phone-type__icon {
      background: map-get($phoneCategoryGradients, $categoryName);
    }
  }
}

.oats-phone {
  display: flex;
  flex-direction: row;
  min-height: $padding-x12;
  border-top: 1px solid rgba(map-get($shades, "black"), 0.2);
  justify-content: space-between;
  align-items: center;
  padding: $padding-x2 0;

  @include min-breakpoint(sm) {
    padding: $padding-x2;
  }

  &:last-child {
    border-top: 1px solid rgba(map-get($shades, "black"), 0.2);
  }

  &__name {
    $phone-name-width: 120px;
    $phone-name-width-md: 180px;
    @extend %body;
    width: $phone-name-width;
    max-width: $phone-name-width;

    @include min-breakpoint(md) {
      width: $phone-name-width-md;
      max-width: $phone-name-width-md;
    }
  }

  &__type {
    flex-grow: 1;
  }

  &__price {
    margin-left: $padding-x4;

    .er-price {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .phone-type {
    display: flex;
    gap: $padding-x2;
    align-items: center;
    margin-left: $padding-x6;
    flex-grow: 1;

    @include phone-category('bronze');
    @include phone-category('silver');
    @include phone-category('gold');
    @include phone-category('platinum');
    @include phone-category('californium');

    &__icon {
      width: $padding-x6;
      height: $padding-x6;
      border-radius: $padding-x6;
      box-shadow: -2px 2px 4px map-get($shadows, 'phone-type-icon');
    }

    &__icon-wrap {
      display: none;

      @include min-breakpoint(sm) {
        display: initial;
      }
    }

    &__name {
      @extend %caption1;
    }
  }
}
