.oats-promo-page {

  &__header {
    margin-bottom: $padding-x6;
    @include media-query(
      (
        margin-bottom: (
          md: $padding-x8,
          xl: $padding-x12
        )
      )
    );
  }
}
