.wifi-analytics-activation-modal.er-activation-modal {

  &--modal {
    padding: 0;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-height: 480px;
    @include media-query((
      padding: (xl: 32px),
      min-height: (sm: 390px, xl: 383px)
    ));
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    @include media-query((
      margin-bottom: (sm: 8px, md: 16px, xl: 24px),
      height: (sm: 0, md: auto)
    ));

    .question svg {
      height: 64px;
    }

    .close {
      line-height: 0;

      svg {
        height: 16px;
      }
    }
  }

  &__title {
    @extend %h3;
    margin: 0 0 8px 0;
    @include media-query((
      margin: (sm: 0 63px 8px 104px, md: 0 38px 8px 0, xl: 0 0 8px 0)
    ));
  }

  &__description {
    @include media-query((
      margin: (sm: 0 63px 0 104px, md: 0)
    ));
  }

  &_offer {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__buttom {
    margin-bottom: 40px;
    @include media-query((
      margin-bottom: (sm: 32px)
    ));
  }

  &__actions {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    @include media-query((
      flex-direction: (sm: row),
      justify-content: (sm: space-between)
    ));
  }

  &__action {
    margin: 0 0 8px 0;
    @include media-query((
      margin: (sm: 0 16px 0 0, md: 0 24px 0 0, xl: 0 32px 0 0)
    ));

    &:last-child {
      margin-bottom: 0;
      @include media-query((
        margin-right: (sm: 0)
      ));
    }

    .er-button {
      @extend %button-font;
      height: 40px;
      @include media-query((
        height: (xl: 48px)
      ));
    }
  }
}
