.er-document-viewer {
  background-color: map-get($gray, '3');
  display: flex;
  flex-direction: column;
  height: 100%;
  &__head {
    width: 100%;
    height: 56px;
    background-color: map-get($shades, 'white');
    @include min-breakpoint('md') {
      height: 64px;
    }
    @include min-breakpoint('lg') {
      height: 72px;
    }
    @include min-breakpoint('xl') {
      height: 96px;
    }
    .title {
      @extend %h3;
      white-space: nowrap;
    }
    .type {
      width: 100%;
    }
    .actions button {
      background-color: map-get($shades, 'transparent');
      border: none;
      outline: none;
      cursor: pointer;
      @include color-black(0.3);
      & svg {
        width: 16px;
      }
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    div:not(.no-download) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      embed {
        flex: 1 1 auto;
        border: none;
      }
    }
    .no-download {
      margin: 0 auto;
      padding: 16px 0;
      @extend %h2;
    }
  }
}
