.accounts-section {
  $gap: (
    'xs': 16px,
    'sm': 24px,
    'md': 24px,
    'lg': 24px,
    'xl': 32px
  );
  $header-gap: (
    'xs': (map_get($gap, 'xs')),
    'sm': (map_get($gap, 'sm')),
    'md': (map_get($gap, 'md') - 1px),
    'lg': (map_get($gap, 'lg') - 1px),
    'xl': (map_get($gap, 'xl') - 1px)
  );
  background: map_get($gray, '9');
  color: rgba(map_get($shades, 'black'), 0.8);
  width: 100%;
  height: 100%;
  &__welcome-title {
    padding: 22px 16px 16px;
    @include media-query((
      padding: (
        sm: 20px 24px 16px,
        md: 20px 0 16px 30px,
        lg: 27px 30px 17px,
        xl: 25px 30px 15px
      ),
      font-size: (
        'xl': 30px,
      )
    ));
    &__question {
      display: inline-block;
      @include media-query((
        padding: (
          'xs': 0 10px,
          'lg': 0 15px
        )
      ));
      &__wrapper {
        min-height: 130px;
        h2.title--medium {
          display: block;
          margin-bottom: 15px;
          letter-spacing: -1px;
        }
      }
      &__text {
        font: (normal 16px/20px $fedra-book, 'Roboto', 'Helvetica', sans-serif);
        letter-spacing: -0.5px;
      }
      &__icon {
        color: map_get($gray, '24');
        &:hover {
          color: map_get($yellow, 'base');
          transition: color 0.2s ease-in;
        }
      }
    }
  }
  &__add-account-form {
    margin-top: 1px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: map_get($shades, 'white');
    @include media-query((
      padding-top: (md: 26px, lg: 23px, xl: 25px),
    ));
  }
  /**
   * BUTTON
   */
  &__add-account {
    padding-bottom: 56px;
    & > div {
      @include media-query((
        max-width: (
          lg: 37.5% !important,
        )
      ));
    }
    @include media-query((
      background: (
        xs: map_get($gray, '3'),
        md: map_get($gray, '9')
      ),
      padding-bottom: (
        md: 0
      )
    ));
    &__button {
      @include media-query((
        padding: (
          xs: 23px map_get($gap, 'xs') 15px,
          sm: 32px 40px map_get($gap, 'sm') 15px,
          md: 41px 10px map_get($gap, 'sm') 23px,
          lg: 34px map_get($gap, 'sm') 22px,
          xl: 36px 0 map_get($gap, 'sm') 32px,
        )
      ))
    }
    .er-icon {
      opacity: 0.3;
    }
    .er-button {
      padding-left: 12px;
      font-family: $fedra-demi;
      @include media-query((
        height: (md: 40px, xl: 48px),
        font-size: (
          sm: 14px,
          md: 14px,
          lg: 14px,
          xl: 15px
        )
      ));
      &__content {
        justify-content: initial;
        @include media-query((
          margin-top: (md: 0, lg: 0)
        ));
      }
    }
  }

  /**
  TABLE
 */
  &__table--loading {
    opacity: 0.4;
    pointer-events: none;
  }
  &__table {
    &__cell {
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      &__person {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &__name {
          display: block;
          text-overflow: ellipsis;
          color: rgba(map_get($shades, 'black'), 0.5);

          @include media-query((
            font: (
              xs: (normal 13px/18px $fedra-book, 'Roboto', 'Helvetica', sans-serif),
              lg: (normal 14px/19px $fedra-book, 'Roboto', 'Helvetica', sans-serif),
              xl: (normal 16px/21px $fedra-book, 'Roboto', 'Helvetica', sans-serif)
            ),
            letter-spacing: (
              xs: 0.25px,
              lg: initial,
              xl: -0.5px
            )
          ));
        }

        &__family-name {
          color: rgba(map_get($shades, 'black'), 0.8);
          display: block;
          margin-bottom: -1px;
          overflow: hidden;
          text-overflow: ellipsis;

          @include media-query((
            font: (
              xs: (normal 15px/20px $fedra-book, 'Roboto', 'Helvetica', sans-serif),
              lg: (normal 18px/23px $fedra-book, 'Roboto', 'Helvetica', sans-serif),
              xxl: (normal 18px/22px $fedra-book, 'Roboto', 'Helvetica', sans-serif)
            ),
            letter-spacing: (
              xs: -0.35px,
              lg: -1px
            )
          ));
        }

        &__role {
          color: rgba(map_get($shades, 'black'), 0.3);
          margin-top: 6px;
          letter-spacing: 0.5px;
          font: normal 10px/12px $fedra-book, 'Roboto', 'Helvetica', sans-serif;
          @include media-query((
            padding-top: (xs: 6px, md: 0, lg: 3px),
            font: (
              xs: normal 10px/12px $fedra-book,
              md: map_get($text, 'xs'),
              lg: (normal 12px/16px $fedra-book, 'Roboto', 'Helvetica', sans-serif)
            ),
            letter-spacing: (
              lg: initial
            ),
            margin-top: (
              lg: 4px,
              xl: 2px
            )
          ));
        }
      }

      &__role {
        color: rgba(map_get($shades, 'black'), 0.3);
        font: map_get($text, 'xs');
        padding-top: 3px;
      }

      &__alert {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        @include media-query((
          justify-content: (md: start, lg: start, xl: start)
        ));
        &--error {
          @extend .accounts-section__table__cell__alert;
          background: map_get($red, 'other-2');
        }
        &--success {
          @extend .accounts-section__table__cell__alert;
          background: map_get($green, 'other-4');
        }
        .alert {
          @include media-query((
            margin-left: (md: 49%, lg: 26%, xl: 26%),
            max-width: (md: 257px, lg: 457px, xl: 457px)
          ))
        }
      }

      &__icon.er-icon {
        color: map_get($gray, '21');
        padding-right: 10px;
        svg {
          margin-top: 3px;
          width: 16px;
        }
        @include media-query((
          padding-right: (xs: 7px, lg: 0)
        ))
      }

      @include media-query((
        font: (
          xs: map_get($text, 'small'),
          xl: map_get($text, 'medium')
        )
      ))
    }
    .profile-table {
      margin-top: 2px;
      @include media-query((
        margin-top: (sm: 2px, md: 0, lg: 0, xl: 0)
      ));
      &__header {
        background: map_get($gray, '4');
        color: map_get($gray, '6');
        &__row {
          margin: 0 16px;
          @include media-query((
            margin: (sm: 0 23px, md: 0 32px)
          ))
        }
        &__cell {
          @extend %caption2;
          @include media-query((
            padding: (
              xs: 10px 0 8px,
              sm: 10px 0 8px !important,
              md: 15px map_get($gap, 'md') 12px
            )
          ));
          cursor: pointer;

          &__filter--active {
            background-color: map_get($shades, 'transparent');
            & > .er-button__content {
              background-color: map_get($yellow, 'base');
            }
            color: map_get($gray, '7');
          }

          &:hover {
            color: map_get($shades, 'black');
            & svg {
              color: map_get($shades, 'black');
            }
          }

          &:active {
            & svg {
              color: map_get($yellow, 'base');
            }
          }
        }
      }
      &__filter {
        margin: 0 7px;
        @include media-query((
          margin: (
            lg: 0 13px
          )
        ));

        background: map_get($shades, 'transparent');

        &--active {
          background: map_get($yellow, 'base');

          & svg {
            color: map_get($shades, 'black');
          }
        }

        &:hover {
          background: map_get($shades, 'transparent');
        }
      }
      &__content {
        @include media-query((
          background: (
            xs: map_get($gray, '3'),
            md: map_get($gray, '9')
          )
        ));

        &__separator {
          width: 100%;
          position: relative;
        }
        &__separator, &__row__slot__separator {
          &::before {
            position: absolute;
            top: 0;
            content: '';
            width: 100%;
            height: 1px;
            background: #C2C2C2;
            opacity: 1;
            border-left: map_get($gap, 'xs') solid map_get($gray, '3');
            border-right: map_get($gap, 'xs') solid map_get($gray, '3');
            @include media-query((
              background: (
                md: map_get($gray, '4')
              ),
              border-left: (
                xs: 16px solid map_get($gray, '9'),
                sm: map_get($gap, 'sm') solid map_get($gray, '3'),
                md: 24px solid map_get($gray, '9'),
                lg: map_get($gap, 'lg') solid map_get($gray, '9'),
                xl: map_get($gap, 'xl') solid map_get($gray, '9')
              ),
              border-right: (
                xs: 16px solid map_get($gray, '9'),
                sm: map_get($gap, 'sm') solid map_get($gray, '3'),
                md: 24px solid map_get($gray, '9'),
                lg: map_get($gap, 'lg') solid map_get($gray, '9'),
                xl: map_get($gap, 'xl') solid map_get($gray, '9')
              )
            ));
          }
        }
        &__row {
          position: relative;
          padding: 0 12px 16px;
          @include media-query((
            padding: (sm: 0 20px 16px, md: 0 28px 16px, lg: 0 30px 14px, xl: 0 30px 15px)
          ));
          &-wrapper {
            margin: 0;
            &--success {
              color: map_get($green, 'base');
              background: map_get($green, 'base');
            }
            &--fail {
              color: map_get($red, 'base');
              background: map_get($red, 'base');
            }
          }
        }
      }
    }
  }

  .small--box--shadow {
    height: 110px;
    width: 100%;
    position: absolute;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1),
                0px 2px 2px rgba(0, 0, 0, 0.05);

    @include media-query((
      display: (
        md: none
      ),
      height: (
        sm: 108px
      )
    ));
  }

  .text--blured {
    .access-section__side-menu__list__item {
      position: relative;
      &:before {
        position: absolute;
        right: 0;
        top: 0;
        content:"";
        display:block;
        height: 100%;
        width: 100%;
      }
    }
    @include media-max-width('md') {
      .access-section__side-menu__list__item--active + .access-section__side-menu__list__item--not-active {
        &:before {
          background-image: linear-gradient(to right, map_get($shades, 'transparent'), map_get($shades, 'white') 75%)
        }
      }
      .access-section__side-menu__list__item--not-active:first-child {
        &:before {
          background-image: linear-gradient(to left, map_get($shades, 'transparent'), map_get($shades, 'white') 75%)
        }
      }
    }
    @include max-breakpoint('sm') {
      .access-section__side-menu__list__item--active + .access-section__side-menu__list__item--not-active {
        &:before {
          background-image: linear-gradient(to right, map_get($shades, 'transparent'), map_get($shades, 'white') 50%)
        }
      }
      .access-section__side-menu__list__item--not-active:first-child {
        &:before {
          background-image: linear-gradient(to left, map_get($shades, 'transparent'), map_get($shades, 'white') 50%)
        }
      }
    }
  }
  // Для серой подложки на мобильном разрешении
  .account-form-mobile {
    .text--blured {
      @include media-max-width('md') {
        .access-section__side-menu__list__item--active + .access-section__side-menu__list__item--not-active {
          &:before {
            background-image: linear-gradient(to right, map_get($shades, 'transparent'), map_get($gray, '3') 75%)
          }
        }
        .access-section__side-menu__list__item--not-active:first-child {
          &:before {
            background-image: linear-gradient(to left, map_get($shades, 'transparent'), map_get($gray, '3') 75%)
          }
        }
      }
      @include max-breakpoint('sm') {
        .access-section__side-menu__list__item--active + .access-section__side-menu__list__item--not-active {
          &:before {
            background-image: linear-gradient(to right, map_get($shades, 'transparent'), map_get($gray, '3') 50%)
          }
        }
        .access-section__side-menu__list__item--not-active:first-child {
          &:before {
            background-image: linear-gradient(to left, map_get($shades, 'transparent'), map_get($gray, '3') 50%)
          }
        }
      }
    }

  }
}
