er-activation-modal(
  :value="value"
  type="info"
  v-bind="$props"
  :is-show-action-button="false"
  cancel-button-text="ะะบ"
  @input="onInput"
  @confirm="onInput"
)
  template(slot="description")
    slot
