.enforta-camera {
  @extend %main-content;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include min-breakpoint("sm") {
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    @include min-breakpoint(lg) {
      flex-wrap: nowrap;

      .page-header {
        white-space: nowrap;
      }
    }

    .header-info {
      @extend %caption1;
      margin-top: $padding-x2;

      @include min-breakpoint("sm") {
        margin-top: $padding-x8;
        margin-bottom: $padding-x2;
        order: 4; // т.е. последний
        width: 100%;
      }

      @include min-breakpoint(md) {
        margin-top: $padding-x10;
      }

      @include min-breakpoint(lg) {
        margin-left: $padding-x6;
        order: initial;
      }

      @include min-breakpoint(xl) {
        margin-left: $padding-x12;
      }
    }

    .page-header {
      margin-bottom: 0;
    }
  }

  &__logo {
    margin-top: $padding-x8;
    padding: 0;
    display: inline-flex;

    @include min-breakpoint(sm) {
      margin-top: 0;
    }
  }

  &__config {
    display: grid;
    gap: $padding-x6;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    margin-top: $padding-x6;

    @include min-breakpoint(md) {
      margin-top: $padding-x10;
      grid-template-columns: 1fr 1fr;
      gap: $padding-x8 $padding-x10;
    }

    .camera-config-item {
      &__title {
        @extend %h4;
      }

      &__description {
        @extend %body;
      }
    }
  }

  &__content {
    margin-top: $padding-x6;

    @include min-breakpoint(md) {
      margin-top: $padding-x8;
    }

    @include min-breakpoint(lg) {
      margin-top: $padding-x10;
    }

    @include min-breakpoint(xl) {
      margin-top: $padding-x12;
    }
  }

  .packet-list {
    margin-top: $padding-x10;

    @include min-breakpoint(md) {
      margin-top: $padding-x12;
    }

    &__title {
      @extend %h2;
    }

    &__content {
      margin-top: $padding-x6;

      @include min-breakpoint(md) {
        margin-top: $padding-x8;
      }
    }
  }

  &__actions {
    margin-top: $padding-x6;

    @include min-breakpoint("md") {
      margin-top: $padding-x10;
    }

    .action-buttons {
      margin-top: $padding-x6;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: $padding-x2;

      @include min-breakpoint("sm") {
        grid-template-columns: 1fr 1fr;
        grid-gap: $padding-x4;
      }

      @include min-breakpoint("lg") {
        grid-template-columns: 0.33fr 0.33fr;
        grid-gap: $padding-x6;
      }
    }
  }
}

.e-body {
  @extend %body;
}
