
.request-dialog {
  @extend %dialog-block;

  &__required-label {
    @extend %caption2;
    margin-top: $padding-x2;

    &::before {
      content: '';
      display: inline-block;
      width: $padding-x2;
      height: $padding-x2;
      border-radius: 50%;
      background-color: map_get($yellow, 'base');
    }
  }

  &__description {
    @extend %caption1;
    margin-top: $padding-x4;
  }

  .er-dialog-advanced {
    &__icon {
      display: none;
    }

    &__title {
      margin-top: 0;
    }
  }
}
