.payment-history-page {
  &__date-picker {
    background-color: map-get($shades, 'white');
  }

  &__date-picker__footer {
    padding: 16px;
    display: flex;
  }

  &__month-year {
    padding: 16px 0;
    @extend %body-font;
    @include color-black(0.5);

    .year {
      @include color-black(0.2);
    }
  }

  &__list--not-found {
    @extend %h4;
    text-align: center;
  }
}
