.er-document.er-document--button.er-document--small-doc.er-document--white(
  v-ripple
  @click="$emit('click')"
)
    .er-document__header
      er-document-corner
      .er-document__title
        | {{ caption }}

    .er-document__footer
      slot(name="footer")
        .d--flex.justify-content-end
          er-icon(name="doc")
