.fonts {
  &--book {
    font-family: $fedra-book !important;
  }
  &--demi {
    font-family: $fedra-demi !important;
  }
  &--light {
    font-family: $fedra-light !important;
  }
  &--med {
    font-family: $fedra-med !important;
  }
}

@each $name, $value in $text {
  .text--#{$name} {
    font: $value;
  }
}

@each $name, $value in $title {
  .title--#{$name} {
    font: $value;
  }
}
