.page-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include media-query((
    justify-content: (lg: flex-end),
    flex-direction: (sm: row)
  ));

  &__link{
      $root: #{&};
      @include color-black(.5);
      @extend %button-font;

      text-decoration: none;
      position: relative;

      &:last-child{
        text-align: right;
      }
      
      &__ico{
        margin-top: -12px;
        position: absolute;
        top: 50%;

        @include media-query((
            margin-top: (lg: -16px)
        ));

        svg{
          width: 24px !important;
          height: 24px !important;

          @include media-query((
            width: (lg: 32px !important),
            height: (lg: 32px !important)
          ));
        }
      }

      &__txt{
        border-bottom: 1px dotted;
      }

      &:first-child{
        @include color-black(.2);
        padding-left: 34px;
        margin-right: $padding-x8;

        @include media-query((
          padding-left: (lg: 40px)
        ));

        #{$root}__ico{
          left: 0;
        }          
      }

      &:last-child{
        @include color-black(.2);
        padding-right: 34px;
        margin-bottom: $padding-x6;
        order: -1;

        @include media-query((
          padding-right: (lg: 40px),
          margin-bottom: (sm: 0),
          order: (sm: initial)
        ));

        #{$root}__ico{
          right: 0;
          transform: rotate(180deg);
          transform-origin: 50% 50%;
        } 
      }
  }
}
