//- Смена Интернет-протокола
include ./_mixins
er-form(ref="change_of_internet_protocol")
  er-row
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32(xs12)
          +address
        er-flex.mb-32(xs12)
          er-select(
            :items="listServiceComputed"
            v-model="service"
            placeholder="Услуга"
            is-show-required-label
            :rules="requiredRule"
          )
        er-flex.mb-32.create-request-component__internet-protocol(xs12 sm6 r-offset-sm6 v-if="Object.keys(service).length !== 0 && service.typeAuth")
          .caption Ваш протокол
          .value.d--flex.align-items-center
            .left.mr-12 {{ service.typeAuth }}
            .arrow
              img(:src="require('@/assets/images/green_arrow.svg')")
            .right.ml-12 Сменить на {{ service.typeAuth.match(/pppoe/ig) ? 'IPoE' : 'PPPoE' }}
        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
        er-flex.mb-32(xs12)
          +appeal("Здесь Вы можете указать дополнительную информацию по заявке")
    +footer
