//- Смена тарифного плана
include ./_mixins
er-form(ref="change_of_tariff" key="change_of_tariff")
  er-row
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32(xs12)
          +address
        er-flex.mb-32(xs12)
          er-select(
            :items="listService"
            v-model="service"
            placeholder="Услуга"
            is-show-required-label
            :rules="requiredRule"
          )
        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
        er-flex.mb-8(xs12)
          +appeal("Вы можете указать желаемые характеристики тарифного плана")
    +footer
