include ./_mixins
er-form(ref="general_issues" key="general_issues")
  er-row
    er-flex(xs12 sm12 md12)
      er-row
        er-flex.mb-32(xs12 sm12 md6 order-md1 lg12)
          +listRequestTheme
        er-flex.mb-32(xs12 sm6 md6 order-md2 lg12)
          +phoneNumber
        er-flex.mb-32(xs12 sm12 md6 order-md3 lg12)
          +name
    er-flex.mb-8(xs12 sm12 md12)
      +appeal("Здесь Вы можете указать дополнительную информацию по заявке")
    +footer
