include ./_mixins
er-form(ref="transfer_point_or_service" key="transfer_point_or_service")
  er-row
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32(xs12)
          +address
        er-flex.mb-32(xs12)
          er-select(
            :items="listService"
            v-model="services"
            placeholder="Услуга"
            is-show-required-label
            :loading="loadingService"
            :rules="requiredRuleArray"
          )
        er-flex.mb-32(xs12)
          span.h3 Перенести на адрес
        er-flex.mb-32(xs12)
          er-select(
            :items="sortedAddressList"
             v-model="street"
             placeholder="Адрес переноса"
             is-show-required-label
             :rules="requiredRule"
          )
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
    er-flex.mb-8(xs12)
      +appeal("Вы можете указать дополнительную информацию по заявке")
    +footer
