div.main-content.main-content--padding.main-content--top-menu-fix
  er-page-header(title="Контент-фильтрация")
  er-promo(banner="content-filter-promo.png" :featureList="featureList" title="Что дает сервис?" plugText="Подключить Контент-фильтрацию")
