.button-pay {
  &__icon-height {
    vertical-align: unset !important;
    svg {
      height: 16px;
      margin-left: -7px;
    }
  }
  &__icon-span {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 50px;
    font: 11px/16px $fedra-demi;
    letter-spacing: 0.35px;
    @include media-query((
      width: (
        sm: 160px,
      ),
      font-size: (
        md: 13px,
        xl: 14px,
      ),
      line-height: (xl: 19px),
      letter-spacing: (
        md: normal,
        lg: 0.35px,
        xl: normal
      )
    ));
  }
  &__card-height {
    height: 147px;
    @include media-query((
      height: (
        md: 166px,
        lg: 190px
      ),
    ));
  }
  &__card-title {
    position: relative;
    z-index: 2;
    font-family: $fedra-book;
    font-size: 15px;
    width: 100px;
    color: rgba(map_get($shades, 'black'), 0.8);
    letter-spacing: -0.35px;
    margin-top: -4px;
    @include media-query((
      width: (
        md: 160px,
        xl: 140px
      ),
      margin-top: (
        sm: -11px,
        md: 0px,
        xxl: 2px
      ),
      font-size: (
        md: 18px,
        xxl: 20px
      ),
      letter-spacing: (
        md: -1px
      )
    ));
  }
  &__card-row {
    @include media-query((
      margin-left: (
        xs: 5.6vw !important,
        sm: 4.4vw !important,
        md: 0 !important,
      ),
      //padding-right: (md: 0)
    ));
  }
  &__card-scale {
    flex-basis: auto !important;
    padding: 0 !important;
    @include media-query((
      width: (
        xs: 42vw !important,
        sm: 43vw !important,
        md: 44vw !important,
        lg: 22vw !important,
        xl: 16vw !important,
        xxl: 208px !important,
      ),
      max-width: (
        md: 293px !important,
        lg: 210px !important,
        xl: 190px !important,
      )
    ));
    &__left {
      margin-right: 24px;
      @include media-query((
        margin-right: (
          xs: 16px,
          sm: 16px
        )
      ));
    }
    &__right-top {
      @include media-query((
        margin-right: (
          md: 16px,
        )
      ));
    }
  }
  &__card-shadow:hover {
    border-radius: 12px;
    background: map_get($yellow, 'other-8');
    box-shadow: -4px 5px 32px map_get($yellow, 'other-5') !important;
  }
  /*
  &__timer1:hover .button-pay__card-shadow {
    border-radius: 12px;
    background: red; //map_get($yellow, 'other-8');
    box-shadow: -4px 5px 32px map_get($yellow, 'other-5') !important;
  }
  */

    &__fast-links {
    a {
      display: flex;
      flex-direction: column;
      padding: 17px;
      text-decoration: none;
      height: 149px;
      position: relative;
      overflow: hidden;
      @include media-query((
        padding: (sm: 24px),
        height: (
          sm: 158px,
          md: 170px,
          lg: 193px,
        )
      ));
      .button-pay {
        &__card-icon {
          position: relative;
          transition: 0.15s transform;
          transform: scale(1, 1);
          @include media-query((
            left: (
              xs: 11px,
              sm: 20px,
              md: 3px,
              lg: -3px,
              xl: 0,
              xxl: 1px
            ),
            top: (
              xs: 10px,
              md: 2px,
              lg: 1px,
              xl: -2px
            ),
          ));
        }
      }
    }
    a:hover {
      background: radial-gradient(map_get($yellow, 'other-4') 55.5%, map_get($yellow, 'base') 100%);
      .button-pay {
        &__card-icon {
          position: relative;
          color: map_get($yellow, 'other-6') !important;
          @include media-query((
            left: (
              xs: 58px,
              sm: 49px,
              md: 21px,
              lg: 11px,
              xl: 6px,
              xxl: 51px,
            ),
            top: (
              xs: 26px,
              sm: 20px,
              md: 30px,
              lg: 26px,
              xxl: 30px
            ),
            transform: (
              xs: scale(8,8),
              md: scale(6,7),
              lg: scale(6,6.3),
              xxl: scale(8,8),
            )
          ));
        }
        &__icon-span {
          color: map_get($shades, 'white') !important;
        }
        &__icon-height svg {
          color: map_get($shades, 'white') !important;
        }
      }
    }
  }
  &__timer {
    margin: -61px 0 21px 18px;
    //position: relative;
    //z-index: 10;
    @include media-query((
      margin: (
        sm: -62px 0 21px 24px,
        md: -76px 0 21px 24px,
        lg: -69px 0 21px 24px,
        xl: -75px 0 21px 24px,
      )
    ));
    &__label {
      position: relative;
      z-index: 1;
      font: 10px/120% $fedra-demi;
      color: rgba(map_get($shades, 'black'), 0.3);
      letter-spacing: 0.5px;
      @include media-query((
        font-size: (
          md: 12px,
        ),
        line-height: (
          md: 16px,
        ),
        letter-spacing: (
          md: normal,
        )
      ))
    }
    &__time-title {
      //position: absolute;
      margin: -65px 0 21px 18px;
      position: relative;
      z-index: 100;

      /*
      top: 88px;
      left: 399px;
      width: 128px;
      font: 13px/18px $fedra-book;
      letter-spacing: 0.25px;
      color: rgba(map_get($shades, 'black'), 0.8);
      */
      @include media-query((
        left: (sm: auto),
        top: (
          sm: 22px,
          md: 26px,
        ),
        right: (
          sm: -298px,
          md: -292px,
          xl: -236px
        ),
        font-size: (
          md: 14px,
          xl: 16px
        ),
        line-height: (
          md: 19px,
          xl: 21px
        ),
        letter-spacing: (
          md: normal,
          xl: -0.5px
        )
      ))
    }
    &__day {
      display: inline-block;
      margin-right: 8px;
      @include media-query((
        margin-right: (md: 16px,)
      ));
      &__value {
        opacity: 0.8;
      }
    }
    &__hour {
      display: inline-block;
      margin-right: 8px;
      @include media-query((
        margin-right: (md: 16px,)
      ));
      &__value {
        opacity: 0.5;
      }
    }
    &__min {
      display: inline-block;
      &__value {
        opacity: 0.3;
      }
    }
    /*
    &__all {

    }
    */
    /*
    &__text {
      margin-top: -3px;
      font: 10px/120% $fedra-demi;
      letter-spacing: 0.5px;
      color: rgba(map_get($shades, 'black'), 0.5);
      @include media-query((
        font-size: (
          md: 12px,
        ),
        line-height: (
          md: 16px,
        ),
        letter-spacing: (
          md: normal
        )
      ))
    }
    */

  }
}
