.internet-statistic-component
  .internet-statistic-component__content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .start
      PuSkeleton
    .volume
      PuSkeleton
    .type
      PuSkeleton
.internet-statistic-component
  .internet-statistic-component__content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .start
      PuSkeleton
    .volume
      PuSkeleton
    .type
      PuSkeleton
.internet-statistic-component
  .internet-statistic-component__content.main-content.main-content--h-padding
    .ip
      PuSkeleton
    .start
      PuSkeleton
    .volume
      PuSkeleton
    .type
      PuSkeleton
