.payment-index-page {
  &__info {
    display: flex;
    flex-wrap: wrap;

    > * {
      width: 100%;
      max-width: 50%;
      margin-bottom: 8px;

      @include min-breakpoint('sm') {
        max-width: 33%;
      }

      @include min-breakpoint('md') {
        max-width: none;
        width: auto;

        &:not(:last-child) {
          margin-right: 64px;
        }
      }
    }
  }

  &__info-item {
    width: 100%;

    &__caption {
      @extend %caption2-font;
      @include color-black(0.3);
      margin-bottom: 4px;
    }

    &__value {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__value .icon {
      @include color-black(0.2);
      user-select: none;
      margin-right: $padding-x2;
    }

    &__value .value {
      @extend %body-font;
      @include color-black(0.8);
      margin-top: 0;

      &.is-debt {
        color: map-get($red, 'lighten-2');
      }

      span {
        @extend %body-font;
        @include color-black(0.2);
      }
    }

    &__value .loading {
      width: 100%;
      height: 32px;
    }
  }

  &-buttons {
    &.is-scroll {
      position: relative;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 64px;
        height: 166px;
        top: -14px;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        transition: opacity $primary-transition;

        @include min-breakpoint('md') {
          height: 214px;
          top: -17px;
        }
      }

      &::before {
        left: -16px;
        background: linear-gradient(90deg, map-get($gray, '3') 19.8%, rgba(map-get($gray, '3'), 0) 96.53%);

        @include min-breakpoint('md') {
          left: -24px;
        }
      }

      &::after {
        right: -16px;
        background: linear-gradient(270deg, map-get($gray, '3') 19.8%, rgba(map-get($gray, '3'), 0) 96.53%);

        @include min-breakpoint('md') {
          right: -24px;
        }
      }

      &.is-start {
        &::before {
          opacity: 0;
        }
      }

      &.is-end {
        &::after {
          opacity: 0;
        }
      }
    }

    &__slider {
      display: flex;
      flex-wrap: nowrap;
      transition: transform $primary-transition;
    }

    &__item {
      min-width: 155px;
      height: 135px;
      border-radius: 12px;
      box-shadow: 0 2px 2px rgba(map-get($shades, 'black'), 0.05),
                  0 2px 12px rgba(map-get($shades, 'black'), 0.1);
      background: $border-gradient;
      padding: 1px;
      width: 100%;
      transition: $primary-transition;

      &:not(:last-child) {
        margin-right: 16px;
      }

      @include min-breakpoint('md') {
        min-width: 198px;
        height: 156px;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      @include min-breakpoint('xl') {
        min-width: 242px;
        height: 176px;
      }

      * {
        transition: inherit;
      }

      .content {
        width: 100%;
        height: 100%;
        background: map-get($gray, '9');
        border-radius: inherit;
        padding: 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        transition: none;
        overflow: hidden;

        @include min-breakpoint('md') {
          padding: 24px;
        }

        @include min-breakpoint('xl') {
          padding: 32px;
        }
      }

      .title {
        @extend %h4-font;
        @include color-black(0.8);
        transition: $primary-transition;
      }

      .additional-info {
        margin-top: auto;
        width: 100%;
        max-width: 91px;
        transition: $primary-transition;

        @include min-breakpoint('md') {
          max-width: 110px;
        }

        @include min-breakpoint('xl') {
          max-width: 138px;
        }

        &.is-autopay .caption2 {
          color: map-get($green, 'base');
        }

        > * {
          transition: inherit;
        }
      }

      .additional-info .value {
        @extend %caption1-font;
        color: map-get($green, 'base');
        margin-top: 0;
      }

      .icon {
        position: absolute;
        right: 16px;
        bottom: 16px;
        color: map-get($red, 'base');
        transition: transform $primary-transition;

        @include min-breakpoint('md') {
          right: 24px;
          bottom: 24px;
        }

        @include min-breakpoint('xl') {
          right: 32px;
          bottom: 32px;
        }
      }

      &:hover {
        .content {
          background: map-get($red, 'lighten-2');
        }

        .title {
          @include color-white();
        }

        .additional-info .caption2 {
          @include color-white(0.5);
        }

        .additional-info .value {
          @include color-white();
        }

        .icon {
          transform: scale((96 / 32));
          z-index: 0;
          @include color-white(0.5);

          svg {
            filter: drop-shadow(-4px 4px 4px rgba(map-get($shades, 'black'), 0.08));
          }
        }
      }

      &:active {
        background: linear-gradient(to bottom, map_get($gray, "26") 0, map_get($shades, "white") 100%);

        .content {
          background: map-get($gray, '9')
        }

        .title {
          @include color-black(0.8);
        }

        .additional-info .caption2 {
          @include color-black(0.3);
        }

        .additional-info .value {
          color: map-get($green, 'base');
        }

        .icon {
          transform: none;
          color: map-get($red, 'base');
        }

        .icon svg {
          filter: none;
        }
      }
    }
  }

  &__filter-wrap__list {
    //margin: 0 !important;
    //
    //@include min-breakpoint('md') {
    //  margin-right: 16px !important;
    //  margin-left: 16px !important;
    //}

    .er-date-picker .er-messages {
      display: none;
    }

    .er-date-picker .er-input__slot {
      margin-bottom: 0;
    }
  }

  &__history__loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .ert-progress-circular {
      @include color-black(0.3);
      margin-right: $padding-x4;
    }

    .title {
      @include color-black(0.8);
      @extend %h4-font;
    }
  }

  &__history__current-month-year {
    @extend %body-font;
    @include color-black(0.5);

    .year {
      @include color-black(0.2);
    }
  }

  &__history__list--not-found {
    @extend %h4;
    text-align: center;
  }

  &__navigation {
    width: 100%;
    max-width: 208px;
  }

  &__success-dialog {
    background-color: map-get($shades, 'white');
    padding: $padding-x6;

    @include min-breakpoint('xl') {
      padding: $padding-x8;
    }

    &__icon {
      color: map-get($green, 'base');
    }

    &__icon > i > svg {
      width: 64px !important;
    }

    &__title {
      @extend %h4-font;
      @include color-black(0.8);
    }

    &__actions {
      display: flex;
    }

    &__action {
      width: 100%;
    }

    &__warning,
    &__description {
      @extend %caption1-font;
      margin-bottom: 220px;

      @include min-breakpoint('sm') {
        margin-bottom: 129px;
      }

      @include min-breakpoint('md') {
        margin-bottom: 99px;
      }

      @include min-breakpoint('xl') {
        margin-bottom: 114px;
      }
    }

    &__description {
      @include color-black(0.5);
    }
  }

  &__history__list--not-found {
    @extend %h4;
    text-align: center;
  }

  &__month-year {
    padding: 16px 0;
    @extend %body-font;
    color: map-get($gray, '8');
    font-weight: bold;

    @include min-breakpoint('lg') {
      padding: 24px 0;
    }

    .year {
      @include color-black(0.3);
      font-weight: normal;
    }
  }

  &__history-group-by-month {
    > *:first-child {
      border-top: 1px solid rgba(map-get($shades, 'black'), 0.2);
    }
  }

  .main-content--h-padding {
    margin-right: 16px;
    margin-left: 16px;
    max-width: 1040px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include min-breakpoint('md') {
      margin-right: 24px;
      margin-left: 24px;
    }

    @include min-breakpoint('lg') {
      margin-right: 48px;
      margin-left: 48px;
    }

    @include min-breakpoint('xl') {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .er-filter-container {
    > * {
      width: 100%;
    }
  }
}

@keyframes promised-payment-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
