.payment-index-page {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include min-breakpoint('sm') {
      flex-direction: row;
    }
  }

  &__info-item {
    width: 100%;

    &__caption {
      @extend %caption2-font;
      @include color-black(0.5);
      margin: $padding-x2;
    }

    &__value {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__value .icon {
      @include color-black(0.2);
      user-select: none;
      margin-right: $padding-x2;
    }

    &__value .value {
      @extend %h2-font;
      @include color-black(0.8);
      margin-top: 0;

      span {
        @extend %body-font;
        @include color-black(0.5);
      }
    }

    &__value .loading {
      width: 100%;
      height: 32px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    width: 100%;
    height: 149px;
    background: $border-gradient;
    padding: 1px;
    border-radius: 12px;
    cursor: pointer;
    transition: $primary-transition;

    @include min-breakpoint('md') {
      height: 168px;
    }

    @include min-breakpoint('lg') {
      height: 192px;
    }

    * {
      user-select: none;
      transition: inherit;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding: $padding-x4;
      background-color: map-get($gray, '9');
      border-radius: inherit;
      position: relative;
      overflow: hidden;

      @include min-breakpoint('md') {
        padding: $padding-x6;
      }
    }

    .title,
    .description {
      position: relative;
      z-index: 1;
    }

    .title {
      @extend %h4-font;
      @include color-black(0.8);
      margin-bottom: $padding-x2;

      @include min-breakpoint('md') {
        margin-bottom: $padding-x4;
      }
    }

    .description {
      @extend %caption1-font;
      @include color-black(0.5);

      &.enabled {
        color: map-get($green, 'base');
      }
    }

    .icon {
      position: absolute;
      bottom: 16px;
      right: 16px;
      color: map-get($yellow, 'base');

      @include min-breakpoint('md') {
        bottom: 24px;
        right: 24px;
      }
    }

    &:hover {
      box-shadow: -4px 4px 32px map-get($yellow, 'other-8');

      .wrapper {
        background: radial-gradient(50% 50% at 50% 50%, map-get($yellow, 'base') 55.5%, map-get($yellow, 'other-4') 100%);
      }

      .description {
        @include color-white(1);
      }

      .icon {
        @include color-white(0.3);
        transform: scale((256 / 32));
        z-index: 0;

        svg {
          filter: drop-shadow(-4px 4px 4px rgba(map-get($shades, 'black'), 0.08));
        }
      }
    }

    &.promised-payment .wrapper {
      display: flex;
      flex-direction: column;
    }

    .promised-payment__caption {
      margin-top: auto;
      @extend %caption2-font;
      @include color-black(0.3)
    }

    .promised-payment__value {
      @extend %h2-font;

      span:nth-child(1) {
        @include color-black(0.8);
      }

      span:nth-child(2),
      span:nth-child(3) {
        @include color-black(0.5);
      }

      span:nth-child(4),
      span:nth-child(5) {
        @include color-black(0.2)
      }

      span:nth-child(2),
      span:nth-child(4) {
        animation-name: promised-payment-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }

    .promised-payment__line {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: linear-gradient(to right, map-get($red, 'base'), map-get($yellow, 'base'), map-get($green, 'base'));
    }

    .promised-payment__before-line {
      height: 4px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: map-get($gray, '4');
    }
  }

  &__history__current-month-year {
    @extend %body-font;
    @include color-black(0.5);

    .year {
      @include color-black(0.2);
    }
  }

  &__history__list--not-found {
    @extend %h4;
    text-align: center;
  }

  &__navigation {
    width: 100%;
    max-width: 208px;
  }

  &__success-dialog {
    background-color: map-get($shades, 'white');
    padding: $padding-x6;

    @include min-breakpoint('xl') {
      padding: $padding-x8;
    }

    &__icon {
      color: map-get($green, 'base');
    }

    &__icon > i > svg {
      width: 64px !important;
    }

    &__title {
      @extend %h4-font;
      @include color-black(0.8);
    }

    &__actions {
      display: flex;
    }

    &__action {
      width: 100%;
    }

    &__warning,
    &__description {
      @extend %caption1-font;
      margin-bottom: 220px;

      @include min-breakpoint('sm') {
        margin-bottom: 129px;
      }

      @include min-breakpoint('md') {
        margin-bottom: 99px;
      }

      @include min-breakpoint('xl') {
        margin-bottom: 114px;
      }
    }

    &__description {
      @include color-black(0.5);
    }
  }
}

@keyframes promised-payment-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
