.main-profile-page {
  padding: 40px 15px 0 !important;
  @include media-query((
      width: (xl: calc(100vw - 271px) !important),
      padding: (md: 48px 24px 0 !important, lg: 48px 32px 0 !important, xl: 32px 24px 0 45px !important)
  ));
  &__title {
    @include media-query((
      font: (xs: map_get($title, 'large'), md: map_get($title, 'xl'))
    ))
  }
  &__switcher {
    overflow: hidden;
    @include media-query((
      margin: (
        sm: 0 -24px !important,
        md: 0,
        lg: 0,
        xl: 0)
    ));
    &__controls {
      label {
        justify-content: center;
      }
      .er-switch__label {
        padding-left: 0;
        justify-content: center;
      }
      .er-switch__toggle--outer {
        display: none;
      }
    }
    &--mobile {
      margin-bottom: 24px;
      @include media-query((
        display: (md: none)
      ));
      background: map_get($gray, '11');
    }
  }

  &__cards {
    display: flex;
    margin-bottom: 37px;
    padding: 0 !important;
    min-height: 350px;
    transition: transform 0.2s ease-out;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    position: relative;
    width: calc(100% + 30px) !important;
    max-width: calc(100% + 30px) !important;

    @include media-query((
      flex-wrap: (md: nowrap, lg: nowrap, xl: nowrap),
      width: (sm: calc(100% + 48px) !important, md: 100% !important),
      max-width: (sm: calc(100% + 48px) !important, md: 100% !important),
      margin-left: (sm: -24px, md: 0),
      padding: (sm: 0 24px !important, md: 0 !important)
    ));
    &__item {
      height: inherit !important;
      .person-card__inner, .er-card__content {
        height: 100%;
      }
    }
    & > .company-card {
      min-width: 270px;
      @include media-query((
        min-width: (sm: 300px, md: 120px, lg: auto, xl: auto),
        padding-right: (xs: 16px, sm: 24px, md: 0),
        flex: (
          sm: 1 1 50%,
          md: 1 1 49%,
          lg: 1 1 auto,
          xl: 1 1 auto)
      ));
    }
    & > .person-card {
      min-width: 240px;
      margin-right: 16px;
      @include media-query((
        min-width: (sm: 298px, md: 296px, lg: 401px, xl: 420px),
        max-width: (xl: 424px),
        margin-right: (sm: 38px, md: 40px, lg: 59px, xl: 67px),
        margin-left: (xs: 16px, sm: 0),
        flex: (
          sm: 1 1 100%,
          md: 1 1 45%,
          lg: 1 1 38%,
          xl: 1 1 58%)
      ));
    }
  }

  &__accounts {
    overflow: hidden;
    @include media-query((
      margin: (
        xs: 0 -15px,
        sm: 0 -24px,
        md: 8px 0,
        xl: 25px 0 0
      ),
      box-shadow: (
        md: (0 2px 12px rgba(map_get($shades, 'black'), 0.1), 0 2px 2px rgba(map_get($shades, 'black'), 0.05))
      ),
      border-radius: (xs: 0, md: 12px)
    ))
  }
}
