@include theme(ert-date-picker-header) using($theme) {
  .ert-icon {
    color: map-deep-get($theme, 'date-picker', 'header-icon-color');
  }

  &__value button {
    color: map-deep-get($theme, 'date-picker', 'header-button-color');
  }
}

.ert-date-picker-header {
  padding: 4px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  button {
    margin: 0;
    z-index: auto;
    outline: none;
  }

  .ert-icon {
    cursor: pointer;
    user-select: none;
  }

  &__value {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;

    div {
      transition: $primary-transition;
      width: 100%;
    }

    button {
      cursor: pointer;
      outline: none;
      @extend %h4-font;
      transition: $primary-transition;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}
