@include theme(ert-date-picker-title) using ($theme) {
  &__year {
    color: map-deep-get($theme, 'date-picker', 'title-year-color');
  }

  &__date {
    color: map-deep-get($theme, 'date-picker', 'title-date-color');
  }
}

.ert-date-picker-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1;

  .ert-picker__title__btn {
    text-align: left;
  }

  &__year {
    align-items: center;
    display: inline-flex;
    @extend %caption2-font;
    margin-bottom: $padding-x2;
  }

  &__date {
    @extend %h4-font;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding-bottom: 8px;
    margin-bottom: -8px;

    > div {
      position: relative;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}
