@include theme(ert-date-picker-table) using ($theme) {
  td button.ert-btn--active {
    background: map-deep-get($theme, 'date-picker', 'active-date-background');
  }

  td button.ert-btn--disabled {
    color: map-deep-get($theme, 'date-picker', 'disabled-date-color');
  }
}

.ert-date-picker-table {
  position: relative;
  padding: 0 12px;
  height: 252px;

  table {
    transition: $primary-transition;
    top: 0;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    text-align: center;
    position: relative;
  }

  td {
    width: 36px;
    height: 36px;
  }

  td button {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid map-get($shades, 'transparent');
    outline: none;
    border-radius: 12px;
  }

  td button.ert-btn--rounded {
    border-radius: 50%;
  }

  td button.ert-btn--disabled {
    cursor: not-allowed;
  }
}
