@import "./variables";

@include theme(ert-date-picker-years) using ($theme) {
  li.active {
    color: map-deep-get($theme, 'date-picker', 'years-item-active');
  }

  li:hover {
    background: map-deep-get($theme, 'date-picker', 'years-item-background-hover');
  }
}

.ert-date-picker-years {
  @extend %body-font;
  height: $date-picker-years-portrait-height;
  list-style-type: none;
  overflow: auto;
  text-align: center;

  &.ert-date-picker-years {
    padding: 0;
  }

  li {
    cursor: pointer;
    height: $date-picker-years-item-height;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;

    &.active {
      @extend %h4;
      height: $date-picker-years-item-height-active;
    }
  }
}
