.promise-expired {
  position: relative;
  background: map_get($gray, '3');
  z-index: 2;
  left: -313px;
  top: 47px;
  min-height: 260px;
  @include media-query((
    min-height: (
      sm: 257px,
      md: 293px,
      xl: 332px,
    ),
  ));
  &__pos {
    position: relative;
    left: 70px;
    top: 3px;
    @include media-query((
      left: (
        md: 100px,
        xl: 147px,
      ),
      top: (
        md: 13px,
        xl:22px
      ),
      width: (
        sm: 163px,
        md: 185px,
        xl: 225px,
      ),
    ));
  }
  & .er-card__content {
    background: map_get($red, 'other-2') !important;
  }
  &__container {
    width: 100% !important;
    margin-left: 313px !important;
    margin-top: -43px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include media-query((
      width: (
        xl: 95% !important,
      ),
      margin-top: (
        xl: -24px
      )
    ));
  }
  &__card-height {
    height: 96px !important;
    @include media-query((
      height: (
        sm: 96px !important,
        md: 120px !important,
        xl: 159px !important,
      ),
    ));
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 14px;
    top: 14px;
    color: map_get($red, 'base');
    @include media-query((
      top: (
        md: 20px,
        lg: 12px,
      ),
      width: (
        md: 80px !important,
        lg: 96px !important,
        xl: 128px !important,
      ),
    ));
  }
  &__butt {
    position: relative;
    top: 36px;
    max-width: 127%;
    width: 288px;
    @include media-query((
      max-width: (sm: 100% !important),
      width: (
        sm: 208px
      ),
      left: (
        sm: 0px
      ),
      top: (
        sm: 33px,
        md: 39px,
      ),
    ));
  }
}
