.pay-page {
  max-width: 1440px;
  width: 100%;
  &__container-main {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    margin-left: -16px;
    margin-top: -6px;
    @include media-query((
      width: (
        sm: 480px,
        md: 640px,
        lg: 960px,
      ),
      margin-top: (
        sm: -13px,
        md: -26px,
        lg: -23px,
      ),
      margin-left: (
        sm: -24px,
        md: 0,
        lg: 0,
        xxl: 18px
      )
    ));
  }
  &__container {
    padding: 0 !important;
  }
  &__container-operation {
    padding: 0 !important;
    position: relative;
    left: -12px;
    width: 352px !important;
    @include media-query((
      left: (
        md: -26px,
        lg: -32px,
        xl: -45px,
        xxl: 0px
      ),
      width: (
        sm: 521px !important,
        md: 652px !important,
        lg: 912px !important,
        xl: 866px !important,
        xxl: 1083px !important
      ),
    ));
  }
  &__info {
    &__block1 {
      @include media-query((
        margin-left: (
          sm: 25px !important,
          md: 0 !important
        ),
      ));
    }
    &__block2 {
      @include media-query((
        margin-left: (
          sm: 26px !important,
          md: -20px !important,
          lg: -10px !important,
          xl: -28px !important
        ),
      ));
    }
    &__block3 {
      @include media-query((
        margin-top: (
          sm: -13px !important,
          md: 0px !important,
        ),
      ));
    }
    &__block2-1 {
      @include media-query((
        padding-left: (
          xl: 18px !important,
          xxl: 23px !important
        ),
      ));
    }
    &__bottom {
      @include media-query((
        margin-bottom: (
          sm: 22px !important,
          md: 32px !important,
          lg: 43px !important,
          xl: 23px !important,
        ),
      ));
    }
  }
  &__back-arr {
    margin-left: 10px;
    @include media-query((
      margin-left: (
        sm: 16px,
        md: -10px,
        lg: -17px,
        xl: 0px,
      ),
      padding-left: (
        xl: 0px,
      )
    ));
  }
  &__back-main {
    display: none;
    &__text {
      text-decoration: none;
    }
    @include media-query((
      margin-top: (
        xl: 4px
      ),
      margin-bottom: (lg: 14px),
      display: (xl: block),
      padding-right: (lg: 16px !important)
    ));
  }
  &__back-main-xs svg {
    display: block;
    height: 12px;
    cursor: pointer;
    margin-top: 26px;
    color: rgba(map_get($yellow, 'base'), 0.8);
    &__text {
      text-decoration: none;
    }
    @include media-query((
      display: (xl: none),
    ));
  }
  &__icon-height svg {
    height: 16px;
    margin-left: -7px;
  }
  &__icon-span {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 50px;
    font-family: $fedra-demi;
    font-size: 11px !important;
    letter-spacing: 0.35px;
    line-height: 18px;
    @include media-query((
      width: (
        sm: 160px,
      ),
      font-size: (
        lg: 13px !important,
        xl: 14px !important,
      ),
      letter-spacing: (
        lg: 1px,
        md: normal
      )
    ));
  }
  &__icon-pos {
    position: absolute;
    left: 22px;
    top: 64px;
    @include media-query((
      top: (
        md: 62px !important,
        xxl: 64px !important
      ),
    ));
  }
  &__card-height {
    height: 147px !important;
    @include media-query((
      height: (
        md: 166px !important,
        lg: 190px !important,
      ),
    ));
  }
  &__card-hover {
   &__card-shadow:hover {
      border-radius: 12px;
      background: radial-gradient(map_get($yellow, 'other-4') 55.5%, map_get($yellow, 'base') 100%);
      box-shadow: -4px 4px 32px map_get($yellow, 'other-5') !important;
    }
    &__icon svg {
      display: none !important;
      height: 200px !important;
      position: absolute;
      top: -30px;
      width: 200px !important;
      left: 10px;
      color: map_get($yellow, 'other-6');
      @include media-query((
        top: (
          sm: -26px !important,
          md: -14px !important,
          lg: 17px !important,
          xl: 12px !important,
          xxl: -2px !important,
        ),
        left: (
          sm: 64px !important,
          md: 130px !important,
          lg: 59px !important,
          xl: 34px !important,
          xxl: 48px !important
        ),
      ));
    }
    svg {
      display: none !important;
      height: 200px !important;
      position: absolute;
      bottom: -76px;
      width: 200px !important;
      left: 30px;
      color: map_get($yellow, 'other-6');
      @include media-query((
        bottom: (
          sm: -80px !important,
          lg: -86 px !important,
          xxl: -69px !important
        ),
        left: (
          sm: 84px !important,
          md: 150px !important,
          lg: 81px !important,
          xl: 56px !important,
          xxl: 48px !important
        ),
      ));
    }
  }
  &__card-title {
    font-family: $fedra-book;
    font-size: 15px;
    width: 100px;
    color: rgba(map_get($shades, 'black'), 0.8);
    letter-spacing: -0.35px;
    margin-top: -4px;
    @include media-query((
      width: (
        md: 160px,
        xl: 140px
      ),
      margin-top: (
        sm: -11px,
        md: 0px,
        xxl: 2px
      ),
      font-size: (
        md: 18px,
        xxl: 20px,
      ),
      letter-spacing: (
        md: -1px,
      )
    ));
  }
  &__card-row {
    margin: 0 8px !important;
    @include media-query((
      margin: (
        sm: 0 12px !important,
        md: 0 !important,
        lg: 0 !important,
        xl: 0 !important,
      ),
      padding-right: (
        md: 48px !important,
        lg: 44px !important,
        xl: 180px !important,
        xxl: 97px !important
      )
    ));
  }
  &__card-scale-left {
    padding: 0 8px !important;
    @include media-query((
      padding: (
        sm: 0 8px 0 12px !important,
        md: 0 8px 0 0 !important,
        lg: 0 24px 0 0 !important,
        xl: 0 16px 0 0 !important,
        xxl: 0 32px 0 0 !important
      )
    ));
  }
  &__card-scale-right {
    padding: 0 8px !important;
    @include media-query((
      padding: (
        sm: 0 12px 0 8px !important,
        md: 0 0 0 8px !important,
        lg: 0 24px 0 0 !important,
        xl: 0 16px 0 0 !important,
        xxl: 0 32px 0 0 !important
      )
    ));
  }
  &__welcome-title {
    width: 256px;
    margin-bottom: 22px;
    margin-top: 15px;
    @include media-query((
      margin-top: (
        xl: -2px,
        xxl: -4px
      ),
      width: (
        sm: 456px
      ),
      margin-bottom: (sm: 24px, lg: 29px, xl: 42px)
    ))
  }
  &__balance-score {
    display: none;
    font: 10px $fedra-demi !important;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: rgba(map_get($shades, 'black'), 0.5);
    @include media-query((
      display: (sm: block),
      font-size: (
        md: 12px !important,
        lg: 13px !important,
        xl: 14px !important
      ),
      line-height: (
        md: 16px !important,
        xl: 19px !important
      ),
      letter-spacing: (md: 1)
    ));
    &__data {
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        font-size: (
          sm: 13px !important,
          md: 24px !important,
          lg: 26px !important,
          xl: 28px !important,
          xxl: 30px !important
        ),
        line-height: (
          sm: 18px !important,
          md: 30px !important,
          lg: 32px !important,
          xl: 38px !important
        ),
        letter-spacing: (
          sm: 0.25px,
          md: -1px
        ),
        margin-top: (
          sm: -17px !important,
          md: 0 !important,
        ),
        margin-left: (
          sm: -40px !important,
          md: 8px !important,
        )
      ));
    }
    &__calendar {
      display: none;
      @include media-query((
        display: (md: block)
      ));
    }
    &__dop {
      display: block;
      @include media-query((
        display: (sm: none)
      ));
    }
    &__subtitle {
      font: 12px/16px $fedra-demi;
      color: map_get($red, 'base') !important;
      opacity: 1;
      @include media-query((
        font-size: (md: 12px !important),
        line-height: (md: 16px !important),
      ));
    }
    &__currency {
      font: 14px $fedra-book;
      opacity: 0.5;
      @include media-query((
        font-size: (
          xl: 16px !important,
        ),
      ))
    }
    &__line {
      border-bottom: 2px solid map_get($yellow, 'base');
    }
  }
  &__fast-links {
    a:hover {
      background: map_get($yellow, 'base');
      box-shadow: none;
      .pay-page {
        &__card-hover svg {
          display: block !important;
        }
        &__card-hover__icon svg {
          display: block !important;
        }
        &__icon-span {
          color: map_get($shades, 'white') !important;
        }
        &__icon-height svg {
          color: map_get($shades, 'white') !important;
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      padding: 17px;
      text-decoration: none;
      height: 149px;
      position: relative;
      overflow: hidden;
      @include media-query((
        padding: (sm: 24px),
        height: (
          sm: 158px,
          md: 170px,
          lg: 193px,
        )
      ));
    }
  }
  &__service {
    &__title {
      margin-bottom: 50px;
      margin-left: 5px;
      @include media-query((
        margin-left: (
         sm: 10px,
        ),
        margin-bottom: (lg: 67px)
      ))
    }
    &__data {
      position: absolute;
      font: 16px $fedra-demi;
      margin-bottom: 24px;
      &__dm {
        opacity: 0.5;
      }
      &__yy {
        opacity: 0.2;
      }
    }
  }
  &__operation {
    width: 100%;
    &__submit-inn {
      width: 100%;
      max-width: 156px;
      button {
        color: map_get($shades, 'black');
      }
    }
  }
  &__button-group {
    @include media-query((
      margin: (
        xs: 38px 36px -31px 28px !important,
        sm: 17px 53px -32px 38px !important,
        md: 17px 34px -21px 27px !important,
        lg: 17px 8px -33px 10px !important,
        xl: 15px 8px 0 -1px !important,
      ),
    ));
    &__history {
      @include media-query((
        margin-bottom: (
          xs: 18px !important,
          sm: 0 !important
        ),
        padding-right: (
          sm: 8px !important,
          md: 34px !important,
          lg: 16px !important,
          xl: 22px !important,
          xxl: 65px !important
        )
      ));
    }
    &__load {
      @include media-query((
        padding-left: (
          sm: 8px !important,
          md: 34px !important,
          lg: 16px !important,
          xl: 22px !important,
          xxl: 65px !important
        )
      ));
    }
  }
  &__download-icon svg {
    position: absolute;
    height: 16px;
    top: 14px;
    left: 16px;
    z-index: 1;
    color: rgba(map_get($shades, 'black'), 0.3);
    @include media-query((
      left: (
        sm: 24px !important,
        md: 44px !important,
        lg: 24px !important,
        xl: 30px !important,
        xxl: 72px !important,
      )
    ));
  }
}

