.pay-page {
  width: 100%;
  &__container-main {
    min-width: 320px;
    margin-left: -16px;
    @include media-query((
      margin-top: (
        xs: -14px,
        sm: -17px,
        md: -26px,
        lg: -23px,
        xl: -23px,
      ),
      margin-left: (
        sm: -24px,
        md: 0,
        xxl: 18px
      )
    ));
  }
  &__container {
    padding: 0 !important;
    @include media-query((
      max-width: (
        xs: 480px !important,
        sm: 640px !important,
        md: 960px !important,
        lg: 1200px !important,
      )
    ));
  }
  &__container-operation {
    padding: 0 !important;
    position: relative;
    margin-top: -48px;
    @include media-query((
      left: (
        xs: 0,
        md: -24px,
        lg: 0px,
        xl: 0px,
        xxl: 0px
      ),
    ));
  }
  &__container-button {
    width: 100% !important;
    padding-right: 0 !important;
    position: relative;
    @include media-query((
      padding-left: (
        lg: 0 !important
      ),
      height: (
        xs: 88px,
        sm: 41px,
        md: 46px,
        ),
      left: (
        xs: 0,
        sm: -12px,
        md: -24px,
        lg: 0px,
        xl: 0px,
        xxl: 0px
      ),
      width: (
        sm: 108% !important,
        lg: 100% !important,
      ),
    ));
  }
  &__info {
    &__block1 {
      @include media-query((
        margin-left: (
          sm: 25px !important,
          md: 0 !important
        ),
      ));
    }
    &__block2 {
      @include media-query((
        margin-left: (
          sm: 40px !important,
          md: -20px !important,
          lg: 0px !important,
          xl: -18px !important,
          xxl: 0px !important
        ),
      ));
    }
    &__block3 {
      @include media-query((
        margin-top: (
          sm: -13px !important,
          md: 0px !important,
        ),
      ));
    }
    &__block2-1 {
      @include media-query((
        padding-left: (
          xl: 18px !important,
          xxl: 23px !important
        ),
      ));
    }
    &__bottom {
      @include media-query((
        margin-top: (
          xs: -7px,
          sm: -7px,
          md: 12px,
          lg: -2px,
          xl: 11px,
          xxl: 15px,
        ),
        margin-bottom: (
          sm: 22px !important,
          md: 32px !important,
          lg: 43px !important,
          xl: 23px !important,
        ),
        max-width: (
          md: 640px !important,
          lg: 800px !important,
          xl: 860px !important,
          xxl: 953px !important,
        )
      ));
    }
  }
  &__back-arr {
    margin-left: 10px;
    @include media-query((
      margin-left: (
        sm: 16px,
        md: -10px,
        lg: -17px,
        xl: 0px,
      ),
      padding-left: (
        xl: 0px,
      )
    ));
  }
  &__back-main {
    display: none;
    &__text {
      text-decoration: none;
    }
    @include media-query((
      margin-top: (
        xl: 4px
      ),
      margin-bottom: (lg: 14px),
      display: (xl: block),
      padding-right: (lg: 16px !important)
    ));
  }
  &__back-main-xs svg {
    display: block;
    height: 12px;
    cursor: pointer;
    margin-top: 26px;
    color: rgba(map_get($yellow, 'base'), 0.8);
    &__text {
      text-decoration: none;
    }
    @include media-query((
      display: (xl: none),
    ));
  }
  &__icon-height svg {
    height: 16px;
    margin-left: -7px;
  }
  &__welcome-title {
    width: 256px;
    margin-bottom: 27px;
    margin-top: 15px;
    @include media-query((
      margin-top: (
        xl: -6px,
        xxl: -4px
      ),
      width: (
        sm: 456px
      ),
      margin-bottom: (sm: 24px, lg: 29px, xl: 42px)
    ))
  }
  &__balance-score {
    display: none;
    font: 10px $fedra-demi !important;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: rgba(map_get($shades, 'black'), 0.5);
    @include media-query((
      display: (sm: block),
      font-size: (
        md: 12px !important,
        lg: 13px !important,
        xl: 14px !important
      ),
      line-height: (
        md: 16px !important,
        xl: 19px !important
      ),
      letter-spacing: (md: 1)
    ));
    &__block {
      @include media-query((
        margin-left: (
          xxl: 87px !important
        )
      ));
    }
    &__data {
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        font-size: (
          sm: 13px !important,
          md: 24px !important,
          lg: 26px !important,
          xl: 28px !important,
          xxl: 30px !important
        ),
        line-height: (
          sm: 18px !important,
          md: 30px !important,
          lg: 32px !important,
          xl: 38px !important
        ),
        letter-spacing: (
          sm: 0.25px,
          md: -1px
        ),
        margin-top: (
          sm: -17px !important,
          md: 0 !important,
        ),
        margin-left: (
          sm: -40px !important,
          md: 8px !important,
        )
      ));
    }
    &__calendar {
      display: none;
      @include media-query((
        display: (md: block)
      ));
    }
    &__dop {
      display: block;
      @include media-query((
        display: (sm: none)
      ));
    }
    &__subtitle {
      font: 12px/16px $fedra-demi;
      color: map_get($red, 'base') !important;
      opacity: 1;
      @include media-query((
        font-size: (md: 12px !important),
        line-height: (md: 16px !important),
      ));
    }
    &__currency {
      font: 14px $fedra-book;
      opacity: 0.5;
      @include media-query((
        font-size: (
          xl: 16px !important,
        ),
      ))
    }
    &__line {
      cursor: pointer;
      border-bottom: 2px solid map_get($yellow, 'base');
    }
  }
  &__service {
    &__title {
      @include media-query((
        margin: (
          xs: 27px 0 38px 0,
          sm: 27px 0 38px 4px,
          md: 32px 0 34px -16px,
          lg: 36px 0 41px -15px,
          xl: 41px 0 50px -15px
        ),
      ))
    }
    &__data {
      position: absolute;
      font: 13px/18px $fedra-book;
      letter-spacing: 0.25px;
      color: map_get($shades, 'black');
      @include media-query((
        font-size: (lg: 16px),
        line-height: (lg: 21px),
        letter-spacing: (lg: -0.5px)
      ));
      @include media-query((
        margin-top: (
          xs: 16px,
          sm: 23px,
          md: 10px,
          lg: 21px,
          xl: 17px
        ),
      ));
      &__dm {
        opacity: 0.5;
      }
      &__yy {
        opacity: 0.2;
      }
    }
  }
  &__operation {
    width: 100%;
    &__submit-inn {
      width: 100%;
      max-width: 156px;
      button {
        color: map_get($shades, 'black');
      }
    }
  }
  &__button-group {
    padding-left: 3.5vw;
    @include media-query((
      margin: (
        xs: -8px auto 0 auto !important,
        sm: -8px 24px 0 0 !important,
        md: 22px 4vw -21px 8px !important,
        lg: 17px 0 -33px 0 !important,
        xl: 15px 0 0 0 !important,
      ),
      padding-left: (
        md: 0
      ),
    ));
    &__history {
      @include media-query((
        margin-bottom: (
          xs: 18px !important,
          sm: 0 !important
        ),
        width : (
          sm: 208px !important,
          md: 186px !important,
        ),
      ));
    }
    &__load {
      position: absolute !important;
      right: 0px;
      top: -10px;
      @include media-query((
        top: (sm: 0),
        width : (
          sm: 208px !important,
        ),
      ));
    }
  }
  &__download-icon svg {
    position: absolute;
    height: 16px;
    top: 14px;
    left: 16px;
    z-index: 1;
    color: rgba(map_get($shades, 'black'), 0.3);
    @include media-query((
      left: (
        sm: 24px !important,
        md: 10px !important,
        lg: 24px !important,
        xl: 30px !important,
        xxl: 72px !important,
      )
    ));
  }
}

