er-filter-container(
  :active="isFiltersVisible"
  @click-outside="onCloseFilters()"
).er-report-filter
  div(
    slot="selected-filters"
    @click="onShowFilters()"
  ).er-report-filter__current
    span.er-filter-container__active-filter.mr-16 {{ internalType.value }}
    span.er-filter-container__active-filter {{ getFormatPeriod }}

  div(slot="title")
    | Отчётные документы

  .er-report-filter__wrap
    .er-report-filter__list.main-content.main-content--h-padding
      er-container.full.container--no-padding
        er-row.ordered-items
          er-flex.xs12.sm6.lg4
            er-filter-group(title="Период").er-report-filter__period
              er-date-picker(
                v-model="internalPeriod"
                disabled-date="future"
              )
          er-flex.xs12.sm6.md5.lg4
            er-filter-group(title="Тип документа")
              er-select(
                :items="types"
                v-model="internalType"
              )
          er-flex.md1.lg1.d--flex.ml-auto
            er-filter-close(@click="isFiltersVisible=false")
