.ert-document-page {
  width: calc(100% - 32px);

  @include min-breakpoint('md') {
    width: calc(100% - 48px);
  }

  @include min-breakpoint('lg') {
    width: calc(100% - 96px);
  }

  @include min-breakpoint('xl') {
    width: 100%;
  }

  .ert-document-page__filter-wrap__list .er-date-picker .er-messages {
    display: none !important;
  }

  .er-filter-container {
    > .main-content--h-padding {
      padding: 0;
      margin-left: 16px;
      margin-right: 16px;
      width: calc(100% - 32px);

      @include min-breakpoint('md') {
        width: calc(100% - 48px);
        margin-right: 24px;
        margin-left: 24px;
      }

      @include min-breakpoint('lg') {
        width: calc(100% - 96px);
        margin-right: 48px;
        margin-left: 48px;
        max-width: 1040px;
      }

      @include min-breakpoint('xl') {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .er-date-picker {
      padding: 20px 0 16px;
    }
  }

  .ert-window {
    overflow: initial;
  }

  &__actions {
    display: flex;
    flex-direction: column;

    @include min-breakpoint('sm') {
      flex-direction: row;
    }

    > * {
      width: 100%;

      @include min-breakpoint('md') {
        width: auto;

        .er-button .er-button__slot-content {
          margin: 0 24px;
        }
      }
    }
  }

  &--not-found {
    text-align: center;
    @extend %h4-font;
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .ert-progress-circular {
      @include color-black(0.3);
      margin-right: $padding-x4;
    }

    .title {
      @include color-black(0.8);
      @extend %h4-font;
    }
  }

  .ert-document-item:first-child {
    border-top: 1px solid rgba(map-get($shades, 'black'), 0.2);
  }
}
