div.main-content.main-content--padding.main-content--top-menu-fix
  er-page-header(title="Защита от DDoS атак")
  er-promo(banner="ddos-promo.png" :featureList="featureList" plug-text="Подключить Защиту от DDoS атак")
