@include theme(ert-input--checkbox) using ($theme) {
  &__thumb {
    background: map-deep-get($theme, 'checkbox', 'border-color-inactive');

    &--inner {
      background: map-deep-get($theme, 'checkbox', 'background-inactive');
      box-shadow: map-deep-get($theme, 'checkbox', 'box-shadow');
    }
  }

  .ert-input--selection-controls__input:hover {
    .ert-input--checkbox__thumb {
      background: map-deep-get($theme, 'checkbox', 'border-color-inactive-hover');

      &--inner {
        box-shadow: map-deep-get($theme, 'checkbox', 'box-shadow-hover');
      }
    }
  }

  &.ert-input--is-dirty {
    .ert-input--checkbox__thumb {
      background: map-deep-get($theme, 'checkbox', 'border-color-active');

      &--inner {
        background: map-deep-get($theme, 'checkbox', 'background-active');
        color: map-deep-get($theme, 'checkbox', 'icon-color');
      }
    }

    .ert-input--selection-controls__input:hover {
      .ert-input--checkbox__thumb {
        background: map-deep-get($theme, 'checkbox', 'border-color-active-hover');

        &--inner {
          box-shadow: map-deep-get($theme, 'checkbox', 'box-shadow-active-hover');
        }
      }
    }
  }
}

.ert-input--checkbox {
  $checkbox: &;

  &__thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 2px;
    transition: $primary-transition;

    &--inner {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: inherit;
      position: relative;

      > i {
        position: absolute;
        top: 3px;
        left: 1px;
        transition: none;
      }

      > i > svg {
        width: 16px;
        transition: inherit;
      }
    }
  }
}

// todo Костыльное решение - не был продуман скелет. В версии 4.0 уделить особое внимание
.app[data-app].e-commerce {
  .ert-input--checkbox {
    .ert-input--selection-controls__input {
      align-items: center;
    }

    &__thumb {
      width: 14px;
      height: 14px;
      border-radius: 2px;
      padding: 0;
      background: map-get($shades, 'transparent');
      border: 1px solid #D5DDEB;

      &--inner {
        background: map-get($shades, 'transparent');
        box-shadow: none;
      }
    }

    &.ert-input--is-dirty {
      .ert-input--checkbox__thumb {
        background: map-get($shades, 'transparent');
        border-color: #2B539B;

        &--inner {
          background: map-get($shades, 'transparent');
          color: #2B539B;

          > i {
            top: -3px;
          }
        }
      }

      .ert-input--selection-controls__input:hover {
        .ert-input--checkbox__thumb {
          background: map-get($shades, 'transparent');

          &--inner {
            box-shadow: none;
          }
        }
      }
    }
  }

  .ert-input--selection-controls__input:hover {
    .ert-input--checkbox__thumb {
      background: map-get($shades, 'transparent') !important;
      border-color: #0357F1;

      &--inner {
        box-shadow: none !important;
      }
    }
  }
}
