.contacts-list {
  $contactList: #{&};

  &--deleted{
    .profile-table__content__row-wrapper--action{
      background-color: map_get($red, 'other-2') !important;

      .profile-table__content__row{
        position: relative;
      }
    }
  }

  &--changed{
    .profile-table__content__row-wrapper--action{
      background-color: map_get($green, 'other-4') !important;

      .profile-table__content__row{
        position: relative;
      }
    }
  }

  .profile-table{

    &__header{
      background-color: map_get($gray, '4');
      color:  map_get($gray, '6');

      &__row{
        @extend %caption2-font;

        margin: 0 $padding-x6;
        //padding: $padding-x2 0;
        padding: 0;

        @include media-query((
          margin: (
            md: 0 $padding-x8
          ),
          padding: (
            sm: 0
          )
        ));
      }

      &__cell{
        padding: $padding-x2 0;
      }
    }

    &__content{

      &__separator{
        margin: 0 $padding-x4;
        border-bottom: 1px solid map_get($gray, '20');
        @include media-query((
          margin: (
            md: 0 $padding-x8
          )
        ));
      }

      &__row-wrapper{
        background-color: map_get($gray, '2');

        &:hover{
          background-color: map_get($shades, 'white');
        }

        &--action{
          transition: background-color .3s ease;
          transition-delay: .2s;
        }
      }

      &__row{
        padding: 0 $padding-x4;

        @include media-query((
          padding: (
            sm: 0 $padding-x6,
            md: 0 $padding-x8
          )
        ));
      }

      &__cell{
        padding: $padding-x4 0;

        @include media-query((
          padding: (
            md: $padding-x6 0
          )
        ));
      }
    }
  }
}
