div(:class="[`${pre}`, stateClasses]")
  profile-table(
    :columns="listColumns"
    :tableData="contactsList",
    :dataItemId="'id'"
    :expandedId="expandedId"
    :actionRowId="actionRowId"
    :showItemsNum="isMobile || isMD ? contactsNum : null"
    @clickRow="handleExpandContact($event)"
  )
    template(v-slot:cell="{ item, dataKey, index }")
      contacts-list-item(
        :item="item"
        :dataKey="dataKey"
        :expandedId="expandedId"
        :primaryContactId="getPrimaryContact.id"
        @showPreferHint="handlePreferHint"
        @mobileEditContact="handleMobileEditContact"
        )

    template(v-slot:row="{ item }" v-if="isLPR")
      er-slide-up-down(
        :active="expandedId === item.id && isOpenEditContact"
        )
        lpr-contact-form(
          :isOpen="expandedId === item.id && isOpenEditContact"
          :primaryContactId="getPrimaryContact.id"
          @addContactClose="handleExpandContact")

  prefer-hint(
    :isOpen="preferHint.open"
    :pos="preferHint.pos"
    :targetEl="preferHint.target"
  )
