div.er-social
  div.er-social__title
    | Дом.ru Бизнес в социальных сетях
  .er-social__list
    a(
      target="_blank"
      :href="SOCIAL_LINK_VK"
      data-ga-tag-id="social-network-vk"
      @click="dataLayerPush({ category: 'footer', label: 'socialvk' })"
    ).er-social__item.er-social__item--vk
      er-icon(name='vk_2')
    a(
      target="_blank"
      :href="SOCIAL_LINK_DZEN"
      data-ga-tag-id="social-network-dzen"
      @click="dataLayerPush({ category: 'footer', label: 'socialdzen' })"
    ).er-social__item.er-social__item--dzen
      er-icon(name='dzen')
