div.er-social
  div.er-social__title
    | Дом.ru Бизнес в социальных сетях
  .er-social__list
    a(
      target="_blank"
      :href="SOCIAL_LINK_VK"
    ).er-social__item.er-social__item--vk
      er-icon(name='vk')
    a(
      target="_blank"
      :href="SOCIAL_LINK_FB"
    ).er-social__item.er-social__item--fb
      er-icon(name='facebook')
    a(
      target="_blank"
      :href="SOCIAL_LINK_INSTAGRAM"
    ).er-social__item.er-social__item--instagram
      er-icon(name='instagram')
