.action-month {
  &__service {
    &__date {
      position: absolute;
      font: 13px/18px $fedra-book;
      letter-spacing: 0.25px;
      color: map_get($shades, 'black');
      @include media-query((
        font-size: (lg: 16px),
        line-height: (lg: 21px),
        letter-spacing: (lg: -0.5px),
        margin-top: (
          xs: 20px,
          sm: 23px,
          md: 10px,
          lg: 21px,
          xl: 17px,
        ),
        margin-left: (
          xs: 18px
        )
      ));
      &__dm {
        opacity: 0.5;
      }
      &__yy {
        opacity: 0.2;
      }
    }
  }
  &__height {
    height: 49px;
    &__address {
      height: 22px;
    }
  }
}
