.ert-wifi-service-auth-item {
  background: $border-gradient;
  padding: 1px;
  width: 100%;
  border-radius: $border-radius;

  &__content {
    background-color: map-get($gray, '9');
    width: 100%;
    height: 100%;
    padding: 24px 32px;
    border-radius: inherit;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-columns: auto 1fr auto;
  }

  &__input {
    grid: {
      row: { start: 1; end: 4 };
      column: { start: 1; end: 2 }
    };
    margin-right: 16px;
  }

  &__title {
    grid: {
      row: { start: 1; end: 2 };
      column: { start: 2; end: 4 }
    };
    @extend %h4;
    margin-bottom: 16px;
    user-select: none;
    display: flex;
    justify-content: space-between;
  }

  &__portal {
    display: flex;
    align-items: center;
    @extend %body-font;
    @include color-black(0.6);
    text-decoration-style: dotted;
  }

  &__description,
  &__settings {
    grid: {
      row: { start: 2; end: 3 };
      column: { start: 2; end: 4 }
    }
  }

  &__settings {
    .ert-input {
      > .ert-input__prepend-outer {
        margin-right: 8px;
      }

      > .ert-input__append-outer {
        cursor: pointer;
        margin-left: 8px;
        @include color-black(0.5);
      }

      .ert-input__append-inner {
        cursor: pointer;
      }
    }
  }

  &__description {
    @extend %body-font;
    @include color-black(0.8);
    margin-bottom: 16px;
    user-select: none;
  }

  &__price {
    grid: {
      row: { start: 3; end: 4 };
      column: { start: 2; end: 4 }
    };
    @extend %caption1;
    @include color-black(0.5);
    text-align: right;
    user-select: none;

    span {
      @extend %h2;
      color: inherit;
    }
  }

  &__actions {
    display: flex;
  }

  &__action {
    width: 100%;
    max-width: 208px;
  }

  &__list-manager-voucher {
    .head {
      display: flex;
      margin-bottom: $padding-x2;
    }

    .head > * {
      @extend %caption2-font;
      @include color-black(0.3);
    }

    .head .login,
    .head .updated {
      flex: 1;
    }

    .body-row {
      display: flex;
      align-items: center;
    }

    .body-row .login,
    .body-row .updated,
    .body-row .password {
      flex: 1;
    }

    .body-row .actions > * {
      @include color-black(0.2);
      transition: $primary-transition;

      &:hover {
        @include color-black(0.5);
      }
    }

    .body-row .actions > * > button {
      outline: none;
    }

    .body-row .actions > *:first-child {
      margin-right: $padding-x4;
    }
  }

  &__required-fields {
    @extend %caption2-font;
    @include color-black(0.5);
    display: flex;
    align-items: center;

    span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: map-get($red, 'other-5');
    }
  }

  &__guest-auth-item {
    .ert-label {
      display: flex;
      align-items: center;

      .title {
        flex: 1;
        @extend %caption1-font;
      }

      .icon i > svg {
        width: 32px;
      }
    }

    &.vk .icon {
      color: map-get($blue, 'other-4');
    }

    &.ok .icon {
      color: map-get($yellow, 'other-13');
    }

    &.fb .icon {
      color: map-get($blue, 'darken-1');
    }

    &.instagram .icon {
      color: map-get($purple, 'other-1');
    }

    &.twitter .icon {
      color: map-get($blue, 'other-5');
    }
  }

  @include min-breakpoint('sm') {
    &__content {
      padding: 24px 40px;
    }
  }

  @include min-breakpoint('md') {
    &__content {
      padding: 32px 24px;
    }

    &__title,
    &__description,
    &__settings {
      grid-column-end: 3;
    }

    &__settings {
      margin-top: 32px;
      margin-bottom: 16px;
    }

    &__price {
      grid: {
        row: { start: 1; end: 4 };
        column: { start: 3; end: 4 }
      };
      margin-left: 48px;

      span {
        display: block;
      }
    }
  }

  @include min-breakpoint('xl') {
    &__content {
      padding: 32px;
    }
  }
}
