.promise-pay {
  background: map_get($gray, '3');
  &__container-main {
    padding: 0 !important;
    margin-left: 0;
    margin-bottom: -7px; //
    @include media-query((
      margin-top: (
        xs: -14px,
        sm: -25px,
        md: 71px !important,
        lg: -21px,
        xl: -23px,
      ),
      margin-left: (
        sm: 0,
        md: 0,
        lg: 0,
      ),
      margin-bottom: (
        sm: -7px,
      ),
      max-width: (
        xs: 480px !important,
        sm: 640px !important,
        md: 960px !important,
        lg: 1200px !important,
      ),
      width: (xl: 108%)
    ));
  }
  &__container {
    padding-left: 0 !important;
    @include media-query((
      margin-top: (
        lg: 10px,
        xl: 35px,
      ),
    ))
  }
  &__back-arr {
    position: relative;
    margin-left: -4px;
    @include media-query((
      top: (
        lg: 12px,
        xl: 0
      ),
      margin-left: (
        sm: -6px,
        md: -10px,
        lg: -17px,
        xl: 0px,
      ),
      padding-left: (
        xl: 0px,
      )
    ));
  }
  &__back-main {
    display: none;
    &__text {
      text-decoration: none;
    }
    @include media-query((
      margin-top: (
        xl: 11px
      ),
      margin-bottom: (lg: 14px),
      display: (xl: block),
      padding-right: (lg: 16px !important)
    ));
  }
  &__back-main-xs svg {
    display: block;
    height: 12px;
    cursor: pointer;
    margin-top: 25px;
    color: rgba(map_get($yellow, 'base'), 0.8);
    &__text {
      text-decoration: none;
    }
    @include media-query((
      display: (xl: none),
      margin-top: (
        md: 27px,
      ),
    ));
  }
  &__icon-height svg {
    height: 16px;
    margin-left: -7px;
  }
  &__welcome-title {
    width: 256px;
    margin-bottom: 22px;
    margin-top: 15px;
    letter-spacing: -1px;
    @include media-query((
      margin-top: (
        xl: 0,
      ),
      width: (
        sm: 456px
      ),
      margin-bottom: (
        sm: 24px,
        lg: 37px,
        xl: 28px
      )
    ))
  }
  &__subtitle {
    padding-right: 33px;
    font: 13px/18px $fedra-book;
    letter-spacing: 0.25px;
    color: rgba(map_get($shades, 'black'), 0.8);
    @include media-query((
      font-size: (
        md: 14px,
        xl: 16px,
      ),
      line-height: (
        md: 19px,
        xl: 21px
      ),
      letter-spacing: (
        md: normal,
        xl: -0.5px
      ),
      width: (
        //sm: 432px,
        md: 448px,
        lg: 568px,
        xl: 568px,
      ),
    ));
  }
  &__icon {
    margin-top: 24px;
    @include media-query((
      margin-top: (
        xl: 0px
      ),
      margin-bottom: (
        xl: 15px
      )
    ));
    svg {
      width: 39px !important;
      color: map_get($yellow, 'base');
      @include media-query((
        width: (
          md: 64px !important,
          xl: 64px !important
        )
      ));
    }
  }
  &__title {
    margin-top: 14px;
    @include media-query((
      margin-top: (
        xl: 0px
      ),
      margin-bottom: (
        xl: 15px !important
      )
    ));
  }
  &__button {
    margin-bottom: 39px;
    margin-top: 32px;
    width: 288px;
    @include media-query((
      margin-top: (
        md: 42px,
        xl: 90px
      ),
      margin-bottom: (
        xl: 41px
      ),
      width: (
        sm: 224px,
        md: 237px,
        lg: 283px,
        xl: 277px,
        xxl: 320px,
      )
    ));
    & button {
      padding-left: 40px;
      padding-right: 40px;
      @include media-query((
        padding: (
          sm: 0,
        ),
      ));

    }
  }
  &__content1 {
    min-width: 245px;
    &__text {
      @extend .promise-pay__subtitle;
      margin-top: 8px;
      @include media-query((
        padding-right: (
          xxl: 0
        ),
        margin-top: (
        md: 16px,
        xl: 0px
      ),
        margin-bottom: (
          md: 11px,
          xl: 0px
        ),
        width: (
          md: auto,
          lg: auto,
          xl: 265px,
          xxl: 278px,
        ),
      ));
    }
  }
  &__content2 {
    min-width: 259px;
    padding-left: 0px;
    &__text {
      @extend .promise-pay__subtitle;
      margin-top: 8px;
      @include media-query((
        padding-left: (
          lg: 0px,
          xl: 0px
        ),
        margin-top: (
            md: 16px,
            xl: 0px
          ),
          width: (
          md: 259px,
          lg: auto,
          xl: auto,
          xxl: 307px,
        ),
      ));
    }
  }
  &__content3 {
    min-width: 224px;
    &__text {
      @extend .promise-pay__subtitle;
      margin-top: 8px;
      @include media-query((
        margin-top: (
          md: 16px,
          xl: 0px
        ),
        padding-right: (
          lg: 91px
        ),
        width: (
          md: 258px,
          lg: auto,
          xl: auto,
        ),
      ));
    }
  }
  &__confirm {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 288px;
    height: 480px;
    background: map_get($shades, 'white');
    box-shadow: -8px 8px 16px rgba(map_get($shades, 'black'), 0.04), 0px 8px 24px rgba(map_get($shades, 'black'), 0.06);
    border-radius: 12px;
    z-index: 13;
    margin: 65px auto;
    @include media-query((
      margin: (
        sm: 16px auto,
        md: 221px auto,
        lg: 258px auto,
        xl: 214px auto,
      ),
      height: (
        sm: 288px,
        md: 353px,
        xl: 416px,
      ),
      width: (
        sm: 448px,
        md: 384px,
        xl: 544px,
      ),
      top: (
        lg: 16px,
      ),
    ));
    &__check {
      @extend .promise-pay__confirm;
      margin: 63px auto;
      @include media-query((
        margin: (
          sm: 73px auto,
          md: 221px auto,
          lg: 258px auto,
        ),
      ));
    }
    &__content {
      position: absolute;
      left: 24px;
      top: 26px;
      width: 264px;
      @include media-query((
        left: (xl: 32px),
        width: (sm: 380px),
      ));
      &__size {
        margin-bottom: 57px;
        @include media-query((
          margin-bottom: (
            sm: 48px,
            md: 57px
          ),
        ));
      }
      &__text {
        @include media-query((
          left: (
            sm: 22px
          ),
          top: (
            sm: 8px
          ),
        ));
      }
      &__pos {
        @include media-query((
          position: (
            sm: relative,
          ),
          top: (
            sm: -63px,
            md: 0,
          ),
          left: (
            sm: 71px,
            md: 0,
          ),
        ));
      }
    }
    &__icon-height svg {
      position: absolute;
      width: 64px !important;
      left: 0;
      top: 0;
      color: map_get($yellow, 'base');
    }
    &__container-button {
      position: absolute;
      padding: 0 24px 0 24px !important;
      bottom: 32px;
      width: 90%;
      @include media-query((
        width: (
          sm: 100%,
        ),
        padding: (
          sm: 0 10px 0 31px !important,
          md: 0 10px 0 32px !important,
        ),
      ));
      &__remcard {
        @extend .promise-pay__confirm__container-button;
        padding: 0 24px 0 24px !important;
        @include media-query((
          width: (
            sm: 100%,
          ),
          padding: (
            sm: 0 10px 0 131px !important,
          ),
        ));
      }
    }
    &__close svg {
      display: block;
      opacity: 0.2;
      width: 16px !important;
      position: absolute;
      right: 29px;
      top: 29px;
      cursor: pointer;
      @include media-query((
        display: (xl: block),
      ));
    }
    &__decimal {
      opacity: .3;
    }
    &__currency {
      margin-top: 6px;
      margin-left: 4px;
      opacity: .3;
    }
    &__no {
      cursor: pointer;
      &__remcard {
        position: relative;
        cursor: pointer;
        @include media-query((
          left: (
            sm: 10px,
            md: 30px,
          ),
        ));
      }
      &__payment {
        cursor: pointer;
        @include media-query((
          margin-left: (
            sm: 4px,
            md: -11px,
          ),
        ));
      }
      &__promise {
        cursor: pointer;
        margin-left: 0;
        @include media-query((
          margin-left: (
            sm: 4px,
            md: -12px,
          ),
        ));
      }
      &__del {
        cursor: pointer;
        @include media-query((
          margin-left: (
            sm: 41px,
            md: 21px
          ),
        ));
      }
      &__pay {
        cursor: pointer;
        @include media-query((
          margin-left: (
            sm: 1px,
            md: 7px,
          ),
        ));
      }
      &__text {
        font: 13px/120% $fedra-demi;
        letter-spacing: 0.35px;
        color: map_get($shades, 'black');
        border-bottom: 1px dashed map_get($green, 'base');
        opacity: 0.3;
        @include media-query((
          font-size: (
            md: 14px,
            xxl: 20px
          ),
          line-height: (
            md: 17px,
            xxl: 26px
          ),
          letter-spacing: (
            md: normal
          ),
        ));
      }
    }
    &__yes {
      cursor: pointer;
      &__payment {
        cursor: pointer;
        margin-left: -5px;
        @include media-query((
          margin-left: (
            sm: 1px,
            md: 4px,
          ),
        ));
      }
      &__promise {
        cursor: pointer;
        margin-left: -35px;
        @include media-query((
          margin-left: (
            sm: 1px,
            md: 4px,
          ),
        ));
      }
      &__remcard {
        cursor: pointer;
        margin-left: 24px;
        @include media-query((
          margin-left: (
            sm: 3px,
            md: 39px,
          ),
        ));
      }
      &__del {
        cursor: pointer;
        margin-left: 4px;
        @include media-query((
          margin-left: (
            sm: 25px,
            md: 22px,
          ),
        ));
      }
      &__pay {
        cursor: pointer;
        margin-left: 14px;
        @include media-query((
          margin-left: (
            sm: -17px,
            md: 12px,
          ),
        ));
      }
      &__check {
        cursor: pointer;
        margin-left: 8px;
        @include media-query((
          margin-left: (
            sm: 4px,
            md: 9px,
          ),
        ));
      }
      &__text {
        font: 13px/120% $fedra-demi;
        letter-spacing: 0.35px;
        color: map_get($green, 'base');
        border-bottom: 1px dashed map_get($green, 'base');
        @include media-query((
          font-size: (
            md: 14px,
            xxl: 20px
          ),
          line-height: (
            md: 17px,
            xxl: 26px
          ),
          letter-spacing: (
            md: normal
          ),
        ));
      }
    }
    &__butt {
      justify-content: space-between;
      position: relative;
      @include media-query((
        left: (
          sm: -7px,
          md: -30px
        ),
        justify-content: (
          sm: end,
        ),
      ));
    }
    &__text {
      font: 13px/18px $fedra-book;
      letter-spacing: 0.25px;
      color: rgba(map_get($gray, '8'), 0.8);
      width: 240px;
      @include media-query((
        width: (
          sm: 340px,
          md: 336px
        ),
        position: ( sm: relative),
        top: (
          sm: -72px,
          md: -26px,
        ),
        left: (
          sm: 73px,
          md: 0,
        ),
        font-size: (
          md: 14px,
          xxl: 20px
        ),
        line-height: (
          md: 19px,
          xxl: 26px
        ),
        letter-spacing: (
          md: normal
        )
      ));
      &__header {
        @extend .promise-pay__confirm__text;
        @include media-query((
          width: (sm: 240px !important),
          position: ( sm: relative),
          top: (
            sm: -20px,
            md: 10px
          ),
          left: (
            sm: 54px,
            md: -49px
          ),
          font-size: (
            md: 14px,
            xxl: 20px
          ),
          line-height: (
            md: 17px,
            xxl: 26px
          ),
          letter-spacing: (
            md: nornal
          )
        ));
      }
      &__title {
        @include media-query((
          position: ( sm: relative),
          left: (sm: -48px),
          top: (md: 6px),
        ));
        &__remcard {
          @include media-query((
            position: ( sm: relative),
            left: (
              sm: -49px,
              md: -45px,
            ),
            top: (md: 18px),
          ));
        }
      }
    }
    &__header {
      padding-left: 0 !important;
    }
    &__question {
      font: 17px/22px $fedra-demi;
      letter-spacing: -0.5px;
      color: rgba(map_get($shades, 'black'), 0.8);
      width: 240px;
      @include media-query((
        width: (
          sm: 288px,
          md: 347px,
        ),
        font-size: (
          md: 18px,
        ),
        line-height: (
          md: 23px,
        ),
        letter-spacing: (
          md: -0.75px
        )
      ))
    }
    &__date {
      font: 13px/18px $fedra-med;
      color: rgba(map_get($shades, 'black'), 0.8);
      margin: 10px 0 6px;
      font-weight: 500;
      @include media-query((
        margin: (
          md: 7px 0 18px,
          xl: 8px 0 16px
        ),
        font-size: (
          md: 14px,
          xl: 16px
        ),
        line-height: (
          md: 19px,
          xl: 21px
        ),
        letter-spacing: (
          xl: -0.5px
        )
      ));
      &__b {
        @extend .promise-pay__confirm__date;
        font-weight: 500;
        @include media-query((
          font-family: (md: $fedra-light),
          font-weight: (md: normal),
        ));
      }
    }
    &__prompt {
      color: map_get($red, 'base') !important;
    }
  }
}
