common-document(
  :class="{'er-document--signed': contractIsSigned}"
).er-document--contract.er-document--big-doc
  template(v-slot:header)
    .er-document__title {{ document.type.name }}
    er-document-viewer(link-to-document="http://www.africau.edu/images/default/sample.pdf")
      template(v-slot:activator="{ on }")
        a(:href="document.file" v-on="on").er-document__link.er-document__subtitle
          | Текст документа
      template(v-slot:footer)
        .er-document__modal--viewer
          .er-document__modal--viewer__subscribe.ml-auto
            er-button(color="blue" pre-icon="key")
              | Подписать ЭЦП


    er-icon(name="doc")

  template(v-slot:body)
    .document-number
      .document-number__sign №
      .document-number__number {{ document.relatedTo.name }}

    .document-date.caption2
      | от {{ document.modifiedWhen | formatDate("DD.MM.YY") }}

  template(v-slot:footer)
    //- Документ подписан
    div(v-if="contractIsSigned")
      .er-document__signed-text
        er-icon(name="circle_ok").circle-ok-icon
        er-icon(name="ok").ok-icon
        | Подписан
    //- Документ может быть подписан ЭЦП (signedWithDigitalSignature === 'Yes' && status === 'Готов для клиента')
    .buttons(v-else-if="contractIsReady && documentIsSigned")
      er-button(
        :color="'blue'"
        pre-icon="key"
        @click="signWithDigitalSignature"
      ).er-button--accept
        | Подписать ЭЦП
      er-button(
        :color="'gray'"
      ).er-button--decline
        | Отказаться
    //- документ может быть подписан только вручную (signedWithDigitalSignature === 'No' && status === 'Готов для клиента')
    .buttons(v-else-if="contractIsReady && documentIsNotSigned")
      er-button.er-button--accept(
        color="blue"
        pre-icon="doc_edit"
      )
        | Подписать
      er-button(
        :color="'gray'"
      ).er-button--decline
        | Отказаться
