
.telephony-redirection-table {
  @extend %main-content-width;

  table {
    @extend %primary-table;
    @extend %table-content-padding;

    td {
      height: $padding-x10;
    }

    .col-to-phone,
    .col-period,
    .col-action .title {
      display: none;

      @include min-breakpoint('md') {
        display: table-cell;
      }
    }

    .col-action {
      white-space: nowrap;
      width: 10%;

      .title {
        padding-left: $padding-x3;
      }
    }

    .t-h-row {
      th {
        @extend %caption2-font;
        padding-bottom: $padding-x4;
        text-align: left;
      }
    }

    tbody {
      tr.t-b-row {
        td {
          @extend %body;
        }

        &:nth-child(odd):not(.t-b-row--added) {
          td {
            background-color: rgba(map_get($shades, 'black'), .05);
          }
        }

        &--added {
          td {
            background-color: map_get($green, 'other-4');
          }

          .col-status {
            color: map_get($green, 'base');
          }
        }

        td:first-child {
          padding-right: $padding-x2;
        }

        .col-from-phone,
        .col-to-phone {
          @extend %h4;
        }

        .col-from-phone {
          .er-icon {
            margin-left: $padding-x2;
            color: map_get($green, 'base')
          }
        }

        .col-action {
          @extend %min-col-width;
          text-align: left;
        }
      }
    }

    .t-f-row {
      td {
        padding-top: $padding-x8;

        @include min-breakpoint('md') {
          padding-top: $padding-x10;
        }
      }
    }
  }
}

.phone-wrap {
  display: flex;
  flex-direction: row;

  &__col {
    display: flex;
    flex-direction: row;

    &:first-child {
      flex-direction: column;

      @include min-breakpoint('md') {
        flex-direction: row;
      }
    }
  }

  &__to,
  &__from {
    white-space: nowrap;
  }

  &__arrow_1 {
    display: none;

    @include min-breakpoint('md') {
      display: inherit;
    }
  }

  &__arrow_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow_2,
  &__to {
    @include min-breakpoint('md') {
      display: none;
    }
  }
}
