.telephony-redirection-table
  table
    thead
      tr.t-h-row
        th.col-from-phone
          | С телефона
        th.col-to-phone
          | На телефон
        th.col-status
          | По признаку
        th.col-period
          | Период
        th.col-action
          span.title Действие

    tbody
      template(v-for="item in list")
        tr.t-b-row(
          :key="item.id"
          :class="getRowCSSClass(item)"
        )
          td.col-from-phone
            .phone-wrap
              .phone-wrap__col
                .phone-wrap__from {{ item.from }}
                .phone-wrap__to {{ item.to }}
                .phone-wrap__arrow_1
                  er-icon(name="arrow_r_long")

              .phone-wrap__col
                .phone-wrap__arrow_2
                  er-icon(name="arrow_r_u_turn")

          td.col-to-phone
            | {{ item.to }}
          td.col-status
            | {{ item.status }}
          td.col-period
            | {{ item.period }}
          td.col-action
            er-delete-button(@click="onDelete(item.id)")

    tfoot
      tr.t-f-row
        td(colspan="5")
          er-container.container--no-padding.full
            er-row
              er-flex.d-flex.xs12.sm6.lg4
                er-button(
                  @click="onClickAdd"
                  color="blue"
                )
                  | Добавить
