.camera
  .camera__title
    .title {{ title }}
  .camera__count {{ count }} сервиса
  .camera__price
    er-price {{ price }}

  .camera__watch(
    v-if="isForpostProtalWorking"
    @click="onPlay"
  )
    er-icon(name="play")
    span.title Смотреть

  router-link.camera__config(
    :to="`/lk/videocontrol/camera/${id}`"
    title="Настроить"
  )
    er-icon(name="settings")
    span.title Настроить
