.er-select {
  .er-input > .er-input__control > .er-input__slot {
    height: auto;
    min-height: 40px;
    align-items: flex-start;
    padding-top: 12px;
    > .er-text-field__slot {
      flex-wrap: wrap;
      input {
        pointer-events: none;
        flex: 1 1;
      }
      label {
        user-select: none;
      }
    }
  }
  &__head {
    width: 100%;
    height: 48px;
    .title {
      @extend %h3;
    }
    button {
      background: map_get($shades, 'transparent');
      border: none;
      outline: none;
      cursor: pointer;
      svg {
        pointer-events: none;
        @include color-black(0.5);
        width: 16px;
      }
    }
  }
  &__item {
    width: 100%;
    height: 32px;
    @extend %body-font;
    line-height: 32px;
    border-left: 4px solid map_get($shades, 'transparent');
    user-select: none;
    @include color-black(0.5);
    transition: $primary-transition;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      font-family: $fedra-med;
      @include color-black(0.8)
    }
    @include min-breakpoint('md') {
      &:hover:not(:active):not(.active) {
        background-color: map_get($shades, 'white');
        @include color-black(0.8);
        border-left-color: map_get($yellow, 'base');
      }
    }
    &:active {
      @include color-black();
      background-color: map_get($yellow, 'base');
    }
    &.active {
      color: map_get($green, 'base');
      &::after {
        content: '';
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjE2NDA5IDkuMTg3MzRMNC4zOTUxOSA2LjQxODMzTDIuOTgwOTYgNy44MzI1Nkw3LjIyMzQxIDEyLjA3NUwxNS4wNjExIDQuMzU2MjlMMTMuNTg3NiAyLjg4MjgxTDcuMTY0MDkgOS4xODczNFoiIGZpbGw9IiM2OUJFMjgiPjwvcGF0aD4KPC9zdmc+") no-repeat;
        display: block;
        width: 16px;
        height: 16px;
        margin-left: auto;
      }
    }
  }
  &__caption {
    @extend %caption2;
  }
  &__chip {
    .content {
      @extend %caption2;
      @include color-black(0.8);
      text-decoration: underline;
      text-decoration-style: dashed;
      user-select: none;
    }
    .close {
      background-color: map_get($shades, 'transparent');
      border: none;
      outline: none;
      cursor: pointer;
      svg {
        width: 16px;
        @include color-black(0.2);
        pointer-events: none;
      }
    }
  }
  &__menu {
    background: linear-gradient(to top, map_get($gray, '26') 0%, map_get($shades, 'white') 100%);
    border-radius: 0 0 12px 12px;
    padding: 1px;
    box-shadow: -4px 4px 16px rgba(map_get($shades, 'black'), 0.1);
    height: auto;
    max-height: 300px;
    .content {
      width: 100%;
      height: 100%;
      background: map_get($shades, 'white');
      border-radius: inherit;
      padding: 16px 0;
    }
  }
}
