.detail-component {
  &__price {
    margin-left: 86px;
    margin-top: -30px;
    @include media-query((
      margin-left: (sm: auto)
    ));
  }
  &__pos {
    display: flex;
    position: relative;
    left: -12px;
    @include media-query((
      left: (
        sm: -22px,
        md: -17px,
        lg: -14px,
        xl: 37px,
      ),
    ))
  }
  &__item {
    background: map_get($gray, '2');
    padding-top: 20px;
    padding-bottom: 2px;
    box-shadow: 4px 24px 3px -24px rgba(map_get($gray, '30'), 0.7);
    @include media-query((
      padding-top: (
        md: 18px,
        lg: 23px
      ),
      line-height: (md: 22px),
      letter-spacing: (md: -1px)
    ))
  }
  &__title {
    font: 13px/18px $fedra-book !important;
    letter-spacing: 0.25px !important;
    color: rgba(map_get($shades, 'black'), 0.8);
    @include media-query((
      font-size: (
        md: 14px !important,
        lg: 14px !important,
        xl: 16px !important,
      ),
      line-height: (
        md: 19px !important,
        lg: 19px !important,
        xl: 21px !important
      ),
      letter-spacing: (md: -1px),
      margin-top: (
        sm: -30px
      ),
    ));
    &__value {
      font: 15px/20px $fedra-book;
      letter-spacing: -1px;
      color: rgba(map_get($shades, 'black'), 0.5);
      margin-right: 4px;
      @include media-query((
        font-size: (
          md: 18px,
          xxl: 20px
        ),
        line-height: (
          md: 23px,
          xxl: 26px
        ),
        letter-spacing: (
          md: -1px
        )
      ))
    }
    &__unit {
      font: 13px/18px $fedra-book;
      color: rgba(map_get($shades, 'black'), 0.3);
      margin: 2px 32px 0 -2px;
      @include media-query((
        font-size: (
          md: 14px,
          xl: 16px,
        ),
        line-height: (
          md: 19px,
          xl: 21px,
        )
      ))
    }
  }
  &__subtitle-row {
    align-items: center;
    margin-top: 0;
    margin-bottom: 26px;
    padding: 0 12px 0 30px;
    height: 35px;
    @include media-query((
      padding: (
        sm: 0 18px 0 60px,
        md: 0 18px 0 75px,
        lg: 0px 28px 0px 70px,
        xl: 0px 76px 0px 76px
      ),
      margin-bottom: (
        sm: 2px
      )
    ))
  }
}
