.e-commerce-signing-of-documents {
  &__loading,
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .icon {
      color: #7585A1;
    }

    .title {
      @extend %erth--h4;
      color: #7585A1;
      mix-blend-mode: normal;
    }
  }

  &__error {
    color: #E31E24;

    .icon svg {
      width: 48px;
    }

    > * {
      color: inherit !important;
    }
  }

  &__hint {
    padding: 32px 24px 40px;
    background: #F0F7FA;
    border-radius: 12px;

    @media screen and (max-width: 640px) {
      display: none;
    }

    h4 {
      @extend %erth--h4;
      margin-bottom: 16px;
    }

    ol {
      margin-left: 16px;
    }

    ol li {
      @extend %erth--h6;
    }

    ol li span.text {
      @extend %erth--body;
    }
  }
}
