@each $key, $values in $erth-indentation {
  @each $breakpoint, $value in $values {
    @include min-breakpoint($breakpoint, $erth-grid-breakpoints) {
      .mt--#{$key} {
        margin-top: $value !important;
      }

      .mr--#{$key} {
        margin-right: $value !important;
      }

      .mb--#{$key} {
        margin-bottom: $value !important;
      }

      .ml--#{$key} {
        margin-left: $value !important;
      }

      .mx--#{$key} {
        margin-right: $value !important;
        margin-left: $value !important;
      }

      .my--#{$key} {
        margin-top: $value !important;
        margin-bottom: $value !important;
      }

      .ma--#{$key} {
        margin: $value !important;
      }


      .pt--#{$key} {
        padding-top: $value !important;
      }

      .pr--#{$key} {
        padding-right: $value !important;
      }

      .pb--#{$key} {
        padding-bottom: $value !important;
      }

      .pl--#{$key} {
        padding-left: $value !important;
      }

      .px--#{$key} {
        padding-right: $value !important;
        padding-left: $value !important;
      }

      .py--#{$key} {
        padding-top: $value !important;
        padding-bottom: $value !important;
      }

      .pa--#{$key} {
        padding: $value !important;
      }
    }
  }
}
