$pre: '.er-document';

$header-transition: .1s ease-in-out;

#{$pre}--blank {
  background: map_get($shades, 'white');

  #{$pre}__header {
    transition: background-color $header-transition;
  }

  #{$pre}__footer {
    display: none;

    @include min-breakpoint('md') {
      display: inherit;
    }
  }

  @include min-breakpoint('md') {
    &:hover {
      #{$pre}__header {
        background-color: map_get($yellow, 'base');
      }
    }
  }
}
