.promise-on {
  position: relative;
  background: map_get($gray, '3');
  z-index: 2;
  left: -313px;
  top: 47px;
  min-height: 332px;
  @include media-query((
    min-height: (
      sm: 257px,
      md: 293px,
      xl: 332px,
    ),
  ));
  & .er-card__content {
    background: map_get($green, 'other-4') !important;
  }
  &__container {
    width: 100% !important;
    margin-left: 313px !important;
    margin-top: -43px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include media-query((
      width: (
        xl: 95% !important,
      ),
      margin-top: (
        xl: -24px
      )

  ));

  }
  &__card-height {
    height: 168px !important;
    @include media-query((
      height: (
        sm: 96px !important,
        md: 120px !important,
        xl: 159px !important,
      ),
    ));
  }
  &__icon-height svg {
    position: absolute;
    width: 64px !important;
    left: 14px;
    top: 14px;
    color: map_get($green, 'base');
    @include media-query((
      top: (
        md: 20px,
        lg: 12px,
      ),
      width: (
        md: 80px !important,
        lg: 96px !important,
        xl: 128px !important,
      ),
    ));
  }
  &__pos {
    position: relative;
    left: 70px;
    top: 3px;
    @include media-query((
      left: (
        md: 100px,
        xl: 147px,
      ),
      top: (
        md: 13px,
        xl:22px
      ),
      width: (
        sm: 163px,
        md: 185px,
        xl: 225px,
      ),
    ));
    &__time-title {
      position: absolute;
      top: 88px;
      left: 86px;
      width: 128px;
      font: 13px/18px $fedra-book;
      letter-spacing: 0.25px;
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        left: (sm: auto),
        top: (
          sm: 22px,
          md: 26px,
          xl: 44px
        ),
        right: (
          sm: -18px,
          md: 14px,
          lg: 25px
        ),
        font-size: (
          md: 14px,
          xl: 16px
        ),
        line-height: (
          md: 19px,
          xl: 21px
        ),
        letter-spacing: (
          md: normal,
          xl: -0.5px
        )
      ))
    }
  }
  &__timer {
    &__day {
      display: inline-block;
      margin-right: 8px;
      @include media-query((
        margin-right: (md: 16px,)
      ));
      &__value {
        opacity: 0.8;
      }
    }
    &__hour {
      display: inline-block;
      margin-right: 8px;
      @include media-query((
        margin-right: (md: 16px,)
      ));
      &__value {
        opacity: 0.5;
      }
    }
    &__min {
      display: inline-block;
      &__value {
        opacity: 0.3;
      }
    }
    &__text {
      margin-top: -3px;
      font: 10px/120% $fedra-demi;
      letter-spacing: 0.5px;
      color: rgba(map_get($shades, 'black'), 0.5);
      @include media-query((
        font-size: (
          md: 12px,
        ),
        line-height: (
          md: 16px,
        ),
        letter-spacing: (
          md: normal
        )
      ))
    }
  }
  &__butt {
    position: relative;
    top: 36px;
    max-width: 127%;
    width: 288px;
    @include media-query((
      max-width: (sm: 100% !important),
      width: (
        sm: 208px
      ),
      left: (
        sm: 0px
      ),
      top: (
        sm: 33px,
        md: 39px,
      ),
    ));
  }
}
#preloaderPromiseOn {
  position: relative;
  background: transparent;
  text-align: start;
  left: 14px;
  top: 3px;
  @include media-query((
    left: (
      md: 17px,
      xl: 22px
    ),
    top: (
      md: 9px
    ),
  ));
}
