.edit-company-page {
  &__title {
    font: map_get($title, 'large');
    @include media-query((
      font: (md: map_get($title, 'xl'))
    ))
  }

  &__welcome-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0 26px;
    @include media-query((
      flex-direction: (md: column),
      align-items: (md: flex-start),
      margin: (
        xl: 4px 0 48px
      )
    ));

    &__back-link {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      @include media-query((
        margin-bottom: (xs: 0, md: 8px)
      ));

      &__icon {
        display: inline-block;

        &.desktop {
          @include media-query((
            display: (xs: none, md: inline-block)
          ));

          svg {
            width: 16px;
          }
        }

        &.mobile {
          @include media-query((
            display: (xs: inline-block, md: none)
          ));
          padding-right: 8px;

          svg {
            transform: rotate(-90deg);
            color: map_get($yellow, 'base');
            width: 18px;
          }
        }
      }

      &__label {
        margin-left: 11px;
        font: map_get($text, 'xs');
        font-family: $fedra-demi;
        @include media-query((
          display: (xs: none, md: inline-block)
        ));
      }

      &:hover {
        color: rgba(map_get($shades, 'black'), 0.8);

        * > svg {
          color: map_get($yellow, 'base');
        }
      }

      &:active {
        color: map_get($yellow, 'base');
      }
    }
  }
  &__required-label {
    position: relative;
    padding-left: 12px;
    display: inline-flex;
    margin-bottom: 38px;
    font: map_get($text, 'xs');
    & span {
      opacity: .5;
    }
    &:before {
      opacity: 1;
      position: absolute;
      top: 3%;
      left: -1px;
      font-size: 28px;
      text-align: center;
      display: inline-flex;
      content: '\2022';
      color: map_get($yellow, 'base');
    }
  }
}
