.ppr-text
  p
    | Уважаемый клиент!
    | Информируем Вас о проведении планово-профилактических работ (ID: {{ data.externalId }}) по адресам:
    br
    template(v-for="addr in addressList")
      | {{ addr }},
    | направленных на улучшение качества предоставляемых услуг.
  p
    | С {{ startDate }} по {{ endDate }} (местное время), возможно, будет наблюдаться прерывание в предоставлении услуг связи.

  p
    | Спасибо за понимание! Мы работаем над повышением качества услуг для Вас
