@mixin transition-default () {
  &-enter-active,
  &-leave-active {
    transition: $primary-transition;
  }
  &-move {
    transition: transform 600ms;
  }
}

.scale-transition {
  @include transition-default();

  &-enter,
  &-leave,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.slide-y-transition {
  @include transition-default();

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.slide-y-reverse-transition {
  @include transition-default();

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.slide-x-transition {
  @include transition-default();

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.slide-x-reverse-transition {
  @include transition-default();

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
}

.dialog-bottom-transition {
  &-enter, &-leave-to {
    transform: translateY(100%);
  }
}

.fade-transition {
  &-enter-active,
  &-leave-active {
    transition: opacity 500ms;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.dialog-transition {
  &-enter, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-to, &-leave {
    opacity: 1;
  }
}

.fab-transition {
  @include transition-default();

  &-enter,
  &-leave-to {
    transform: scale(0) rotate(-45deg);
  }
}
