
$pre: '.er-ip-page';

#{$pre} {
  &__actions {
    margin-top: $padding-x8;

    @include min-breakpoint('md') {
      margin-top: $padding-x10;
    }
  }

  &__add-ip-form {
    margin-top: $padding-x16;
  }

  &__loader {
    text-align: center;
  }
}

.ip-table {
  width: 100%;
  border-collapse: collapse;

  th:first-child,
  td:first-child {
    text-align: left;
    padding-left: $padding-x4;
  }

  th:last-child,
  td:last-child {
    padding-right: $padding-x4;
  }

  thead {
    display: none;

    @include min-breakpoint('sm') {
      display: table-header-group;
    }
  }

  .t-row:nth-child(odd) {
    td {
      background-color: map_get($shades, 'white');
    }
  }

  th {
    @extend %caption2;
    padding-bottom: $padding-x4;
    text-align: left;

    &:not(:empty) {
      &::after {
        content: ":"
      }
    }
  }

  .t-row2 {
    td {
      padding-top: $padding-x1;
      padding-bottom: $padding-x2;
    }
  }

  .t-row td {
    padding: {
      top: $padding-x4;
      bottom: $padding-x4;
    }

    @include min-breakpoint('sm') {
      padding: {
        top: $padding-x2;
        bottom: $padding-x2;
      }
    }

    @include min-breakpoint('md') {
      padding: {
        top: $padding-x1;
        bottom: $padding-x1;
      }
    }
  }

  td.col-static-ip {
    @extend %h4;
  }

  .evil-designer-block {
    display: flex;

    *:first-child {
      margin-right: $padding-x4;
    }

    @include min-breakpoint('sm') {
      display: none;
    }
  }

  &__protocol {
    @extend %body-font;
    @include color-black(.5);
  }

  &__active-date {
    @extend %body-font;
    @include color-black(.5);
  }

  .col-protocol {
    display: none;

    @include min-breakpoint('sm') {
      display: table-cell;
    }
  }

  .col-active-date {
    display: none;

    @include min-breakpoint('sm') {
      display: table-cell;
    }
  }

  .col-price {
    white-space: nowrap;
    width: 10%;

    .no-price {
      @extend %caption1;
      color: map_get($green, 'base');
    }

    .price {
      display: flex;
      flex-direction: column;

      @include min-breakpoint('sm') {
        display: block;
      }
    }
  }

  .col-actions {
    width: 5%;
    white-space: nowrap;
    padding-right: $padding-x4;
    padding-left: $padding-x6;
    text-align: right;
  }
}

.total-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: map_get($ui, 'border-radius');
  background-color: map_get($gray, '4');

  padding: {
    top: $padding-x2;
    left: $padding-x4;
    right: $padding-x4;
    bottom: $padding-x2;
  }

  @include min-breakpoint('md') {
    padding: {
      left: $padding-x6;
      right: $padding-x6;
      top: 0;
      bottom: 0;
    }
  }

  @include min-breakpoint('xl') {
    padding: {
      left: $padding-x8;
      right: $padding-x8;
    }
  }

  &__label {
    @extend %body-font;
    user-select: none;

    &::after {
      content: ":";
    }
  }
}

.add-ip-form {
  &__title {
    margin-bottom: $padding-x8;
    @extend %h2;
  }

  &__inputs {
    margin-bottom: $padding-x8;

    @include min-breakpoint('md') {
      margin-bottom: $padding-x10;
    }

    .container {
      @extend %container-8;
    }
  }

  .column {
    &:not(:first-child) {
      margin-top: $padding-x4;

      @include min-breakpoint('sm') {
        margin-top: 0;
      }
    }

    &__label {
      @extend %caption2;
      margin-bottom: $padding-x1;
    }

  }

  &__actions {
    .er-button {
      margin-bottom: $padding-x2;

      @include min-breakpoint('sm') {
        margin-bottom: 0;
      }
    }

    .container {
      @extend %container-8;
    }
  }
}
