.er-input {
  display: flex;
  align-items: flex-start;
  flex: 1 1 auto;
  &__control {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    //flex-wrap: wrap;
    width: 100%;
  }
  &__slot {
    display: flex;
    align-items: center;
    margin: { bottom: 4px };
    min-height: inherit;
    position: relative;
    transition: $primary-transition;
    width: 100%;
  }
  &__required-label {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: map_get($red, 'other-5');
    position: absolute;
    left: 0;
    top: -21px;
  }
}
