.promise-payment-page {

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .ert-progress-circular {
      @include color-black(0.3);
      margin-right: $padding-x4;
    }

    .title {
      @include color-black(0.8);
      @extend %h4-font;
    }
  }

  &__info {
    @extend %body-font;
    @include color-black(0.8);
  }

  &__activation-button {
    width: 100%;

    @include min-breakpoint('sm') {
      max-width: 224px;
    }
  }

  &__confirm-dialog,
  &__success-dialog,
  &__error-dialog {
    background-color: map-get($shades, 'white');
    padding: $padding-x6;

    @include min-breakpoint('xl') {
      padding: $padding-x8;
    }

    &__icon > i > svg {
      width: 64px !important;
    }

    &__title {
      @extend %h4-font;
      @include color-black(0.8);
    }

    &__actions {
      display: flex;
    }

    &__action {
      width: 100%;
    }

    &__warning,
    &__description {
      @extend %caption1-font;
      margin-bottom: 220px;

      @include min-breakpoint('sm') {
        margin-bottom: 129px;
      }

      @include min-breakpoint('md') {
        margin-bottom: 99px;
      }

      @include min-breakpoint('xl') {
        margin-bottom: 114px;
      }
    }

    &__description {
      @include color-black(0.5);
    }
  }

  &__confirm-dialog {
    &__icon {
      color: map-get($yellow, 'base');
    }

    &__warning {
      color: map-get($red, 'base');
    }
  }

  &__success-dialog {
    &__icon {
      color: map-get($green, 'base');
    }
  }

  &__error-dialog {
    &__icon {
      color: map-get($red, 'base');
    }
  }

  &__card {
    width: 100%;
    background: $border-gradient;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgba(map-get($shades, 'black'), 0.05);
    padding: 1px;
    user-select: none;

    .wrapper {
      padding: $padding-x4;
      border-radius: inherit;
      display: flex;
      flex-direction: column;

      @include min-breakpoint('sm') {
        flex-direction: row;
        align-items: center;
      }

      @include min-breakpoint('md') {
        padding: $padding-x4 $padding-x6;
      }

      @include min-breakpoint('lg') {
        padding: $padding-x4 $padding-x8;
      }
    }

    .sub-wrapper {
      display: flex;
      align-items: center;
    }

    .icon > i > svg {
      width: 64px;

      @include min-breakpoint('md') {
        width: 80px;
      }

      @include min-breakpoint('lg') {
        width: 96px;
      }

      @include min-breakpoint('xl') {
        width: 128px;
      }
    }

    .title {
      @extend %h3-font;
      @include color-black(0.8);
    }

    .timer {
      margin-left: 72px;

      @include min-breakpoint('sm') {
        margin-left: auto;
      }
    }

    .timer .caption {
      @extend %body-font;
      @include color-black(0.8);
    }

    .timer .value {
      display: flex;
    }

    .timer .value > div {
      @extend %h2-font;

      &.days {
        @include color-black(0.8);
      }

      &.hours {
        @include color-black(0.5);
      }

      &.minutes {
        @include color-black(0.3);
      }

      span {
        display: block;
        @extend %caption2-font;
        @include color-black(0.5);
      }
    }

    &.success .wrapper {
      background: map-get($green, 'other-4');
    }

    &.success .icon {
      color: map-get($green, 'base');
    }

    &.error .wrapper {
      background: map-get($red, 'other-2');
    }

    &.error .icon {
      color: map-get($red, 'base');
    }
  }

  &__error {
    display: flex;
    flex-direction: column;

    @include min-breakpoint('sm') {
      flex-direction: row;
    }

    .icon {
      color: map-get($red, 'base');
    }

    .icon > i > svg {
      width: 64px;

      @include min-breakpoint('md') {
        width: 80px;
      }

      @include min-breakpoint('lg') {
        width: 96px;
      }

      @include min-breakpoint('xl') {
        width: 128px;
      }
    }

    .info .title {
      @extend %h3-font;
      @include color-black(0.8);
    }

    .info .description {
      @extend %body-font;
      @include color-black(0.8);
    }

    .personal-manager .caption {
      @extend %caption2-font;
      @include color-black(0.3);
    }

    .personal-manager .value {
      @extend %body-font;
      @include color-black(0.8);
    }

    .personal-manager .value.name {
      @extend %h4-font;
      @include color-black(0.8);
    }
  }
}
