/** SEARCH **/
.search-field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  &__count {
    font: map_get($text, 'medium');
    color: rgba(map_get($shades, 'black'), 0.5);
    margin-right: 30px;
    margin-top: 16px;
    @include media-query((
      display: (xs: none, lg: block)
    ));
  }
  &__form {
    box-sizing: border-box;
    position: absolute;
    width: 95px;
    display: block;
    margin-right: 30px;
    top: 5px;
    @include media-query((
      position: (md: relative),
      width: (sm: 210px, md: 264px),
      display: (lg: none),
      top: (md: 2px)
    ));
    right: 0;
    z-index: map_get($z-index, 'search-field');
    &:hover {
      transition: width .2s cubic-bezier(0.000, 0.795, 0.000, 1.000), right .05s ease;
    }
    &--active {
      right: 5px;
      width: calc(100% - 67px);
      @include media-query((
        right: (sm: 15px, md: 0),
        width: (sm: 57%)
      ));
      & > .er-text-field > .er-input__control > .er-input__slot {
        //border: 1px solid map_get($yellow, 'base') !important;
        @include media-query((
          border: (lg: none)
        ));
      }
    }
    &__input {
      .er-text-field__slot {
        overflow: hidden;
        label {
          overflow: hidden;
          width: 100%;
        }
      }
      .er-messages {
        display: none;
      }
      &.er-text-field > .er-input__control > .er-input__slot {
        label {
          top: -1px;
          @include media-query((
            top: (md: 0)
          ))
        }
        border: 0;
        min-height: 32px;
        @include media-query((
          border: (
            md: 1px solid rgba(map_get($shades, 'black'), 0.2)
          ),
          min-height: (sm: 34px, md: 40px)
        ));
        .main-profile-page & {
          min-height: 40px;
        }
        margin-bottom: 0;
        & .er-input__append-inner {
          margin-right: -10px;
          @include media-query((
            margin-right: (sm: 0, md: -10px)
          ));
        }
        & input {
          @include media-query((
            font: (
              sm: map_get($text, 'xs'),
              md: map_get($text, 'small')
            )
          ));
        }
      }
    }
  }
}
