.pay-card {
  &__card-butt {
    position: absolute;
    width: 480px !important;
    height: 92px !important;
    background: map_get($gray, '13');
    border-radius: 12px;
    z-index: 3;
    cursor: pointer;
    &__container {
      position: absolute;
      height: 100px;
      display: block;
      z-index: 1;
      @include media-query((
        display: (md: none),
        margin-top: (
          md: 46px
        ),
      ));
    }
    &__lateral-left {
      position: absolute;
      width: 60px !important;
      left: -39px;
      cursor: pointer;
      z-index: 1;
      top: 0;
      background: map_get($shades, 'white');
      border-radius: 12px;
      @include media-query((
        width: (sm: 97px !important),
        background: (sm: transparent)
      ));
    }
    &__lateral-right {
      position: absolute; //relative;
      width: 100px !important;
      background: map_get($shades, 'white');
      border-radius: 12px;
      right: -39px; //-24px;
      top: 0; //
      z-index: 1;
      cursor: pointer;
      @include media-query((
        right: (sm: -4px),
        background: (sm: transparent)
      ));
      &__next {
        @extend .pay-card__card-butt__lateral-right;
        right: -44px;
        @include media-query((
          right: (sm: -4px)
        ));
      }
    }
    &__card-height {
      height: 160px;
    }
    &__left {
      width: 320px !important;
      background: map_get($gray, '3');
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      height: 92px;
      .er-card__content {
        height: 92px !important;
      }
    }
    & img {
      width: 186px !important;
    }
    & h2 {
      position: relative;
      left: 222px;
   }
    &__top {
      top: -116px;
      display: none;
      background: map_get($gray, '13');
      transition: 1s;
      @include media-query((
        display: (md: block)
      ));
    }
    &__bottom {
      bottom: -116px;
      display: none;
      background: map_get($gray, '13');
      opacity: 0;
      transition: 1s;
      @include media-query((
        display: (md: block)
      ));
      &__first {
        bottom: -157px;
      }
    }
  }
  &__auto-pay {
    top: 0;
    left: 324px;
    position: absolute;
    display: flex;
    &__next {
      @extend .pay-card__auto-pay;
      top: 53px;
      left: 346px;
    }
    &__ertoogle {
      position: relative;
      max-width: 30px;
      margin-top: -16px;
    }
    &__title {
      margin-left: 10px;
      margin-top: -4px;
      font-family: $fedra-demi;
      color: map_get($green, 'base');
      @include media-query((
        font-size: (
          md: 13px,
          xl: 14px,
        ),
        line-height: (
          md: 16px,
          xl: 19px
        ),
      ));
    }
  }
  &__cvc {
    position: relative;
    left: 38px;
    top: 118px;
    background: transparent;
    height: 91px;
    width: 220px;
    display: flex;
    @include media-query((
      display: (
        sm: unset
      ),
      width: (
        sm: 100px
      ),
      left: (
        sm: 149px,
        md: 223px
      ),
      top: (
        sm: 64px,
        md: 103px,
      ),
    ));
    &__empty {
      left: 26px;
    }
    &__label {
      font: 11px/16px $fedra-demi;
      letter-spacing: 0.35px;
      color: rgba(map_get($shades, 'black'), 0.8);
      @include media-query((
        font-size: (
          md: 13px,
          lg: 13px,
          xl: 14px,
        ),
        line-height: (
          md: 16px,
          lg: 16px,
          xl: 19px
        ),
        letter-spacing: (md: normal),
      ));
      &__empty {
        color: map_get($shades, 'white');
      }
    }
    &__value {
      position: unset;
      width: 82px;
      height: 32px;
      left: 0;
      top: 49px;
      margin-left: 16px;
      margin-top: -8px;
      border-radius: 8px;
      background: white;
      font: 20px/25px $fedra-demi;
      color: rgba(map_get($shades, 'black'), 0.8);
      letter-spacing: -1px;
      @include media-query((
        display: (
          position: absolute
        ),
        margin-left: (
          sm: 0
        ),
        margin-top: (
          sm: 10px,
          md: 0,
        )
      ));

      & .er-text-field > .er-input__control > .er-input__slot {
        height: 32px;
        min-height: 32px !important;
      }
    }
  }
  &__inf {
    position: relative;
    width: 360px;
    height: 161px;
    margin: 0 auto;
    top: 68px;
    @include media-query((
      position: (
        md: absolute
      ),
      right: (
        md: 51px,
        xl: 0
      ),
      top: (
        sm: 68px,
      ),
    ));
  }
  &__indicators {
    position: relative;
    width: 4px;
    height: 161px;
    margin: 0 auto;
    top: 162px;
    transform: rotate(-90deg);
    @include media-query((
      position: (
        md: absolute
      ),
      right: (
        md: 51px,
        xl: 0
      ),
      top: (
        sm: 115px,
        md: 114px),
      transform: (md: rotate(0deg))
    ));
    &__line {
      position: absolute;
      width: 4px;
      height: 97px;
      background: white;
      border-radius: 2px;
      z-index: 1;
    }
    &__circle {
      position: relative;
      width: 4px;
      height: 4px;
      left: 0px;
      margin-bottom: 12px;
      background: map_get($gray, '24');
      border-radius: 2px;
      cursor: pointer;
      &__down {
        @extend .pay-card__indicators__circle;
        top: 60px;
      }
      &:hover {
        background: map_get($yellow, 'base');
      }
    }
  }
  &__move {
    position: absolute;
    top: -48px;
    left: 8px;
    transition: 1s;
    //padding-left: 24px;
    @include media-query((
      transition: (
        sm: 0.5s
      ),
      top: (
        md: 0,
      ),
      padding-left: (
        md: 26px,
        xl: 11px
      )
  ));
  }
  &__container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__icon-height {
    vertical-align: unset !important;
    svg {
      height: 16px;
      margin-left: -7px;
    }
  }
  &__icon-span {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 50px;
    font: 11px/16px $fedra-demi;
    letter-spacing: 0.35px;
    @include media-query((
      width: (
        sm: 160px,
      ),
      font-size: (
        md: 13px,
        xl: 14px,
      ),
      line-height: (xl: 19px),
      letter-spacing: (
        md: normal,
        lg: 0.35px,
        xl: normal
      )
    ));
  }
  &__card-height {
    height: 160px;
    @include media-query((
      height: (
        md: 208px,
        lg: 208px,
        xl: 208px,
      ),
    ));
  }
  &__remcard {
    display: flex;
    position: relative;
    top: 55px;
    height: 15px;
    @include media-query((
      top: (md: 60px),
    ));
    &__ertoogle {
      position: relative;
      max-width: 30px;
      margin-top: -16px;
      transform: scale(0.8);
      @include media-query((
        transform: (md: none),
        margin-top: (
          md: -11px,
          lg: -16px
        )
      ));
    }
    &__title {
      border-bottom: 1px dashed black;
      margin-left: 4px;
    }
    &__hint {
      margin-left: 8px;
      margin-top: -16px;
      @include media-query((
        margin-top: (md: -6px),
      ));
    }
    &__hint-card {
      width: 30px;
      margin-left: 8px;
      margin-top: -2px;
    }
    &__text {
      position: relative;
      top: -10px;
      font: 11px/16px $fedra-demi;
      color: rgba(map_get($shades, 'black'), 0.8) !important;
      margin-top: -3px !important;
      margin-left: 0 !important;
      @include media-query((
        margin-top: (md: 0 !important),
        top: (md: 0),
        margin-left: (md: 4px !important),
      ));
    }
  }
  &__card-title {
    display: flex;
    position: relative;
    top: 20px;
    @include media-query((
      top: (md: 33px),
    ));
    &__delete {
      position: absolute;
      bottom: 19px;
      left: 25px;
      &__icon svg {
        width: 24px !important;
        @include media-query((
          width: (md: 32px !important),
        ));
      }
      &__text {
        font: 11px/16px $fedra-demi !important;
        color: rgba(map_get($shades, 'black'), 0.5) !important;
        height: min-content;
        margin-top: 2px;
        margin-left: 4px;
        @include media-query((
          margin-top: (md: 6px),
        ));
      }
    }
    &__autopay {
      color: map_get($green, 'base');
      position: absolute;
      top: 25px;
      left: 146px;
      font: 11px/16px $fedra-demi;
      letter-spacing: 0.35px;
      color: rgba(map_get($shades, 'black'), 0.3);
      @include media-query((
        top: (md: 21px),
        left: (md: 201px),
        font-size: (
          md: 13px,
          lg: 13px,
          xl: 14px,
        ),
        line-height: (
          md: 16px,
          lg: 16px,
          xl: 19px
        ),
        letter-spacing: (md: normal),
      ));
      &__icon svg{
        width: 16px !important;
        margin-right: 5px;
      }
      &__span {
        font-family: $fedra-demi !important;
        color: map_get($green, 'base') !important;
      }
    }
    &__circle {
      height: 13px;
      width: 73px !important;
      margin-top: 21px;
      margin-right: 6px;
      margin-left: 2px;
      @include media-query((
        margin-top: (
          md: 33px
        ),
        height: (
          md: 16px
        ),
        margin-right: (
          md: 9px
        ),
        margin-left: (
          md: 9px
        )
      ));
    }
    &__next {
      position: relative;
      top: 14px;
      letter-spacing: -1px;
      @include media-query((
        top: (md: 26px),
      ));
    }
    &__label {
      position: relative;
      top: 12px;
      font: 11px/16px $fedra-demi;
      letter-spacing: 0.35px;
      color: rgba(map_get($shades, 'black'), 0.3);
      @include media-query((
        top: (md: 22px),
        font-size: (
          md: 13px,
          lg: 13px,
          xl: 14px,
        ),
        line-height: (
          md: 16px,
          lg: 16px,
          xl: 19px
        ),
        letter-spacing: (md: normal),
      ));
    }
  }
  &__card-row {
    flex-wrap: nowrap !important;
    @include media-query((
      flex-wrap: (
        md: wrap !important
      ),
      margin-left: (
        md: -9px !important,
      ),
      padding-left: (
        xs: 30px,
        md: 0
      )
    ));
  }
  &__card {
    position: relative;
    padding: 0 !important;
    background: url("../../../../../../../static/get-check-bg.png") no-repeat center;
    z-index: 2;
    @include media-query((
      width: (
        xs: 256px !important,
        md: 336px !important,
      ),
    ));
    &__bg {
      position: absolute;
      top: -160px;
      left: 0;
      z-index: 1;
      padding: 0 !important;
      background: transparent !important;
      transition: 1s;
      @include media-query((
        transition: (
          sm: .5s
        ),
        left: (
          sm: 0px,
          md: 128px
        ),
        top: (
          sm: -151px,
          md: -198px
        ),
        width: (
          xs: 256px !important,
          md: 336px !important,
        ),
      ));
      &__content {
        background: map_get($gray, '4');
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        &__next {
          background: radial-gradient(50% 50% at 50% 50%, map_get($yellow, 'base') 55.5%, map_get($yellow, 'other-4') 100%);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
          border-radius: 12px;
        }
      }
      &__strip {
        position: absolute;
        height: 28px;
        width: 100%;
        background: map_get($gray, '34');
        top: 24px;
        &__next {
          @extend .pay-card__card__bg__strip;
          background: map_get($yellow, 'other-9');
          transform: matrix(1, 0, 0, -1, 0, 0);
          &__empty {
            background: map_get($shades, 'black');
            opacity: 0.2;
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
      &__empty {
        background: map_get($red, 'base');
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
      }
    }
    &__img-bg {
      width: 193px !important;
      margin-left: 39px;
      margin-top: -1px;
      @include media-query((
        width: (
          md: 256px !important,
        ),
        margin-left: (
          md: 59px
        ),
        margin-top: (
          md: 14px
        )
      ));
    }
    &__deleted {
      position: relative;
      background: map_get($gray, '13');
      margin: -15px 0 0 -18px;
      padding: 15px 0 0 18px;
      top: -159px;
      left: 35px;
      z-index: 8;
      height: 248px;
      width: 279px;
      @include media-query((
        top: (
          md: 85px
        ),
        left: (md: 0),
        width: (md: 500px),
      ));
      &__size {
        height: 160px;
        width: 256px;
        @include media-query((
          height: (md: 208px),
          width: (md: 336px),
        ));
      }
      &__content {
        background: map_get($red, 'other-2');
        border: 1px solid map_get($red, 'base');
        box-sizing: border-box;
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 8px 6px rgba(0, 0, 0, 0.02);
        border-radius: 12px;
      }
      &__text {
        position: absolute;
        width: 111px;
        height: 21px;
        left: 58px;
        top: 77px;
        font-family: $fedra-book;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.5px;
        color: map_get($red, 'base');
      }
      &__icon {
        position: absolute;
        left: 95px;
        top: 34px;
        opacity: 0.1;
        &__size svg {
          width: 104px !important;
        }
      }
    }
  }
  &__card-pos {
    flex-basis: auto !important;
    padding: 0 !important;
    margin-bottom: 66px;
    top: 48px;
    //background: aqua;
    //left: 24px;
    //margin-right: 75px;
    @include media-query((
      margin-bottom: (
        sm: 0,
        md: 66px
      ),
      /*
      margin-right: (
        sm: 152px,
        md: 0
      ),
      */
    ));
    &__right-top {
      @include media-query((
        margin-right: (
          md: 16px,
        )
      ));
    }
  }
  &__logo {
    position: relative;
    top: 24px;
    left: 24px;
    &__img1 {
      width: 48px !important;
      @include media-query((
        width: (md: 64px !important),
      ))
    }
    img {
      width: 71px;
      @include media-query((
        width: (
          md: 64px,
          lg: 99px,
        ),
        top: (md: 20px),
      ))
    }
    &__card {
      @extend .pay-card__logo;
      top: 24px;
      img {
        @include media-query((
          width: (xl: 99px)
        ))
      }
    }
    &__top {
      top: 51px;
      &__next {
        top: 44px;
      }
    }
    &__top-h2 {
      top: 10px;
      width: 100px;
    }
    &__bottom  {
      left: 204px !important;
      top: -36px;
      width: 100px;
      &__next {
        width: 100px;
        top: -18px;
      }
    }
  }
  &__confirm {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 544px;
    height: 416px;
    background: map_get($shades, 'white');
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    z-index: 7;
    margin: auto;
    &__content {
      position: absolute;
      left: 31px;
      top: 26px;
    }
    &__icon-height svg {
      position: absolute;
      width: 52px !important;
      left: 0px;
      top: 0px;
      color: map_get($yellow, 'base');
    }
    &__container-button {
      position: absolute;
      padding: 0 32px 0 32px !important;
      bottom: 32px;
    }
    &__close svg {
      opacity: 0.2;
      width: 16px !important;
      position: absolute;
      right: 29px;
      top: 29px;
      cursor: pointer;
    }
    &__decimal {
      opacity: .3;
    }
    &__currency {
      margin-top: 6px;
      margin-left: 4px;
      opacity: .3;
    }
  }
}
.er-hint__message {
  width: 80% !important;
}
