.er-preloader {
  position: relative;
  &__preloader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, map_get($gray, '1') 8%, map_get($gray, '16') 38%, map_get($gray, '1') 54%);
    background-size: 1000px 640px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
