.period-list {
  table {
    width: 100%;
    border-collapse: collapse;

    th:first-child,
    td:first-child {
      text-align: left;
      @include content-padding('left');
    }

    th:last-child,
    td:last-child {
      width: 5%;
      white-space: nowrap;
      @include content-padding('right');
    }

    td {
      height: $padding-x10;
    }

    thead {
      tr {
        td {
          @extend %caption2;
        }
      }
    }

    tbody {
      tr {
        td {
          @extend %body;
        }
      }

      tr:nth-child(odd) {
        td {
          background-color: rgba(map_get($shades, 'black'), .05);
        }
      }
    }
  }
}
