.period-list
  table
    thead
      tr
        td.col-period-day
          | День недели
        td.col-period-time
          | Период времени
        td.col-action

    tbody
      tr(v-for="item in list")
        td.col-period-day {{ item.days }}
        td.col-period-time {{ item.time }}
        td.col-action
          er-delete-button
