er-dialog(
  :value="active"
  :contentClass="contentClass"
  @update:returnValue="onClose()"
)
  .er-dialog-advanced__modal
    button.er-dialog-advanced__close(
      type="button"
      @click="onClose()"
      @click-outside="onClose()"
      ref="content"
    )
      er-icon(name="close")

    .er-dialog-advanced__body
      .er-dialog-advanced__icon
        er-icon(:name="icon")

      .er-dialog-advanced__content
        .er-dialog-advanced__title
          slot(name="title")

        .er-dialog-advanced__text
          slot

        .er-dialog-advanced__status
          slot(name="status")

    .er-dialog-advanced__actions
      slot(name="actions")
