.stat-filter
  p позволит дополнить вашу клиентскую базу — эти данные вы можете использовать для формирования аудитории на онлайн&#8209;платформах последующего запуска контекстной рекламы. C Wi&#8209;Fi для бизнеса вы увидите контакты клиентов, количество уникальных и повторных пользователей, тип авторизации и используемые устройства.
