.vc-promo {
  .promo-component {
    display: flex;
    flex-direction: column;

    &__download-offer-wrapper {
      display: none;
    }

    &__banner {
      order: -1;
      margin-top: 0;
      margin-bottom: $padding-x8;
      padding-top: 0;
    }
  }
}
