er-promo(
  class="vc-promo"
  banner="videocontrol-promo.png"
  :featureList="featureList"
  :link-to-connect="link"
  plug-text="Подключить видеонаблюдение"
)
  template(v-slot:extraButtons)
    er-button(
      @click="onClickDemo"
      flat
    ) Демо
