.ddos-page {
  margin-bottom: -55px;
  padding-bottom: 55px;
  overflow: hidden;
  padding-top: $padding-x10;
  @include media-query(
      (
        padding-left: (
          sm: $padding-x6,
          xl: $padding-x12
        ),
        padding-right: (
          sm: $padding-x6,
          xl: $padding-x12
        ),
        padding-top: (
          md: $padding-x12,
          xl: $padding-x8
        ),
        overflow: (
          md: visible
        )
      )
    );
  &__h4 {
    @extend %h4
  }
  &__caption2 {
    @extend %caption2;
    white-space: nowrap;
  }
  &__header {
    margin-top: $padding-x6;
    margin-bottom: $padding-x6;
    @include media-query(
      (
        margin-top: (
          md: $padding-x8,
          lg: $padding-x12,
          xl: $padding-x8
        ),
        margin-bottom: (
          md: $padding-x8,
          xl: $padding-x12
        )
      )
    );
  }
  &__points {
    margin: 0 -8px;
    margin-bottom: $padding-x10;
    @include media-query(
      (
        margin: (
          sm: 0 -32px,
          md: 0 0px
        ),
        margin-bottom: (
          sm: $padding-x10,
          md: $padding-x12
        )
      )
    );
  }
  &__slider {
    &-buttons {
      width: 100%;
      padding-top: $padding-x6;
      display: flex;
      flex-direction: column;
      @include min-breakpoint("sm") {
        flex-direction: row;
      }
      @include min-breakpoint("lg") {
        padding-top: $padding-x8;
      }
      @include max-breakpoint("lg") {
        .er-button:first-child {
          margin-bottom: $padding-x2;
        }
      }
      .er-button:first-child {
        @include media-query(
        (
          margin-right: (
            sm: 24px,
            xl: 32px
          )
        )
      );
      }
      .er-button {
        @include color-black(0.8);
        i {
          padding-left: 4px;
          @include color-black(0.2);
          svg {
            width: $padding-x8;
          }
        }
        @include media-query(
        (
          width: (
            lg: 256px
          )
        )
      );
      }
    }
    &__date-wrapper {
      display: flex;
      padding-bottom: $padding-x4;
      /deep/.er-icon {
        padding-right: 16px;
        svg {
          width: 32px;
          @include color-black(0.2)
        }
      }
    }
    &__ips-wrapper {
      display: flex;
      /deep/.er-icon {
        padding-right: 16px;
        svg {
          width: 32px;
          @include color-black(0.2)
        }
      }
    }
  }
  &__total {
    background: map_get($gray, "4");
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: $padding-x4 $padding-x8;
    margin: 0 -12px;
    @include media-query(
      (
        margin: (
          md: 0
        ),
        padding: (
          md: $padding-x4 $padding-x6
        )
      )
    );
    .price {
      display: flex;
      align-items: baseline;
    }
    .units {
      @extend %caption1;
      @include color-black(0.5);
    }
  }
  .button {
    width: 100%;
    @include max-breakpoint('sm') {
      padding: 0 $padding-x4;
    }
    .er-button {
      @include media-query(
      (
        width: (
          sm: 256px
        )
      )
    );
    }
  }
}
